:root {
    --background: hsl(210, 9%, 13%);
    --color:      #ebebeb;
    --grey:       #85888c; /* #85888c is 0.6 * #343a40 + 0.4 * #ffffff */

    /* For dark mode, the light colors are darker than the typical ones. */
    --light-blue:   hsl(210, 50%, 15%);
    --light-green:  hsl(150, 80%, 15%);
    --light-grey:   hsl(214,  8%, 17%);
    --light-yellow: hsl( 58, 84%, 13%);

    --link-color: hsl(205, 87%, 61%);

    --arg-background:     hsl(210, 8%, 25%);
    --asm-dump:           hsl(210, 10%, 67%);
    --asm-error:          #f76970;
    --badge-background:   hsl(210, 8%, 25%);
    --cheevo-not-earned:  #343a40;
    --red-text:           hsl(357, 70%, 50%);
    --summary-background: var(--light-grey);
    --summary-color:      #ddd;
}

body > header {
    --background: #ddd;
    --color:      #343a40;
}

.card, .btn {
    border: 2px solid var(--thisColor);
    fill: var(--thisColor);
}

.color, .red, .orange, .yellow, .green, .blue, .purple {
    background: var(--light-grey);
    color: var(--thisColor);
}

select {
    background: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'><path d='M2 0L0 2h4zm0 5L0 3h4' fill='%23ebebeb'/></svg>") no-repeat right .5rem center/auto calc(100% - 1.5rem), var(--background);
}
