@font-face {
    font-family: emoji;
    src: local('Apple Color Emoji'),
         local('Noto Color Emoji'),
         /* local('Segoe UI Emoji'), Microsoft don't support country flags */
         local('Twemoji Mozilla'),
         url(../fonts/twemoji.woff2);
    unicode-range: U+2300-23FF,   /* Miscellaneous Technical */
                   U+2600-26FF,   /* Miscellaneous Symbols */
                   U+2700-27BF,   /* Dingbats */
                   U+2B00-2BFF,   /* Miscellaneous Symbols and Arrows */
                   U+1F1E6-1F1FF, /* Regional Indicator Symbols */
                   U+1F300-1F5FF, /* Miscellaneous Symbols and Pictographs */
                   U+1F600-1F64F, /* Emoticons */
                   U+1F680-1F6FF, /* Transport and Map Symbols */
                   U+1F900-1F9FF, /* Supplemental Symbols and Pictographs */
                   U+1FA70-1FAFF; /* Symbols and Pictographs Extended-A */
}
