/**
 * NOTE: These includes are hardcoded in render.go, not inlined automatically
 * from comments like the *.js `include`s
 */

/* include vendor/codemirror.css        */
/* include vendor/codemirror-dialog.css */
/* include vendor/codemirror-dark.css */
/* include hole-diff.css */

aside {
    border-left: 2rem solid var(--color);
    margin-top: 1rem;
    position: relative;
}

pre {
    font-family: emoji, 'Source Code Pro', monospace;
    line-height: 1.2;
    overflow: auto hidden;
}

.qr-span span {
    color: var(--grey);
    font-family: emoji, 'Source Code Pro', monospace;
}

aside > div {
    background: var(--background);
    border: 1px solid var(--color);
    border-left: 0;
    font-family: emoji, 'Source Code Pro', monospace;
    font-variant-ligatures: none;
    height: 8.75rem;
    line-height: 1;
    overflow: auto;
    padding: .375rem;
}

h3 {
    color: var(--background);
    background: var(--color);
}

h3.aside-title {
    bottom: -1.5rem;
    left: -2rem;
    line-height: 2rem;
    position: absolute;
    transform-origin: 0 0;
    transform: rotate(-90deg);
}

main .info {
    display: none;
    margin: 0;
    padding: .5rem;
}

section {
    display: grid;
    grid-template: auto 1fr / 1fr 16rem;
}

section header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-right: .5rem;
}

.text-red { color: var(--red-text) }

#arg, #err, #diff { display: none }

#err div, #exp div, #out div { white-space: pre }

#arg div {
    align-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    gap: .375rem;
}

#arg span {
    background: var(--arg-background);
    border-radius: .5rem;
    font-family: emoji, 'Source Code Pro', monospace;
    padding: .25rem .375rem;
    white-space: pre;
}

#arrows code { font-size: 1.5rem }
#arrows td   { font-family: emoji, 'Source Code Pro', monospace }
#arrows td:first-child { white-space: pre }
#arrows td:last-child  { width: 100% }

#authors {
    display: flex;
    font-size: 1rem;
    font-weight: normal;
    padding-left: 1rem;
}

#authors a {
    display: flex;
    gap: .25rem;
    margin-left: .25rem;
}

#authors img {
    border-radius: 50%;
    height: 1.25rem;
    width: 1.25rem;
}

#chars {
    border-bottom: 1px solid var(--color);
    font-weight: bold;
    line-height: 2rem;
}

#editor {
    border: 1px solid var(--color);
    border-right-width: 0;
    border-top-width: 2px;
    height: calc((2rem + 1px) * 7 + 2px);
    overflow-x: hidden;
}

#emojify {
    display: grid;
    gap: .5rem;
    grid-template-columns: repeat(auto-fill, minmax(4.5rem, 1fr));
}

#emojify div {
    align-items: center;
    background: var(--light-grey);
    border: 1px solid var(--color);
    display: flex;
    justify-content: space-between;
    padding: .25rem .4rem;
}

main > header {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
}

main > header a { white-space: nowrap }

main > header nav {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
}

#run {
    align-items: center;
    display: flex;
    justify-content: flex-end;
}

#run > span { margin: 0 1rem }

#scores {
    border-top: 2px solid var(--color);
    height: 100%;
}

#scores td:nth-child(n+3) { text-align: right }

#scores .bytes td:nth-child(4),
#scores .chars td:nth-child(3) { color: var(--grey) }

#status {
    display: none;
    padding: 1rem;
}

#strokes { font-weight: bold }

/* TODO Generalise the hole mapping table CSS, lose the specific IDs. */
                            #colors, #morse, #states { columns: 4 }
@media (max-width: 54rem) { #colors, #morse, #states { columns: 2 } }
@media (max-width: 30rem) { #colors, #morse, #states { columns: 1 } }

#colors svg {
    align-self: center;
    border: 1px solid var(--color);
    height: 1rem;
    margin-right: .5rem;
    width: 1rem;
}

#colors table, #morse table, #states table { break-inside: avoid-column }
thead { user-select: none }

#colors td:first-child { display: flex }

#colors td:last-child {
    text-align-last: justify;
    text-justify: inter-character;
}

#colors th:first-child,
#morse  td:last-child,
#states td:first-child {
    width: 100%;
}

#restoreLink { display: none }

@media (max-width: 34rem) {
    section { grid-template-columns: 1fr }

    #editor { border-width: 1px }
}
