input { display: none }

input:checked + label,
input:hover   + label {
    background: var(--color);
    color: var(--background);
}

label {
    cursor: pointer;
    margin-bottom: -2px;
    padding: calc(.5rem - 1px) .5rem;
}

main > header {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
}

main > header a { white-space: nowrap }

main > header nav {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
}

main .info {
    display: none;
    margin: 0;
    padding: .5rem;
}

section {
    display: grid;
    grid-template-columns: minmax(0, 1fr) 15rem;
}

section > header {
    align-items: center;
    display: flex;
    gap: .5rem;
    justify-content: space-between;
    padding-right: .5rem;
}

select {
    border: 0;
    border-radius: 0;
    color: var(--background);
    margin-bottom: -2px;
    padding: calc(.25rem + 1px) 1.25rem calc(.25rem + 1px) 1.75rem;
    width: initial;
}

.cm-editor { height: 100% }
.cm-gutter { min-width: 1.75rem }

#arguments-tab:checked ~ #arguments,
     #diff-tab:checked ~ #diff,
   #errors-tab:checked ~ #errors,
 #expected-tab:checked ~ #expected,
   #output-tab:checked ~ #output { display: block }

#editor, #rankings {
    border: 1px solid var(--color);
    border-top: 2px solid var(--color);
    /* 15 rows of 2rem, 1px border under each, 2px border at the top */
    height: calc((2rem + 1px) * 15 + 2px);
}

#editor { border-right-width: 0 }

#emojify {
    display: grid;
    gap: .5rem;
    grid-template-columns: repeat(auto-fill, minmax(4.5rem, 1fr));
}

#emojify div {
    align-items: center;
    background: var(--light-grey);
    border: 1px solid var(--color);
    display: flex;
    justify-content: space-between;
    padding: .25rem .4rem;
}

#rankings td { border-width: 1px 0 !important }

#rankings tr:last-child td { border-bottom: 0 }

#run {
    align-items: center;
    display: flex;
    justify-content: flex-end;
}

#run > span { margin: 0 1rem }

#status {
    display: none;
    grid-template-columns: repeat(5, auto) 1fr auto;
    padding: 1rem;
}

#status > div {
    background: var(--background);
    border: 1px solid var(--color);
    border-top-width: 2px;
    display: none;
    grid-column: span 7;
    height: 14rem;
}

#status h2 {
    grid-column: span 7;
    margin-bottom: 1rem;
}

/* TODO Generalise the hole mapping table CSS, lose the specific IDs. */
#colors, #morse, #states { columns: 4 }
@media (max-width: 54rem) { #colors, #morse, #states { columns: 2 } }
@media (max-width: 30rem) { #colors, #morse, #states { columns: 1 } }

#colors svg {
    align-self: center;
    border: 1px solid var(--color);
    height: 1rem;
    margin-right: .5rem;
    width: 1rem;
}

#colors table, #morse table, #states table { break-inside: avoid-column }

#colors td:first-child { display: flex }

#colors td:last-child {
    text-align-last: justify;
    text-justify: inter-character;
}

#colors th:first-child,
#morse  td:last-child,
#states td:first-child {
    width: 100%;
}

#thirdParty {
    align-items: center;
    display: flex;
    grid-column: 7;
}

@media (max-width: 34rem) {
    section { grid-template-columns: minmax(0, 1fr) }

    section > :nth-child(even) { display: none }

    #editor {
        border-right-width: 1px;
        height: auto;
    }
}
