#diff-content {
    padding: 0;
}

#diff table {
    border-collapse: separate;
    border-spacing: 0;
    table-layout: fixed;
    width: 100%;
}

#diff th {
    color: var(--background);
    background: var(--color);
    font-size: 1.25rem;
}

#diff td,
#diff th {
    line-height: 1.25rem;
}

#diff td {
    border: none;
    vertical-align: top;
    white-space: pre-wrap;
    word-break: break-all;
}

#diff .diff-col-left,
#diff .diff-col-right {
    padding: 0 4px;
}

#diff th.diff-header-output,
#diff th.diff-header-expected {
    text-align: left;
}

#diff .diff-arg,
#diff .diff-header-arguments {
    text-align: right;
}

/* Ref .CodeMirror-linenumber and .CodeMirror-gutters */
#diff .diff-left-num,
#diff .diff-right-num {
    padding: 0 3px 0 5px;
    min-width: 20px;
    text-align: right;
    white-space: nowrap;
}

#diff .diff-arg,
#diff .diff-left-num,
#diff .diff-left,
#diff .diff-right-num {
    border-right: 1px solid var(--color);
}

#diff .diff-removal { background-color: var(--diff-light-red) }

#diff .diff-addition { background-color: var(--diff-light-green) }

#diff .diff-char-removal {
    background-color: var(--red);
}

#diff .diff-char-addition {
    background-color: var(--green);
}

#diff .diff-skip {
    background-color: var(--blue);
}
