.card {
    align-items: center;
    gap: .5rem .25rem;
    grid-template: min-content / min-content min-content 1fr min-content min-content;

    > h2 {
        align-items: center;
        display: flex;
        font-size: 1.25rem;
        gap: .5rem;
        line-height: 1.25;

        > span {
            display: inline;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            min-width: 0;
        }
    }

    svg {
        fill: var(--color);
        height: 1rem;
        justify-self: center;
        width: 1rem;
    }
}
