/* TODO Stop having "thin" pages, make everything consistent. */
body { max-width: 60rem }

body > h1 {
    border-bottom: 2px solid var(--color);
    padding: 1rem;
}

.flag { margin-right: .5rem }

#overview {
    align-items: start;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);

    > div {
        border: 2px solid var(--color);
        display: grid;
        gap: .5rem;
        padding: 1rem;
    }
}

@media (max-width: 34rem) {
    td:nth-child(4) { border-right: 1px solid var(--color) }
}
