/* TODO Stop having "thin" pages, make everything consistent. */
body { max-width: 64rem }

table { width: 100% }

.flag { margin-right: .5rem }

#chart-container { min-width: 0 }

#overview {
    align-items: start;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);

    > p { grid-column: 1 / -1 }

    > a:hover {
        background: var(--color);
        color: var(--background);
        text-decoration: none;
    }

    > :is(a, div) {
        border: 2px solid var(--color);
        color: var(--color);
        display: grid;
        gap: .5rem;
        padding: 1rem;

        > :is(h2, span) {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}

#unsolved {
    display: grid;
    gap: .5rem;
    grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));

    h2 { grid-column: 1 / -1 }

    a + h2 { margin-top: .5rem }

    a:hover {
        background: var(--color);
        color: var(--background);
    }
}

@media (max-width: 34rem) {
    td:nth-child(4) { border-right: 1px solid var(--color) }
}
