article {
    overflow: auto;

    > *:not(:first-child), details > * { margin-top: 1rem }
}

#page-header > nav {
    font-weight: bold;
    gap: .375rem;

    > a { font-weight: normal }
}

table { margin: 1rem 0 }
