{{ template "header" . }}
{{ template "admin"  . }}

<main>
    <table class="nowrap-first sticky">
        <thead>
            <th>Golfer
            <th>Last Used
        <tbody>
        {{ range .Data.Sessions }}
            <tr>
                <td>
                    <a href="/golfers/{{ .Golfer }}">
                        <img loading=lazy src="//avatars.githubusercontent.com/{{ .Golfer }}?s=24">
                        <span>{{- .Golfer -}}</span>
                    </a>
                <td>{{ time .LastUsed }}
        {{ end }}
    </table>
    <table class="nowrap-first sticky">
        <thead>
            <th>Relation
            <th>Rows
            <th>Size
        <tbody>
        {{ range .Data.Tables }}
            {{ if not .Name.Value }}<tfoot>{{ end }}
            <tr>
                <td>{{ .Name.Value }}
                <td>{{ with .Rows }}{{ comma . }}{{ end }}
                <td>{{ bytes .Size }}
        {{ end }}
    </table>
    <table class="nowrap-first sticky">
        <thead>
            <th>Time Zone
            <th>Golfers
            <th>%
        <tbody>
        {{ range .Data.TimeZones }}
            <tr>
                <td>{{ .Name }}
                <td>{{ comma .Golfers }}
                <td>{{ printf "%.2f" .Percent }}%
        {{ end }}
    </table>
</main>

{{ template "footer" }}
