{{ template "header" . }}
{{ template "recent" . }}

<svg>{{ range .Langs }}{{ symbol .ID }}{{ end }}</svg>

<main>
    <table class="nowrap-first-second sticky">
        <thead>
            <tr>
                <th>Golfer
                <th>Languages
                <th class="right wide">Cheevos
                <th class=right>Date
        <tbody>
        {{ $name := "" }}
        {{ with .Golfer }}{{ $name = .Name }}{{ end }}

        {{ range .Data.Golfers }}
            <tr{{ if eq $name .Name }} class=me {{ end }}>
                <td>{{ template "golfer-link" . }}
                <td>
                    <div>
                    {{ range .Langs }}
                        {{ with index $.Langs . }}
                            <svg>
                                <title>{{ .Name }}</title>
                                <use href="#{{ .ID }}"/>
                            </svg>
                        {{ end }}
                    {{ end }}
                    </div>
                <td class="right wide">{{ .Cheevos }} / {{ $.Data.Cheevos }}
                <td class=right>{{ time .Date }}
        {{ end }}
    </table>
</main>

{{ template "footer" }}
