{{ template "header" . }}
{{ template "recent" . }}

<svg>{{ range .Langs }}{{ symbol .ID }}{{ end }}</svg>

<main>
    <table class="nowrap-first-second sticky">
        <thead>
            <tr>
                <th>Golfer
                <th>Languages
                <th class="right wide">Cheevos
                <th class=right>Date
        <tbody>
        {{ $name := "" }}
        {{ with .Golfer }}{{ $name = .Name }}{{ end }}

        {{ range .Data.Golfers }}
            <tr{{ if eq $name .Name }} class=me {{ end }}>
                <td>
                    <a href="/golfers/{{ .Name }}">
                        <img loading=lazy src="//avatars.githubusercontent.com/{{ .Name }}?s=24">
                        <span>{{ .Name }}</span>
                    {{ with index $.Countries .Country }}
                        <span class=flag title="{{ .Name }}">{{ .Flag }}</span>
                    {{ end }}
                    </a>
                <td>
                    <div>
                    {{ range .Langs }}
                        {{ with index $.Langs . }}
                            <svg>
                                <title>{{ .Name }}</title>
                                <use href="#{{ .ID }}"/>
                            </svg>
                        {{ end }}
                    {{ end }}
                    </div>
                <td class="right wide">{{ .Cheevos }} / {{ $.Data.Cheevos }}
                <td class=right>{{ time .Date }}
        {{ end }}
    </table>
</main>

{{ template "footer" }}
