{{ template "header" . }}
{{ template "recent" . }}

<svg>
{{ range $lang, $true := .Data.LangsShown }}
    {{ symbol $lang }}
{{ end }}
</svg>

<main>
    <form id=form-nav>
        <input name=base type=hidden value=/recent/solutions>

        <select name=holes>
            <option value=all>All Holes
        {{ range .Data.Holes }}
            <option value="{{ .ID }}"
                {{ if eq $.Data.HoleID .ID }} selected {{ end }}>{{ .Name }}
        {{ end }}
        </select>

        <select name=langs>
            <option value=all>All Languages
        {{ range .Data.Langs }}
            <option value="{{ .ID }}"
                {{ if eq $.Data.LangID .ID }} selected {{ end }}>{{ .Name }}
        {{ end }}
        </select>

        <label>
            <input {{ if eq .Data.Scoring "bytes" }} checked {{ end }}
                name=scoring type=radio value=bytes>Bytes
        </label>

        <label>
            <input {{ if eq .Data.Scoring "chars" }} checked {{ end }}
                name=scoring type=radio value=chars>Chars
        </label>
    </form>

    <nav>
        <h2>Scoring</h2>
        <a {{ if ne .Data.Scoring "bytes" }}
            href="/recent/solutions/{{ .Data.HoleID }}/{{ .Data.LangID }}/bytes"
        {{ end }}>
            <span>Bytes</span>
        </a>
        <a {{ if ne .Data.Scoring "chars" }}
            href="/recent/solutions/{{ .Data.HoleID }}/{{ .Data.LangID }}/chars"
        {{ end }}>
            <span>Chars</span>
        </a>

        <h2>Language</h2>
        <a {{ if ne .Data.LangID "all" }}
            href="/recent/solutions/{{ .Data.HoleID }}/all/{{ .Data.Scoring }}"
        {{ end }}>
            <span>All</span>
        </a>
    {{ range .Data.Langs }}
        <a {{ if ne $.Data.LangID .ID }}
            href="/recent/solutions/{{ $.Data.HoleID }}/{{ .ID }}/{{ $.Data.Scoring }}"
        {{ end }}>
            <span>{{ .Name }}</span>
        </a>
    {{ end }}

        <h2>Hole</h2>
        <a {{ if ne .Data.HoleID "all" }}
            href="/recent/solutions/all/{{ .Data.LangID }}/{{ .Data.Scoring }}"
        {{ end }}>
            <span>All</span>
        </a>
    {{ range .Data.Holes }}
        <a {{ if ne $.Data.HoleID .ID }}
            href="/recent/solutions/{{ .ID }}/{{ $.Data.LangID }}/{{ $.Data.Scoring }}"
        {{ end }}>
            <span>{{ .Name }}</span>
        </a>
    {{ end }}
    </nav>

    <table class="nowrap-first-second sticky">
        <thead>
            <tr>
                <th>Hole
                <th>Golfer
                <th class="right wide">{{ title .Data.Scoring }}
                <th class=right>Submitted
        <tbody>
        {{ $name := "" }}
        {{ with .Golfer }}{{ $name = .Name }}{{ end }}

        {{ range .Data.Rows }}
            <tr{{ if eq $name .Login }} class="me"{{ end }}>
                <td>
                    <a href="/{{ .Hole.ID }}#{{ .Lang.ID }}">
                        <span>{{ .Hole.Name }}</span>
                    </a>
                <td>
                    <a href="/golfers/{{ .Login }}">
                        <img loading=lazy src="//avatars.githubusercontent.com/{{ .Login }}?s=24">
                        <span>{{ .Login }}</span>
                    </a>
                <td class=wide title="{{ if eq .TieCount 1 }}Uncontested{{ else }}Joint{{ end }} {{ .Rank }}{{ ord .Rank }} with {{ comma .Strokes }} {{ $.Data.Scoring }} in {{ .Lang.Name }}">
                    {{ if and (eq .Rank 1) (eq .TieCount 1) }}💎
                    {{ else if eq .Rank 1                   }}🥇
                    {{ else if eq .Rank 2                   }}🥈
                    {{ else if eq .Rank 3                   }}🥉
                    {{ end }}
                    <div>{{ comma .Strokes }}</div>
                    <svg><use href="#{{ .Lang.ID }}"/></svg>
                <td class=right>{{ time .Submitted }}
        {{ end }}
    </table>
</main>

{{ template "footer" }}
