{{ template "header" . }}
{{ template "recent" . }}

<svg>
{{ range $lang, $true := .Data.LangsShown }}
    {{ symbol $lang }}
{{ end }}
</svg>

<main id=two-pane>
    {{ template "nav" . }}

    <table class="nowrap-first-second sticky">
        <thead>
            <tr>
                <th>Hole
                <th>Golfer
                <th class="right wide">{{ title .Data.Scoring }}
                <th class=right>Submitted
        <tbody>
        {{ $name := "" }}
        {{ with .Golfer }}{{ $name = .Name }}{{ end }}

        {{ range .Data.Rows }}
            <tr{{ if eq $name .Name }} class="me"{{ end }}>
                <td>
                    <a href="/{{ .Hole.ID }}#{{ .Lang.ID }}">
                        <svg><use href="#{{ .Lang.ID }}"/></svg>
                        <span>{{ .Hole.Name }}</span>
                    </a>
                <td>{{ template "golfer-link" . }}
                <td class=wide title="{{ if eq .TieCount 1 }}Uncontested{{ else }}Joint{{ end }} {{ .Rank }}{{ ord .Rank }} with {{ comma .Strokes }} {{ $.Data.Scoring }} in {{ .Lang.Name }}">
                    {{ if and (eq .Rank 1) (eq .TieCount 1) }}💎
                    {{ else if eq .Rank 1                   }}🥇
                    {{ else if eq .Rank 2                   }}🥈
                    {{ else if eq .Rank 3                   }}🥉
                    {{ end }}
                    <div>{{ comma .Strokes }}</div>
                    <svg><use href="#{{ .Lang.ID }}"/></svg>
                <td class=right>{{ time .Submitted }}
        {{ end }}
    </table>
</main>

{{ template "footer" }}
