{{ template "header" . }}
{{ template "admin"  . }}

<main>
    <table class="nowrap-first sticky">
        <thead>
            <th>Golfer
            <th>Last Used
        <tbody>
        {{ range .Data.Sessions }}
            <tr>
                <td>{{ template "golfer-link" . }}
                <td>{{ time .LastUsed }}
        {{ end }}
    </table>
    <table class="nowrap-first sticky">
        <thead>
            <th>Relation
            <th>Rows
            <th>Size
        <tbody>
        {{ range .Data.Tables }}
            {{ if not .Name.Valid }}<tfoot>{{ end }}
            <tr>
                <td>{{ .Name.V }}
                <td>{{ with .Rows }}{{ comma . }}{{ end }}
                <td>{{ bytes .Size }}
        {{ end }}
    </table>
    <table class="nowrap-first sticky">
        <thead>
            <th>Last Tested
            <th>Solutions
        <tbody>
        {{ range .Data.LastTested }}
            <tr>
                <td>{{ .TestedDay.Format "2006-01-02" }}
                <td>{{ comma .Solutions }}
        {{ end }}
    </table>
</main>

{{ template "footer" }}
