/.vagrant/
/config/data/assets.json
/dist/
/docker/.env
/localhost.pem
/localhost-key.pem
/node_modules/
/sql/*.gz
/t/.precomp/
.DS_Store

# .NET temporary folders for IDEs
/langs/c-sharp/obj
/langs/f-sharp/obj
/langs/powershell/obj
