version: '2'
services:
  app:
    build:
      context: .
      dockerfile: Dockerfile.dev
    cap_add:
      - CAP_KILL
      - CAP_SETGID
      - CAP_SETUID
      - CAP_SYS_ADMIN
    cap_drop:
      - ALL
    environment:
      DEV:       1
      PGHOST:    db
      PGSSLMODE: disable
      PGUSER:    code-golf
    ports:
      - 80:1080
      - 443:1443
    security_opt:
      - seccomp:unconfined
    volumes:
      - .:/go
  db:
    image: postgres:11.8-alpine
    ports:
      - 5432:5432
    environment:
      POSTGRES_HOST_AUTH_METHOD: trust
      POSTGRES_DB: code-golf
    volumes:
      - ./db:/docker-entrypoint-initdb.d
