<!doctype html>

<link rel=stylesheet href="/{{ .cssHash }}">
<meta name=viewport content="width=device-width">
<title>Code-Golf</title>

<header>
    <nav>
        <a href=/>Home</a>
        <a href=/about>About</a>
        <a href=/leaderboards>Leaderboards</a>
    {{ if .login }}
        <a href=/logout id=logout title=Logout></a>
        <div>
            <img src="//avatars.githubusercontent.com/{{ .login }}?size=30">
            {{ .login }}
        </div>
    {{ else }}
        <a href="//github.com/login/oauth/authorize?client_id=7f6709819023e9215205&scope=user:email" id=login>
            Login with GitHub
        </a>
    {{ end }}
    </nav>
</header>

{{ template "content" . }}

<script src="/{{ .jsHash }}"></script>
