{{ template "header" . }}

<main>
    <h1>Feeds</h1>

    <p>
        New languages are released in a fairly ad-hoc manner. New holes target
        a monthy release schedule with new holes appearing on the first of the
        month. Exceptions can occur, for example the simpler
        <a href=day-of-week>Day of Week</a> hole was released mid-month.

    <p>
        <a href=feeds/atom>Atom</a>
        /
        <a href=feeds/json>JSON</a>
        /
        <a href=feeds/rss>RSS</a>

    <ul>
    {{ range .Data.Items }}
        <li>
            <h4>{{ .Title }}</h4>
            <p>{{ time .Created }}
            <p>{{ html .Description }}
    {{ end }}
    </ul>
</main>

{{ template "footer" }}
