{{ with .GolferInfo }}
    {{ $me := false }}
    {{ if $.Golfer }}
        {{ if eq $.Golfer.ID .ID }}
            {{ $me = true }}
        {{ end }}
    {{ end }}

    <div class=grid id=profile>
        <img src="//avatars.githubusercontent.com/{{ .Name }}?s=176">
        <h1>
            {{ .Name }}
        {{ with index $.Countries .Country }}
            <span class=flag title="{{ .Name }}">{{ .Flag }}</span>
        {{ end }}
        </h1>
    {{ if not $.Golfer }}
        <form></form>
    {{ else if $me }}
        <form action=/log-out method=post>
            <button class="btn red">{{ svg "sign-out-alt-light" }} Log Out</button>
        </form>
    {{ else if $.Golfer.IsFollowing .ID }}
        <form action="/golfers/{{ .Name }}/unfollow" method=post>
            <button class="btn red">{{ svg "person-dash" }} Unfollow Golfer</button>
        </form>
    {{ else }}
        <form action="/golfers/{{ .Name }}/follow" method=post>
            <button class="btn blue">{{ svg "person-plus" }} Follow Golfer</button>
        </form>
    {{ end }}
        <div>
            <div title="{{ comma .BytesPoints }} points in bytes">
                {{ svg "bytes" }}{{ comma .BytesPoints }}
            </div>
            •
            <div title="{{ comma .CharsPoints }} points in chars">
                {{ svg "chars" }}{{ comma .CharsPoints }}
            </div>
        </div>
        <div>
            <div title="{{ comma .Diamond }} diamond medals (uncontested gold medals)">
                <span>💎</span>{{ comma .Diamond }}
            </div>
            •
            <div title="{{ comma .Gold }} gold medals">
                <span>🥇</span>{{ comma .Gold }}
            </div>
            •
            <div title="{{ comma .Silver }} silver medals">
                <span>🥈</span>{{ comma .Silver  }}
            </div>
            •
            <div title="{{ comma .Bronze }} bronze medals">
                <span>🥉</span>{{ comma .Bronze  }}
            </div>
        </div>
    </div>

    <div id=badges>
    {{ if .Admin   }}<div><p>🔑<p class=orange>Admin  </div>{{ end }}
    {{ if .Sponsor }}<div><p>💰<p class=yellow>Sponsor</div>{{ end }}

    {{ with len .Referrals }}
        <button data-dialog=referrals-dialog>
            <p>📣
            <p class=purple>{{ . }} Referral{{ if gt . 1 }}s{{ end }}
        </button>
    {{ end }}

        <div>
            <p>⛳
            <p class=red>{{ .Holes }} / {{ .HolesTotal }} Holes
        </div>
        <div>
            <p>🔣
            <p class=green>{{ .Langs }} / {{ .LangsTotal }} Langs
        </div>
        <div>
            <p>🏆
            <p class=blue>{{ len .Cheevos }} / {{ .CheevosTotal }} Cheevos
        </div>
        <!-- TODO <div><p>📅<p class=yellow>Teed off {{ time .TeedOff }}</div>-->
    </div>

    <nav class=tabs>
        {{ $slug := print "/golfers/" .Name }}
        {{ if and $.Golfer (eq $.Path $slug) }}
            <button class="btn blue" data-dialog=config-dialog title=Configure>
                {{ svg "gear-fill" }}
            </button>
        {{ end }}
        <a {{ if ne $.Path $slug }} href="{{ $slug }}" {{ end }}>
            Profile
        </a>

        {{ $slug = print "/golfers/" .Name "/cheevos" }}
        <a {{ if ne $.Path $slug }} href="{{ $slug }}" {{ end }}>Achievements</a>

        {{ $slug = print "/golfers/" .Name "/holes" }}
        <a {{ if not (hasPrefix $.Path $slug) }}
            href="{{ $slug }}/rankings/lang/bytes"
        {{ end }}>
            Holes
        </a>

    {{ if $me }}
        <a {{ if ne $.Path "/golfer/settings" }} href=/golfer/settings {{ end }}>
            Settings
        </a>
    {{ end }}
    </nav>

    {{ with .Referrals }}
        <dialog id=referrals-dialog>
            <div>
                <h1>Referrals</h1>
                <ul>
                {{ range . }}
                    <li>
                        <a href="/golfers/{{ . }}">
                            <img src="//avatars.githubusercontent.com/{{ . }}?s=48">
                            {{ . }}
                        </a>
                {{ end }}
                </ul>
            </div>
        </dialog>
    {{ end }}
{{ end }}
