{{ $me := false }}

{{ if .Golfer }}
    {{ $me = eq .Golfer.ID .GolferInfo.ID }}
{{ end }}

{{ with .GolferInfo }}
    <div class=grid id=profile>
        <img src="//avatars.githubusercontent.com/{{ .Name }}?s=192">
        <h1>
            {{ .Name }}
        {{ with index $.Countries .Country }}
            <span class=flag title="{{ .Name }}">{{ .Flag }}</span>
        {{ end }}
        </h1>
        <p>{{ comma .BytesPoints }} points (Bytes) • {{ comma .CharsPoints }} points (Chars)
        <p>🥇 {{ comma .Gold }} • 🥈 {{ comma .Silver }} • 🥉 {{ comma .Bronze }}
    </div>

    <div id=badges>
    {{ if .Admin }}
        <div><p>🔑<p class=orange>Admin</div>
    {{ end }}
    {{ if .Sponsor }}
        <div><p>💰<p class=yellow>Sponsor</div>
    {{ end }}
        <div>
            <p>⛳
            <p class=red>{{ .Holes }} / {{ .HolesTotal }} Holes
        </div>
        <div>
            <p>🔣
            <p class=green>{{ .Langs }} / {{ .LangsTotal }} Languages
        </div>
        <div>
            <p>🏆
            <p class=blue>{{ .Trophies }} / {{ .TrophiesTotal }} Trophies
        </div>
        <!-- TODO <div><p>📅<p class=yellow>Teed off {{ time .TeedOff }}</div>-->
    </div>

    <nav class=nav>
        {{ $slug := print "/golfers/" .Name }}
        <a {{ if ne $.Path $slug }} href="{{ $slug }}" {{ end }}>Trophies</a>

        {{ $slug = print $slug "/holes" }}
        <a {{ if not (hasPrefix $.Path $slug) }} href="{{ $slug }}/bytes" {{ end }}>
            Holes
        </a>

    {{ if $me }}
        <a {{ if ne $.Path "/golfer/settings" }} href=/golfer/settings {{ end }}>
            Settings
        </a>
    {{ end }}
</nav>
{{ end }}
