{{ with .GolferInfo }}
    <div class=grid id=profile>
        <img src="//avatars.githubusercontent.com/{{ .Name }}?s=192">
        <h1>
            {{ .Name }}
        {{ with index $.Countries .Country }}
            <span class=flag title="{{ .Name }}">{{ .Flag }}</span>
        {{ end }}
        </h1>
        <p>
            {{ comma .BytesPoints }} points (Bytes) •
            {{ comma .CharsPoints }} points (Chars)
        <p>
            <span title="Diamonds (uncontested gold medals)">
                💎 {{ comma .Diamond }}
            </span>
            • <span title="Gold medals"  >🥇 {{ comma .Gold    }}</span>
            • <span title="Silver medals">🥈 {{ comma .Silver  }}</span>
            • <span title="Bronze medals">🥉 {{ comma .Bronze  }}</span>
    </div>

    <div id=badges>
    {{ if .Admin }}
        <div><p>🔑<p class=orange>Admin</div>
    {{ end }}
    {{ if .Sponsor }}
        <div><p>💰<p class=yellow>Sponsor</div>
    {{ end }}
        <div>
            <p>⛳
            <p class=red>{{ .Holes }} / {{ .HolesTotal }} Holes
        </div>
        <div>
            <p>🔣
            <p class=green>{{ .Langs }} / {{ .LangsTotal }} Langs
        </div>
        <div>
            <p>🏆
            <p class=blue>{{ .Cheevos }} / {{ .CheevosTotal }} Cheevos
        </div>
        <!-- TODO <div><p>📅<p class=yellow>Teed off {{ time .TeedOff }}</div>-->

{{ range .Connections }}
    {{ if .Public }}
        <div title="{{ .Connection }}">
            <p>{{ svg .Connection }}
            <p class=light-grey>
            {{ if or (eq .Connection "github") (eq .Connection "gitlab") }}
                <a href="//{{ .Connection }}.com/{{ .Username }}">
                    {{ .Username }}</a>
            {{ else }}
                {{ .Username }}
                {{- if .Discriminator.Valid -}}
                    <span>{{ printf "#%04d" .Discriminator.Value }}</span>
                {{- end -}}
            {{ end }}
        </div>
    {{ end }}
{{ end }}
    </div>

    <nav class=tabs>
        {{ $slug := print "/golfers/" .Name }}
        <a {{ if ne $.Path $slug }} href="{{ $slug }}" {{ end }}>Achievements</a>

        {{ $slug = print $slug "/holes" }}
        <a {{ if not (hasPrefix $.Path $slug) }} href="{{ $slug }}/bytes" {{ end }}>
            Holes
        </a>

{{ if $.Golfer }}
    {{ if eq $.Golfer.ID .ID }}
        <a {{ if ne $.Path "/golfer/settings" }} href=/golfer/settings {{ end }}>
            Settings
        </a>
    {{ end }}
{{ end }}
</nav>
{{ end }}
