<!doctype html>

<html lang=en>

<link rel=stylesheet href={{ .CommonCssPath }}>
<link rel=alternate href=/feeds/atom type=application/atom+xml>
<link rel=alternate href=/feeds/rss  type=application/rss+xml>
<link rel=alternate href=/feeds/json type=application/json>

{{/* FIXME This won't change for dark themes :-( */}}
<meta name=theme-color content=#343A40>
<meta name=viewport content="maximum-scale=1,user-scalable=0,width=device-width">
<meta name=description content="Code Golf is a game designed to let you show off your code-fu by solving problems in the least number of characters.">

<title>{{ if .Title }}{{ .Title }} | {{ end }}Code Golf</title>

<header>
    <nav>
        <a {{ if ne             .Path "/"         }} href=/       title=Home                       {{ end }}></a>
        <a {{ if ne             .Path "/about"    }} href=/about  title=About                      {{ end }}></a>
        <a {{ if ne             .Path "/ideas"    }} href=/ideas  title=Ideas                      {{ end }}></a>
        <a {{ if ne             .Path "/recent"   }} href=/recent title="Recent Solutions"         {{ end }}></a>
        <a {{ if not (hasPrefix .Path "/scores/") }} href=/scores/all-holes/all-langs title=Scores {{ end }}></a>
        <a {{ if ne             .Path "/stats"    }} href=/stats  title=Statistics                 {{ end }}></a>
        <div></div>
    {{ if .Login }}
        {{ $profile := (print "/users/" .Login) }}
        <a {{ if ne .Path $profile }} href={{ $profile }} title=Profile {{ end }}>
            <img src="//avatars.githubusercontent.com/{{ .Login }}?s=28">
        </a>
        <a href=/log-out title="Log Out"></a>
    {{ else }}
        <a href="{{ .LogInURL }}" title="Log In"></a>
    {{ end }}
    </nav>
</header>
