<!doctype html>

<html lang=en>

<link rel=stylesheet href={{ .CommonCssPath }}>

<link href=/assets/icon.svg     rel=icon>
<link href=/assets/icon-16.png  rel=icon sizes=16x16>
<link href=/assets/icon-32.png  rel=icon sizes=32x32>
<link href=/assets/icon-180.png rel=apple-touch-icon>

<link rel=alternate href=/feeds/atom type=application/atom+xml>
<link rel=alternate href=/feeds/rss  type=application/rss+xml>
<link rel=alternate href=/feeds/json type=application/json>

{{/* FIXME This won't change for dark themes :-( */}}
<meta name=theme-color content=#343A40>
<meta name=viewport content="maximum-scale=1,user-scalable=0,width=device-width">
<meta name=description content="Code Golf is a game designed to let you show off your code-fu by solving problems in the least number of characters.">

<title>{{ with .Title }}{{ . }} | {{ end }}Code Golf</title>

<style nonce="{{ .Nonce }}">{{ .CSS }}</style>

<header>
    <nav>
        <a {{ if ne .Path "/" }} href=/ title=Home {{ end }}>
            {{ template "svg/logo" }}
        </a>
        <a {{ if ne .Path "/about" }} href=/about title=About {{ end }}>
            {{ template "svg/question-circle-light" }}
        </a>
        <a {{ if ne .Path "/ideas" }} href=/ideas title=Ideas {{ end }}>
            {{ template "svg/lightbulb-light" }}
        </a>
        <a {{ if not (hasPrefix .Path "/recent/") }} href=/recent/all-langs title="Recent Solutions" {{ end }}>
            {{ template "svg/clock-light" }}
        </a>
        <a {{ if not (hasPrefix .Path "/scores/") }} href=/scores/all-holes/all-langs title=Scores {{ end }}>
            {{ template "svg/list-ol-light" }}
        </a>
        <a {{ if ne .Path "/stats" }} href=/stats title=Statistics {{ end }}>
            {{ template "svg/chart-area-light" }}
        </a>
        <div></div>
    {{ if .Login }}
        {{ $slug := (print "/golfers/" .Login) }}

        <a {{ if ne .Path $slug }} href="{{ $slug }}" title=Profile {{ end }}>
            <img src="//avatars.githubusercontent.com/{{ .Login }}?s=28">
        </a>
        <a href=/log-out title="Log Out">
            {{ template "svg/sign-out-alt-light" }}
        </a>
    {{ else }}
        <a href="{{ .LogInURL }}" title="Log In">
            {{ template "svg/sign-in-alt-light" }}
        </a>
    {{ end }}
    </nav>
</header>
