{{ template "header" . }}

{{ range $id, $lang := .Data.Langs }}
    {{ svg $id }}
{{ end }}

<main>
    <h1>{{ .Data.Hole.Name }}</h1>
    <section>
        <header>
            <select>
            {{ range $id, $lang := .Data.Langs }}
                <option value="{{ $id }}">{{ $lang.Name }}
            {{ end }}
            </select>
            <div id=strokes></div>
        </header>
        <header>
            <nav class=tabs>
                <a id=bytes>Bytes</a>
                <a id=chars>Chars</a>
            </nav>
            <a id=all>All</a>
        </header>
        <div id=editor></div>
        <div id=rankings>
            <table class=nowrap-second>
                <tr>
                    <td>1<sup>st</sup>
                    <td>primo-ppcg
                    <td>43
                <tr>
                    <td>2<sup>nd</sup>
                    <td>JRaspass
                    <td>44
            </table>
        </div>
    </section>

    <div id=run>
        ctrl + enter
        <span>or</span>
        <a class="btn blue">{{ svg "play-light" }} Run</a>
    </div>
</main>

<div id=popups>
    <div>
        <h3>Trophy Earned!</h3>
        👋<p>Hello, World!
    </div>
    <div>
        <h3>Trophy Earned!</h3>
        💼<p>Interview Ready
    </div>
</div>

<script id=langs type=application/json>{{ .Data.Langs }}</script>

{{ template "footer" }}
