{{ template "header" . }}

<link rel=stylesheet href={{ .Data.HoleCssPath }}>
<script defer src={{ .Data.HoleJsPath }}></script>

<main id=hole data-lang={{ .Data.Lang }}
{{ range .Data.Solutions }}
    data-{{ .Lang }}="{{ .Code }}"
{{ end }}
>
{{ if not .Login }}
    <div id=alert>
        Please <a href={{ .LoginURL }}>login with GitHub</a> in order to save
        solutions and appear on the leaderboards.
    </div>
{{ end }}
    <nav>
        <a href={{ .Data.Hole.Prev }}>Previous Hole</a>
        <a href=random>Random Hole</a>
        <a href={{ .Data.Hole.Next }}>Next Hole</a>
    </nav>
    <h1>{{ .Data.Hole.Name }}</h1>
    <div id=preamble>
        <p>{{ .Data.Hole.Preamble }}
    </div>
    <div id=tabs>
    {{ range .Data.Langs }}
        <a href=#{{ .ID }} title={{ .Name }}></a>
    {{ end }}
    </div>
    <div id=wrapper></div>
    <div class="info javascript">
        <b>arguments</b> holds ARGV, <b>print()</b> to output with a newline, <b>write()</b> to output without a newline.
    </div>
    <div class="info perl">
        <b>say()</b> is available without any import.
    </div>
    <button>Run</button>
    <div id=status>
        <h2></h2>
        <aside id=err><h3>Errors</h3><div></div></aside>
        <aside id=arg><h3>Arguments</h3><div></div></aside>
        <aside id=exp><h3>Expected</h3><div></div></aside>
        <aside id=out><h3>Output</h3><div></div></aside>
    </div>
</main>
