{{ template "header" . }}

<!-- For experimental lang picker -->
<svg>{{ symbol "flask-light" }}</svg>

{{ if ne .Data.Hole.ID "sandbox" }}
    {{ with .Data.Hole.Experiment }}
        <div class=alert>
            {{ svg "flask-light" }}
            <p>
                This hole is experimental, no solutions will be saved.
            {{ if ne . -1 }}
                Please leave feedback on the
                <a href="//github.com/code-golf/code-golf/issues/{{ . }}">
                    GitHub issue</a>.
            {{ end }}
            <div class=main_close></div>
        </div>
    {{ else }}{{ if not .Golfer }}
        <div class=alert>
            {{ svg "exclamation-circle" }}
            <p>
                Please
                <a class=log-in href="{{ .LogInURL }}">log in with GitHub</a>
                in order to save solutions and appear on the leaderboards.
            <div class=main_close></div>
        </div>
    {{ end }}{{ end }}

    {{ with .Data.Authors }}
        <dialog id=authors-dialog>
            <div>
                <h1>{{ $.Data.Hole.Name }} Authors</h1>
                <ul>
                {{ range . }}
                    <li>
                        <a href="/golfers/{{ . }}">
                            <img src="/golfers/{{ . }}/avatar/48">
                            {{ . }}
                        </a>
                {{ end }}
                </ul>
            </div>
        </dialog>
    {{ end }}
{{ end }}

<main id="hole-{{ .Data.Hole.ID }}">
    <header>
        <div>
            <div id="hole-lang">
                <h1>
                {{ with .Data.Authors }}
                    <button data-dialog=authors-dialog id=authors-btn>
                    {{ range . }}
                        <img src="/golfers/{{ . }}/avatar/72">
                    {{ end }}
                    </button>
                {{ end }}
                    {{ .Data.Hole.Name }}
                </h1>
                <details open><summary> Language </summary></details>
            </div>
        </div>
    {{ with .Data.Hole.Links }}
        <nav>
        {{ range $i, $link := . }}
            {{ if $i }}<span>•</span>{{ end }}
            <a href="{{ .URL }}">{{ .Name }}</a>
        {{ end }}
        </nav>
    {{ end }}
        <nav>
        {{ with .Data.Hole.Prev }}
            <a class="btn orange" href="{{ .ID }}" title="{{ .Name }}">
                {{ svg "chevron-double-left-light" }} Prev
            </a>
        {{ end }}
        {{ if ne .Data.Hole.ID "sandbox" }}
            <a class="btn purple" href=random>
                {{ svg "dice-light" }} Random
            </a>
        {{ end }}
        {{ with .Data.Hole.Next }}
            <a class="btn orange" href="{{ .ID }}" title="{{ .Name }}">
                {{ svg "chevron-double-right-light" }} Next
            </a>
        {{ end }}
        </nav>
    </header>
{{ with .Data.Hole.Variants }}
    <header>
        <nav>
        {{ range . }}
            {{ if ne . $.Data.Hole }}
                <a class="btn blue" href="{{ .ID }}">{{ .Name }}</a>
            {{ end }}
        {{ end }}
        </nav>
    </header>
{{ end }}
    <nav class=tabs id=picker></nav>
    {{ template "hole-info" . }}
    <div id="picker-status-row">
        <nav class="tabs hide" id=solutionPicker></nav>
        <div id=pool></div>
        <div class=hide id=status>
            <h2></h2>
            <nav id=thirdParty></nav>
        </div>
    </div>
    <div id=golden-container></div>
    <div id=layout-btns>
        <div id=revert-layout class=btn> {{ svg "default-layout" }} Default Layout</div>
        <div id=make-wide class=btn> {{ svg "arrow-with-stroke-left-right" }} Wide</div>
        <div id=make-narrow class=btn> {{ svg "arrow-with-stroke-right-left" }} Narrow</div>
        <div id=add-row class=btn> {{ svg "downwards-arrow-to-bar" }} Add row</div>
    </div>
</main>

{{ if ne .Data.Hole.ID "sandbox" }}
    <template id=template-details>{{ template "hole-details" . }}</template>

    <template id=template-scoreboard>
        <div id=scores-wrapper>
            <header>
                <nav class=tabs id=scoringTabs><a>Bytes</a><a href>Chars</a></nav>
                <a href id=allLink>All</a>
            </header>
            <table class="nowrap-second" id=scores><tr><td></table>
        </div>
        <nav class=tabs id=rankingsView>
            <a {{ if ne .Data.RankingsView "top" }} href {{ end }}>
                {{ svg "trophy-fill" }} Top
            </a>
            <a {{ if ne .Data.RankingsView "me" }} href {{ end }}>
                {{ svg "person-fill" }} Me
            </a>
            <a {{ if ne .Data.RankingsView "following" }} href {{ end }}>
                {{ svg "people-fill" }} Following
            </a>
        </nav>
    </template>
{{ end }}

<template id=template-run>
    <div id=run>
    {{ if .Golfer }}
        <button class="btn hide red" id=deleteBtn>
            {{ svg "trash" }} Delete
        </button>
    {{ end }}
        <span>ctrl + enter</span> or
        <button class="btn blue" id=runBtn>{{ svg "play-light" }} Run</button>
    </div>
</template>

{{ if ne .Data.Hole.ID "sandbox" }}
    <dialog id=delete-dialog>
        <form action=/golfer/delete-solution autocomplete=off method=post>
            <h2>Delete Solution</h2>
            <p>
                Are you sure you want to delete your <b></b> solution(s) for
                <b>{{ .Data.Hole.Name }}</b>?
            <p>
                If you have seperate bytes and chars solutions then <b>both</b>
                will be deleted.
            <p>This is irreversible, please backup any code you care about.
            <p>Type <b>I understand</b> and press confirm to continue.</p>
            <input name=text placeholder="I understand">
            <input name=hole value="{{ .Data.Hole.ID }}" type=hidden>
            <input name=lang type=hidden>
            <menu>
                <!-- Enter submits the first button, we flip the order in CSS -->
                <button class="btn green" disabled name=confirm>Confirm</button>
                <button class="btn red" formmethod=dialog>Cancel</button>
            </menu>
        </form>
    </dialog>
{{ end }}

<div id=popups></div>

{{ template "hole-json" . }}
{{ template "footer"      }}
