{{ define "content" }}

{{ if eq .r.Method "POST" }}
    {{ if .pass }}
        <div id=success>Success</div>
    {{ else }}
        <div id=failure>Failure</div>
    {{ end }}
{{ end }}

<article>
    {{ if .diff }}
        <pre>{{ .diff }}</pre>
    {{ end }}

    {{ .preamble }}

    <a href=javascript class="lang {{ if eq .lang "javascript" }}on{{ end }}">JavaScript</a>
    <a href=perl       class="lang {{ if eq .lang "perl"       }}on{{ end }}">Perl</a>
    <a href=perl6      class="lang {{ if eq .lang "perl6"      }}on{{ end }}">Perl 6</a>
    <a href=php        class="lang {{ if eq .lang "php"        }}on{{ end }}">PHP</a>
    <a href=python     class="lang {{ if eq .lang "python"     }}on{{ end }}">Python</a>
    <a href=ruby       class="lang {{ if eq .lang "ruby"       }}on{{ end }}">Ruby</a>

    <form method=post>
        <textarea name=code>{{ .code }}</textarea>
        <input type=submit value=Run>
    </form>
</article>

{{ end }}
