{{ template "header" . }}

{{ with .Data.Hole.Experiment }}
    <div class=alert>
        {{ svg "flask-light" }}
        <p>
            This hole is experimental, no solutions will be saved.
        {{ if ne . -1 }}
            Please leave feedback on the
            <a href="//github.com/code-golf/code-golf/issues/{{ . }}">
                GitHub issue</a>.
        {{ end }}
    </div>
{{ else }}{{ if not .Golfer }}
    <div class=alert>
        {{ svg "exclamation-circle" }}
        <p>
            Please
            <a class=log-in href="{{ .LogInURL }}">log in with GitHub</a>
            in order to save solutions and appear on the leaderboards.
    </div>
{{ end }}{{ end }}

{{ with .Data.Authors }}
    <dialog id=authors-dialog>
        <h1>{{ $.Data.Hole.Name }} Authors</h1>
        <ul>
        {{ range . }}
            <li>
                <a href="/golfers/{{ . }}">
                    <img src="//avatars.githubusercontent.com/{{ . }}?s=48">
                    {{ . }}
                </a>
        {{ end }}
        </ul>
    </dialog>
{{ end }}

<main>
    <header>
        <h1>
        {{ with .Data.Authors }}
            <button id=authors-btn>
            {{ range . }}
                <img src="//avatars.githubusercontent.com/{{ . }}?s=56">
            {{ end }}
            </button>
        {{ end }}
            {{ .Data.Hole.Name }}
        </h1>
        <nav>
        {{ range $i, $link := .Data.Hole.Links }}
            {{ if $i }}<span>•</span>{{ end }}
            <a href="{{ .URL }}">{{ .Name }}</a>
        {{ end }}
        </nav>
        <nav>
        {{ range .Data.Hole.Variants }}
            {{ if ne . $.Data.Hole }}
                <a class="btn blue" href="{{ .ID }}">{{ .Name }}</a>
            {{ end }}
        {{ end }}
            <a class="btn orange" href="{{ .Data.Hole.Prev }}">
                {{ svg "chevron-double-left-light" }} Prev
            </a>
            <a class="btn purple" href=random>
                {{ svg "dice-light" }} Random
            </a>
            <a class="btn orange" href="{{ .Data.Hole.Next }}">
                {{ svg "chevron-double-right-light" }} Next
            </a>
        </nav>
    </header>
    <details id=details {{ if not .Data.HideDetails }}open{{ end }}>
        <summary>Details</summary>
        <div class=grid>
            {{ .Data.Hole.Preamble }}
        {{ if .Data.Hole.Data }}
            <div><button class="btn orange" id=copy>Copy as JSON</button><span>Copied</span></div>
        {{ end }}
        </div>
    </details>
    <nav class=tabs id=picker></nav>
    <nav class=tabs id=solutionPicker></nav>
    <section>
        <header>
            <div id=strokes>0 bytes, 0 chars</div>
            <a class=hide href id=restoreLink>Restore solution</a>
        </header>
        <header class=wide>
            <nav class=tabs id=scoringTabs><a>Bytes</a><a href>Chars</a></nav>
            <a href id=allLink>All</a>
        </header>
        <div id=editor></div>
        <table class="nowrap-second wide" id=scores><tr><td></table>
        <nav class="tabs wide" id=rankingsView>
            <a {{ if ne .Data.RankingsView "top" }} href {{ end }}>
                {{ svg "trophy-fill" }} Top
            </a>
            <a {{ if ne .Data.RankingsView "me" }} href {{ end }}>
                {{ svg "person-fill" }} Me
            </a>
            <a {{ if ne .Data.RankingsView "following" }} href {{ end }}>
                {{ svg "people-fill" }} Following
            </a>
        </nav>
    </section>
    <div class="hide info assembly">
        Compiled from
        <a href=//www.wikibooks.org/wiki/X86_Assembly/GAS_Syntax>
            AT&T syntax</a> to x86-64 Linux. Use
        <a href=//blog.rchapman.org/posts/Linux_System_Call_Table_for_x86_64>
            syscalls</a> to write output.
    </div>
{{ if eq .Data.Hole.ID "quine" }}
    <div class="hide info golfscript r">
        Implicit output is disabled for this hole.
    </div>
    <div class="hide info k">
        Implicit output is disabled for this hole. Code must end with a newline.
    </div>
    <div class="hide info powershell">
        Implicit output is disabled for this hole. Use <b>Out-Host</b> or
        <b>Write-Host</b> for output.
    </div>
{{ end }}
    <div id=run>
    {{ if .Golfer }}
        <button class="btn hide red" id=deleteBtn>
            {{ svg "trash" }} Delete
        </button>
    {{ end }}
        <span>ctrl + enter</span> or
        <button class="btn blue" id=runBtn>{{ svg "play-light" }} Run</button>
    </div>
    <div class=hide id=status>
        <h2></h2>
        <nav id=thirdParty></nav>
        <aside id=err><h3>Errors</h3><div></div></aside>
        <aside id=arg><h3>Arguments</h3><div></div></aside>
        <aside id=exp><h3>Expected</h3><div></div></aside>
        <aside id=out><h3>Output</h3><div></div></aside>
        <aside id=diff><h3>Diff</h3><div id=diff-content></div></aside>
    </div>
</main>

<dialog id=delete-dialog>
    <form action=/golfer/delete-solution autocomplete=off method=post>
        <h2>Delete Solution</h2>
        <p>
            Are you sure you want to delete your <b></b> solution(s) for
            <b>{{ .Data.Hole.Name }}</b>?
        <p>
            If you have seperate bytes and chars solutions then <b>both</b>
            will be deleted.
        <p>This is irreversible, please backup any code you care about.
        <p>Type <b>I understand</b> and press confirm to continue.</p>
        <input name=text placeholder="I understand">
        <input name=hole value="{{ .Data.Hole.ID }}" type=hidden>
        <input name=lang type=hidden>
        <menu>
            <!-- Enter submits the first button, we flip the order in CSS -->
            <button class="btn green" disabled name=confirm>Confirm</button>
            <button class="btn red" formmethod=dialog>Cancel</button>
        </menu>
    </form>
</dialog>

<div id=popups></div>

<script id=keymap type=application/json>
    {{ with .Golfer }}{{ .Keymap }}{{ else }}"default"{{ end }}
</script>

{{ with .Data.Hole.Data }}<script id=data type=application/json>{{ . }}</script>{{ end }}

<script id=experimental       type=application/json>{{ ne .Data.Hole.Experiment 0 }}</script>
<script id=darkModeMediaQuery type=application/json>{{ .DarkModeMediaQuery   }}</script>
<script id=langs              type=application/json>{{ .Langs                }}</script>
<script id=solutions          type=application/json>{{ .Data.Solutions       }}</script>

{{ template "footer" }}
