{{ template "header" . }}

<svg>
    {{ symbol "thumbs-up-light" }}
    {{ symbol "thumbs-down-light" }}
</svg>

{{ define "ideaGrid" }}{{ range . }}
{{ with .Hole }}
    <a class="card {{ .CategoryColor }}" href="/{{ .ID }}" title="{{ .Name }} ({{ .Category }})">
{{ else }}
    <a class="card {{ .CategoryColor }}" href="//github.com/code-golf/code-golf/issues/{{ .ID }}" title="{{ .Title }}">
{{ end }}
        <h2 class=span>{{ .Title }}</h2>
        <svg><use href="#thumbs-up"/></svg>
        {{ .ThumbsUp }}

        {{ with .Hole }}{{ svg .CategoryIcon }}{{ else }}<span></span>{{ end }}

        <svg><use href="#thumbs-down"/></svg>
        {{ .ThumbsDown }}
    </a>
{{ end }}{{ end }}

<main id=ideas>
    <h1 class=span>Experimental Holes</h1>
    {{ template "ideaGrid" .Data.Holes }}

    <h1 class=span>Ideas</h1>
    {{ template "ideaGrid" .Data.Ideas }}

    <p class="right span">
        <a href="//github.com/code-golf/code-golf/issues/new/choose">
            Add an Idea
        </a>
</main>

{{ template "footer" }}
