{{ template "header" . }}

<svg>
    {{ symbol "thumbs-up-light" }}
    {{ symbol "thumbs-down-light" }}
</svg>

<main id=ideas>
    <h1 class=span>Ideas</h1>

{{ range .Data }}
    <a class="card color" href="//github.com/code-golf/code-golf/issues/{{ .ID }}" title="{{ .Title }}">
        <h2 class=span>{{ .Title }}</h2>
        <svg><use href="#thumbs-up"/></svg>
        {{ .ThumbsUp }}
        <svg><use href="#thumbs-down"/></svg>
        {{ .ThumbsDown }}
    </a>
{{ end }}

    <p class="right span">
        <a href="//github.com/code-golf/code-golf/issues/new?labels=idea">
            Add an Idea
        </a>
</main>

{{ template "footer" }}
