{{ template "header" . }}

{{ if not .Golfer }}
    <div class=info>
        {{ svg "info-circle" }}
        <p>
            Code Golf is a game designed to let you show off your code-fu by
            solving problems in the least number of characters.
        <p>
            Since this is your first time here, I suggest starting with
            something simple like <a href=fizz-buzz>Fizz Buzz</a>.
        <p>
            Also visit <a href=//discord.gg/eVCTkYQ>our Discord server</a>
            for some advice.
    </div>
{{ end }}

<svg>
    {{ symbol "brush" }}
    {{ symbol "calculator" }}
    {{ symbol "cpu" }}
    {{ symbol "joystick" }}
    {{ symbol "shuffle" }}
    {{ symbol "sort-numeric-down" }}
</svg>

<main id=index>
{{ if .Golfer }}
    <nav class="span tabs">
        <button class="btn blue" id=configBtn title=Configure>
            {{ svg "gear" }}
        </button>

        <div></div>

    {{ $sort := .Data.Sort }}

    {{ range .Data.Sorts }}
        {{ $asc := hasSuffix $sort "asc" }}
        {{ $on  := hasPrefix $sort . }}

        <a {{ if $on }} class=on {{ end }} href="?sort={{ . }}-{{ if and $on $asc }}desc{{ else }}asc{{ end }}">
            {{ if and $on (not $asc) }}⌄{{ else }}⌃{{ end }}
            {{ title . }}
        </a>
    {{ end }}
    </nav>
{{ end }}
{{ range .Data.Cards }}
    <a class="card {{ .Hole.CategoryColor }}"
    {{ if .Points }}
        href="rankings/holes/{{ .Hole.ID }}/{{ $.Data.LangID }}/{{ $.Data.Scoring }}"
    {{ else }}
        href="{{ .Hole.ID }}"
    {{ end }}
       title="{{ .Hole.Name }} ({{ .Hole.Category }})">
        <h2>{{ .Hole.Name }}</h2>
        <svg><use href="#{{ .Hole.CategoryIcon }}"/></svg>
    {{ if .Lang }}
        <span title="{{ comma .Points }} points in {{ .Lang.Name }}">
            {{ comma .Points }} pts.
        </span>
    {{ end }}
    </a>
{{ end }}
</main>

<dialog>
    <form id=form-config>
        <h2>Configure</h2>
        <p>Point values shown:
        <select name=lang>
            <option value=all>All Languages
        {{ range .Data.Langs }}
            <option value="{{ .ID }}"
                {{ if eq $.Data.LangID .ID }} selected {{ end }}>{{ .Name }}
        {{ end }}
        </select>
        <div role=group>
        {{ with .Data.Scoring }}
            <label>
                <input name=scoring type=radio value=bytes
                    {{ if eq . "bytes" }} checked{{ end }}>
                    Bytes
            </label>
            <label>
                <input name=scoring type=radio value=chars
                    {{ if eq . "chars" }} checked{{ end }}>
                    Chars
            </label>
        {{ end }}
        </div>
        <menu>
            <!-- Enter submits the first button, we flip the order in CSS -->
            <button class="btn green">OK</button>
            <button class="btn red" formmethod=dialog>Cancel</button>
        </menu>
    </form>
</dialog>

{{ template "footer" }}
