{{ template "header" . }}

    <div class=hacktoberfest>
        {{ svg "hacktoberfest" }}

        <p>
            Why not contribute to
            <a href=//github.com/code-golf/code-golf>Code Golf</a>
            for this year's
            <a href=//hacktoberfest.digitalocean.com>Hacktoberfest</a>?

        <p>
            Try
            <a href="//github.com/code-golf/code-golf/issues?q=is:open+label:hacktoberfest">
                these issues</a>
            to get you started or come hang out in our
            <a href=//discord.gg/eVCTkYQ>Discord room</a>.
    </div>

{{ with .Data.Fails }}
    <div class=alert>
        {{ svg "exclamation-circle-light" }}
        The following solutions of yours have been marked as failing and
        no longer contribute to scoring; please update them to pass:
        <ul>
        {{ range . }}
            <li>
                <a href={{ .Hole.ID }}#{{ .Lang.ID }}>
                    {{ .Hole.Name }} ({{ .Lang.Name }})
                </a>
        {{ end }}
        </ul>
    </div>
{{ end }}

{{ if not .Golfer }}
    <div class=info>
        {{ svg "info-circle-light" }}
        <p>
            Code Golf is a game designed to let you show off your code-fu by
            solving problems in the least number of characters.
        <p>
            Since this is your first time here, I suggest starting with
            something simple like <a href=fizz-buzz>Fizz Buzz</a>.
    </div>
{{ end }}

<main id=index>
    <nav class="nav span">
    {{ $sort := .Data.Sort }}

    {{ range .Data.Sorts }}
        {{ $asc := hasSuffix $sort "asc" }}
        {{ $on  := hasPrefix $sort . }}

        <a {{ if $on }} class=on {{ end }} href="?sort={{ . }}-{{ if and $on $asc }}desc{{ else }}asc{{ end }}">
            {{ if and $on (not $asc) }}⌄{{ else }}⌃{{ end }}
            {{ title . }}
        </a>
    {{ end }}
    </nav>
{{ range .Data.Cards }}
    <a class="card {{ .Hole.CategoryColor }}" href={{ .Hole.ID }} title="{{ .Hole.Name }} ({{ .Hole.Category }})">
        <h2>{{ .Hole.Name }}</h2>
        <span>{{ .Hole.CategoryIcon }}</span>
        <span class=right>
            {{ with .Rank }}{{ comma . }}<sup>{{ ord . }}</sup> of{{ end }}
            {{ comma .Golfers }}
        </span>
    </a>
{{ end }}
</main>

{{ template "footer" }}
