<h1>
    {{ .Title }}

{{ if or (hasPrefix .Title "Rankings: Holes") (eq .Title "Rankings: Medals") }}
    {{ if ne .Data.HoleID "all" }}
        <a class="btn purple" href='/{{ .Data.HoleID }}{{ if ne .Data.LangID "all" }}#{{ .Data.LangID }}{{ end }}'>
            {{ svg "play-light" }} Play Hole
        </a>
    {{ end }}
{{ end }}
</h1>

<p>{{ .Description }}

<nav class=tabs>
    <a {{ if not (hasPrefix .Path "/rankings/holes/") }}
        href=/rankings/holes/all/all/bytes
    {{ end }}>
        Holes
    </a>

    <a {{ if not (hasPrefix .Path "/rankings/medals/") }}
        href=/rankings/medals/all/all/all
    {{ end }}>
        Medals
    </a>

    <a {{ if not (hasPrefix .Path "/rankings/cheevos") }}
        href=/rankings/cheevos
    {{ end }}>
        Achievements
    </a>

    <a {{ if not (hasPrefix .Path "/rankings/solutions") }}
        href=/rankings/solutions
    {{ end }}>
        Solutions
    </a>
</nav>
