<h1>
    <span>{{ .Title }}</span>

{{ if or (eq .Name "rankings/holes") (eq .Name "rankings/medals") }}
    {{ with index .Holes .Data.HoleID }}
    <nav>
        <a class="btn orange"
            href="/{{ $.Name }}/{{ .Prev.ID }}/{{ $.Data.LangID }}/{{ $.Data.Scoring }}"
           title="{{ .Prev.Name }}">
            {{ svg "chevron-double-left-light" }} Prev Hole
        </a>
        <a class="btn purple"
            href='/{{ .ID }}{{ if ne $.Data.LangID "all" }}#{{ $.Data.LangID }}{{ end }}'>
            {{ svg "play-light" }} Play Hole
        </a>
        <a class="btn orange"
            href="/{{ $.Name }}/{{ .Next.ID }}/{{ $.Data.LangID }}/{{ $.Data.Scoring }}"
           title="{{ .Next.Name }}">
            {{ svg "chevron-double-right-light" }} Next Hole
        </a>
    </nav>
    {{ end }}
{{ end }}
</h1>

<p>{{ .Description }}

<nav class=tabs>
    <a {{ if not (hasPrefix .Path "/rankings/cheevos/") }}
        href=/rankings/cheevos/all
    {{ end }}>
        Cheevos
    </a>

    <a {{ if not (hasPrefix .Path "/rankings/holes/") }}
        href=/rankings/holes/all/all/bytes
    {{ end }}>
        Holes
    </a>

    <a {{ if not (hasPrefix .Path "/rankings/recent-holes/") }}
        href=/rankings/recent-holes/all/bytes
    {{ end }}>
        Recent Holes
    </a>

    <a {{ if not (hasPrefix .Path "/rankings/langs/") }}
        href=/rankings/langs/all/bytes
    {{ end }}>
        Langs
    </a>

    <a {{ if not (hasPrefix .Path "/rankings/medals/") }}
        href=/rankings/medals/all/all/all
    {{ end }}>
        Medals
    </a>

    <a {{ if not (hasPrefix .Path "/rankings/misc/") }}
        href=/rankings/misc/diamond-deltas
    {{ end }}>
        Misc
    </a>
</nav>
