{{ template "header" . }}

{{ $holeID   := .Data.HoleID }}
{{ $langID   := .Data.LangID }}
{{ $allHoles := eq $holeID "all-holes" }}

<main id=scores>
    <h1>
        <span>Scores</span>

{{ if .Data.Prev }}
    {{ if eq .Data.Prev 1 }}
        <a class="btn orange" href="/scores/{{ $holeID }}/{{ $langID }}">
            {{ svg "chevron-double-left-light" }}
            Prev
        </a>
    {{ else }}
        <a class="btn orange" href="/scores/{{ $holeID }}/{{ $langID }}/{{ .Data.Prev }}">
            {{ svg "chevron-double-left-light" }}
            Prev
        </a>
    {{ end }}
{{ end }}

    {{ if not $allHoles }}
        <a class="btn purple" href='/{{ $holeID }}{{ if ne $langID "all-langs" }}#{{ $langID }}{{ end }}'>
            {{ svg "play-light" }} Play Hole
        </a>
    {{ end }}

    {{ if .Data.Next }}
        <a class="btn orange" href="/scores/{{ $holeID }}/{{ $langID }}/{{ .Data.Next }}">
            {{ svg "chevron-double-right-light" }}
            Next
        </a>
    {{ end }}

        {{/* TODO <a class="btn blue" href=#me>{{ svg "search-light" }} Find Me</a> */}}
    </h1>
    <details class=nav>
        {{ if eq $holeID "all-holes" }}
            <summary>All Holes</summary>
        {{ else }}
            <a href="/scores/all-holes/{{ $langID }}">All Holes</a>
        {{ end }}

        {{ range .Data.Holes }}
            {{ if eq $holeID .ID }}
                <summary>{{ .Name }}</summary>
            {{ else }}
                <a href="/scores/{{ .ID }}/{{ $langID }}">{{ .Name }}</a>
            {{ end }}
        {{ end }}
    </details>

    <details class=nav>
        {{ if eq $langID "all-langs" }}
            <summary>All Langs</summary>
        {{ else }}
            <a href="/scores/{{ $holeID }}/all-langs">All Langs</a>
        {{ end }}

        {{ range .Data.Langs }}
            {{ if eq $langID .ID }}
                <summary>{{ .Name }}</summary>
            {{ else }}
                <a href="/scores/{{ $holeID }}/{{ .ID }}">{{ .Name }}</a>
            {{ end }}
        {{ end }}
    </details>

    <table class="scores sticky">
        <thead>
            <tr>
                <th>Rank
                <th>Golfer
                <th class=right>{{ if $allHoles }}Holes{{ else }}Lang{{ end }}
                <th class=right>Points
                <th class="right wide">Strokes
                <th class="right wide">Submitted
        <tbody>
        {{ $name := "" }}
        {{ with .Golfer }}{{ $name = .Name }}{{ end }}

        {{- range .Data.Scores -}}
            {{ $me := eq $name .Login }}
            <tr{{ if $me }} class=me {{ end }}>
                <td>{{ comma .Rank }}<sup>{{ ord .Rank }}</sup>{{ if $me }}<p id=me>{{ end }}
                <td>
                    <a href="/golfers/{{ .Login }}">
                        <img src="//avatars.githubusercontent.com/{{ .Login }}?s=24">
                        {{- .Login -}}
                    </a>
                <td class=right>{{ if $allHoles }}{{ .Holes }}{{ else }}{{ .Lang.Name }}{{ end }}
                <td class=right>{{ comma .Points }}
                <td class="right wide">{{ comma .Strokes }}
                <td class="right wide">{{ time .Submitted }}
        {{- end -}}
    </table>
</main>
