{{ template "header" . }}

{{ $countries    := .Countries }}
{{ $holeID       := .Data.HoleID }}
{{ $langID       := .Data.LangID }}
{{ $scoring      := .Data.Scoring }}
{{ $allHoles     := eq $holeID "all-holes" }}
{{ $charsScoring := eq $scoring "chars" }}
{{ $bytesScoring := eq $scoring "bytes" }}

<main>
    <h1>
        <span>Scores</span>

{{ if .Data.Prev }}
    {{ if eq .Data.Prev 1 }}
        <a class="btn orange" href="/scores/{{ $holeID }}/{{ $langID }}/{{ $scoring }}">
            {{ svg "chevron-double-left-light" }}
            Prev
        </a>
    {{ else }}
        <a class="btn orange" href="/scores/{{ $holeID }}/{{ $langID }}/{{ $scoring }}/{{ .Data.Prev }}">
            {{ svg "chevron-double-left-light" }}
            Prev
        </a>
    {{ end }}
{{ end }}

    {{ if not $allHoles }}
        <a class="btn purple" href='/{{ $holeID }}{{ if ne $langID "all-langs" }}#{{ $langID }}{{ end }}'>
            {{ svg "play-light" }} Play Hole
        </a>
    {{ end }}

    {{ if .Data.Next }}
        <a class="btn orange" href="/scores/{{ $holeID }}/{{ $langID }}/{{ $scoring }}/{{ .Data.Next }}">
            {{ svg "chevron-double-right-light" }}
            Next
        </a>
    {{ end }}

        {{/* TODO <a class="btn blue" href=#me>{{ svg "search-light" }} Find Me</a> */}}
    </h1>
    <details class=nav>
        {{ if eq $holeID "all-holes" }}
            <summary>All Holes</summary>
        {{ else }}
            <a href="/scores/all-holes/{{ $langID }}/{{ $scoring }}">All Holes</a>
        {{ end }}

        {{ range .Data.Holes }}
            {{ if eq $holeID .ID }}
                <summary>{{ .Name }}</summary>
            {{ else }}
                <a href="/scores/{{ .ID }}/{{ $langID }}/{{ $scoring }}">{{ .Name }}</a>
            {{ end }}
        {{ end }}
    </details>

    <details class=nav>
        {{ if eq $langID "all-langs" }}
            <summary>All Langs</summary>
        {{ else }}
            <a href="/scores/{{ $holeID }}/all-langs/{{ $scoring }}">All Langs</a>
        {{ end }}

        {{ range .Data.Langs }}
            {{ if eq $langID .ID }}
                <summary>{{ .Name }}</summary>
            {{ else }}
                <a href="/scores/{{ $holeID }}/{{ .ID }}/{{ $scoring }}">{{ .Name }}</a>
            {{ end }}
        {{ end }}
    </details>

    <nav class=nav>
        <a {{ if $charsScoring }} href=bytes {{ end }}>Bytes</a>
        <a {{ if $bytesScoring }} href=chars {{ end }}>Chars</a>
    </nav>

    <table class="nowrap-second sticky">
        <thead>
            <tr>
                <th>Rank
                <th>Golfer
                <th class=right>{{ if $allHoles }}Holes{{ else }}Lang{{ end }}
                <th class=center colspan=2>Points
                <th class="right wide">Bytes
                <th class="right wide">Chars
                <th class="right wide">Submitted
        <tbody>
        {{ $name := "" }}
        {{ with .Golfer }}{{ $name = .Name }}{{ end }}

        {{- range .Data.Scores -}}
            {{ $me := eq $name .Login }}
            <tr{{ if $me }} class=me {{ end }}>
                <td>{{ comma .Rank }}<sup>{{ ord .Rank }}</sup>{{ if $me }}<p id=me>{{ end }}
                <td>
                    <a href="/golfers/{{ .Login }}">
                        <img loading=lazy src="//avatars.githubusercontent.com/{{ .Login }}?s=24">
                        <span>{{ .Login }}</span>
                    {{ with index $countries .Country }}
                        <span class=flag title="{{ .Name }}">{{ .Flag }}</span>
                    {{ end }}
                    </a>
                <td class=right>{{ if $allHoles }}{{ .Holes }}{{ else }}{{ .Lang.Name }}{{ end }}
                <td class=right><span{{ if $charsScoring }} class=inactive {{end}} data-tooltip="Points for Bytes scoring">{{ comma .BytesPoints }}
                <td class=right><span{{ if $bytesScoring }} class=inactive {{end}} data-tooltip="Points for Chars scoring">{{ comma .CharsPoints }}
                <td class="right wide">
                    <span{{ if $charsScoring }} class=inactive {{end}}
                    {{ if ne .Bytes 0 }}
                        data-tooltip="Bytes scoring is {{ comma .Bytes }} bytes, {{ comma .BytesChars }} chars.">{{ comma .Bytes }}
                    {{ else }}
                        >&nbsp;
                    {{ end }}
                <td class="right wide">
                <span{{ if $bytesScoring }} class=inactive {{end}}
                {{ if ne .Chars 0 }}
                    data-tooltip="Chars scoring is {{ comma .CharsBytes }} bytes, {{ comma .Chars }} chars.">{{ comma .Chars }}
                {{ else }}
                    >&nbsp;
                {{ end }}
                <td class="right wide">{{ time .Submitted }}
        {{- end -}}
    </table>
</main>

{{ template "footer" }}
