{{ template "header" . }}

<style nonce="{{ .Nonce }}">
form {
    align-items: center;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: min-content 1fr;
    max-width: 40rem;
    padding: 1rem;
}

form > :last-child { grid-column: -2 / -1 }

input, select {
    background: var(--background);
    border: 1px solid var(--color);
    padding: .5rem;
    width: 100%;
}

label {
    font-weight: bold;
    text-align: right;
    white-space: nowrap;
}

@media (max-width: 34rem) {
    form { grid-template-columns: 1fr }

    label { text-align: left }
}
</style>

<main>
    {{ template "golfer-info" . }}

    <form method=post>
        <label for=default_lang>Default Language</label>
        <select id=default_lang name=default_lang>
        {{ range .Data.Langs }}
            <option value="{{ .ID }}" {{ if eq .ID "python" }}selected{{ end }}>
                {{ .Name }}
        {{ end }}
        </select>

        <label for=time_zone>Time Zone</label>
        <select id=time_zone name=time_zone>
        {{ range .Data.TimeZones }}
            <option value="{{ .Name }}" {{ if eq .Name "UTC" }}selected{{ end }}>
                {{ . }}
        {{ end }}
        </select>
        <p>
            <button class="btn green">Save Changes</button>
    </form>
</main>
