{{ template "header" . }}

<h1>{{ .Title }}</h1>

<main id=two-pane>
    {{ template "nav" . }}

{{ if eq .Title "Statistics" }}
    <div id=overview>
        <div><h2>Holes</h2>{{ len .Holes }}</div>
        <div><h2>Languages</h2>{{ len .Langs }}</div>
        <div><h2>Golfers</h2>{{ comma .Data.Golfers }}</div>

        <div>
            <h2>Solutions</h2>
            <span>
                {{ comma .Data.Solutions }}
                <small>({{ bytes .Data.Bytes }})</small>
            </span>
        </div>
    </div>
{{ else }}
    <table class="nowrap-second sticky">
        <thead>
            <tr>
                <th>#
                <th>{{ .Data.Fact }}
                <th class=right>Solutions
                <th class=right>Golfers
                <th class="right wide">Per Golfer
        <tbody>
        {{ range .Data.Rows }}
            <tr>
                <td>{{ .Rank }}<sup>{{ ord .Rank }}</sup>
                <td>
                {{ with .Hole }}
                    <a href="/{{ .ID }}"><span>{{ .Name }}</span></a>
                {{ end }}
                {{ with .Lang }}
                    <a href="/recent/{{ .ID }}"><span>{{ .Name }}</span></a>
                {{ end }}
                <td class=right>{{ comma .Count }}
                <td class=right>{{ comma .Golfers }}
                <td class="right wide">{{ .PerGolfer }}
        {{ end }}
    </table>
{{ end }}
</main>

{{ template "footer" }}
