{{ template "header" . }}

<main id=stats>
    <h1 class=span>Statistics</h1>
    <div>
        <h2>Langs</h2>
        {{ .Data.Langs }}
    </div>
    <div>
        <h2>Holes</h2>
        {{ .Data.Holes }}
    </div>
    <div>
        <h2>Golfers</h2>
        {{ comma .Data.Golfers }}
    </div>
    <div>
        <h2>Solutions</h2>
        {{ comma .Data.Solutions }}
    </div>
    <div class=pie>
        <h2 class=span>Solutions by Holes</h2>
        {{ .Data.SolutionsByHole.HTML }}
    </div>
    <div class=pie>
        <h2 class=span>Solutions by Langs</h2>
        {{ .Data.SolutionsByLang.HTML }}
    </div>
</main>
