{{ template "header" . }}

<main>
    <h1 class=span>Statistics</h1>

    <div><h2>Langs</h2>{{ .Data.Langs }}</div>
    <div><h2>Holes</h2>{{ .Data.Holes }}</div>
    <div><h2>Golfers</h2>{{ comma .Data.Golfers }}</div>

    <div>
        <h2>Solutions</h2>
        <span>
            {{ comma .Data.Solutions }}
            <small>({{ bytes .Data.Bytes }})</small>
        </span>
    </div>

    <div class=pie>
        <h2 class=span>Solutions by Holes</h2>
        {{ .Data.SolutionsByHole.HTML }}
    </div>

    <div class=pie>
        <h2 class=span>Solutions by Langs</h2>
        {{ .Data.SolutionsByLang.HTML }}
    </div>

{{ range .Data.Tables }}
    <table class="nowrap-second sticky">
        <thead>
            <tr>
                <th class=wide>#
                <th>{{ .Fact }}
                <th class=right>Solutions
                <th class=right>Golfers
                <th class="right wide">Per Golfer
        <tbody>
        {{ range .Rows }}
            <tr>
                <td class=wide>{{ .Rank }}<sup>{{ ord .Rank }}</sup>
                <td><a href={{ .Route }}>{{ .Fact }}</a>
                <td class=right>{{ comma .Count }}
                <td class=right>{{ comma .Golfers }}
                <td class="right wide">{{ .PerGolfer }}
        {{ end }}
    </table>
{{ end }}
</main>
