{{ template "header" . }}

{{ $trophiesEarned := .Data.TrophiesEarned }}

<main>
    <div class=grid id=profile>
        <img src="//avatars.githubusercontent.com/{{ .Data.Login }}?s=96">
        <h1>{{ .Data.Login }}</h1>
        <p>{{ comma .Data.Points }} point{{ if .Data.Points }}s{{ end }}
        <p>{{ len .Data.Ranks }}/{{ len .Data.Holes }} holes
        <p>{{ len $trophiesEarned }}/{{ len .Data.Trophies }} trophies
    </div>
    <hr>
    <h2>Trophies</h2>
    <div class=grid id=trophies>
    {{ range .Data.Trophies }}
        {{ $earned := index $trophiesEarned .ID }}

        <div class="card {{ if $earned }}green{{ else }}red{{ end }}">
            <h2>{{ .Name }}</h2>
            <p>{{ .Description }}</p>
        {{ with $earned }}
            <time class=right datetime={{ .Format "2006-01-02T15:04:05Z" }}>
                {{ .Format "2 Jan" }}
            </time>
        {{ end }}
        </div>
    {{ end }}
    </div>

    {{ $langs := .Data.Langs }}
    {{ $ranks := .Data.Ranks }}

    <h2 class=wide>Overview</h2>
    <table class=wide id=matrix>
        <tr>
            <th>
        {{ range $langs }}
            <th title={{ .Name }}>
        {{ end }}
    {{ range $i, $hole := .Data.Holes }}
        <tr>
            <th><a href=/{{ .ID }}>{{ .Name }}</a>
        {{ range $j, $lang := $langs }}
            <td>
            {{ with index (index $ranks $hole.ID) $lang.ID }}
                <a href=/scores/{{ $hole.ID }}/{{ $lang.ID }}>
                    {{ . }}<sup>{{ ord . }}</sup>
                </a>
            {{ else }}
                <a href=/{{ $hole.ID }}#{{ $lang.ID }}></a>
            {{ end }}
        {{ end }}
    {{ end }}
    </table>
</main>
