{{ template "header" . }}

{{ $langs          := .Data.Langs }}
{{ $ranks          := .Data.Ranks }}
{{ $trophiesEarned := .Data.TrophiesEarned }}

<main>
    <svg id=symbols>
    {{ range $langs }}
        {{ symbol .ID }}
    {{ end }}
    </svg>

    <div class=grid id=profile>
        <img src="//avatars.githubusercontent.com/{{ .Data.Login }}?s=96">
        <h1>{{ .Data.Login }}</h1>
        <p>{{ comma .Data.Points }} point{{ if .Data.Points }}s{{ end }}
        <p>{{ len .Data.Ranks }}/{{ len .Data.Holes }} holes
        <p>{{ len $trophiesEarned }}/{{ len .Data.Trophies }} trophies
    </div>
    <hr>
    <h2>Trophies</h2>
    <div class=grid id=trophies>
    {{ range .Data.Trophies }}
        {{ $earned := index $trophiesEarned .ID }}

        <div class="card {{ if $earned }}green{{ else }}red{{ end }}">
            <h2>{{ .Name }}</h2>
            <p>{{ .Description }}</p>
        {{ with $earned }}
            <time class=right datetime={{ .Format "2006-01-02T15:04:05Z" }}>
                {{ .Format "2 Jan" }}
            </time>
        {{ end }}
        </div>
    {{ end }}
    </div>

    <h2>Overview</h2>

    <div id=matrix>
    {{ range $langs }}
        <input checked class={{ .ID }} id="{{ .ID }}Check" type=checkbox>
        <label for="{{ .ID }}Check" title="Toggle {{ .Name }}">
            <svg><use href="#{{ .ID }}"/></svg>
        </label>
    {{ end }}

    {{ range $i, $hole := .Data.Holes }}
        <h3 class=span>{{ .Name }}</h3>
        {{ range $j, $lang := $langs }}
            {{ with index (index $ranks $hole.ID) $lang.ID }}
                <a class="{{ $lang.ID }} {{ colour . }}"
                    href="/scores/{{ $hole.ID }}/{{ $lang.ID }}"
                   title="View scores of {{ $hole.Name }} in {{ $lang.Name }}">
                    <svg><use href="#{{ $lang.ID }}"/></svg>
                    <span>{{ . }}<sup>{{ ord . }}</sup></span>
                </a>
            {{ else }}
                <a class="{{ $lang.ID }} grey"
                    href="/{{ $hole.ID }}#{{ $lang.ID }}"
                   title="Play {{ $hole.Name }} in {{ $lang.Name }}">
                    <svg><use href="#{{ $lang.ID }}"/></svg>
                    
                </a>
            {{ end }}
        {{ end }}
    {{ end }}
    </div>
</main>
