@import "./_recent.css";

td > div {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    padding: .25rem 0;

    > span { line-height: 1rem }
}

@media (max-width: 34rem) { td:nth-child(-n+3) { width: 50% !important } }
