{{ template "header" . }}
{{ template "golfer" . }}

<main>
{{ range $category, $cheevos := .Data.Cheevos }}
    <details open>
        <div>
        {{ $i := 0 }}
        {{ range $cheevos }}
            {{ $progress := index $.Data.Progress .ID }}
            {{ $earned   := eq $progress.Completed $progress.Steps }}

            {{ if $earned }}
                {{ $i = inc $i }}
            {{ end }}

            <div class="achievement {{ if $earned }} earned {{ end }}">
                <div>{{ .Emoji }}</div>
                <h3>{{ .Name }}</h3>
                <div class=progress title="{{ $progress.Completed }} / {{ $progress.Steps }}">
                    {{ $progress.SVG }}
                    <div>{{ $progress.Percent }}<sup>%</sup></div>
                </div>
                <p>{{ .Description }}
                <p>
                    1,809 golfers (59%) • Earned
                    <time datetime="2019-02-10T18:51:08Z" title="2019-02-10T18:51:08Z">
                        10 Feb 2019
                    </time>
            </div>
        {{ end }}
        </div>
        <summary>[ {{ $i }} / {{ len $cheevos }} ] {{ $category }}</summary>
    </details>
{{ end }}
</main>

{{ template "footer" }}
