{{ template "header" . }}
{{ template "golfer" . }}

<main>
{{ range $category, $cheevos := .Cheevos }}
    <details open>
        <div>
        {{ $i := 0 }}
        {{ range $cheevos }}
            {{ $progress := index $.Data .ID }}

            <div class="cheevo {{ if $progress.Earned }} earned {{ end }}">
                <div>{{ .Emoji }}</div>
                <h3>{{ .Name }}</h3>
                <p>{{ .Description }}
                <p>
                {{ if and (not $progress.Earned) .Target }}
                    <progress max="{{ .Target }}"
                            value="{{ $progress.Progress }}"></progress>
                {{ end }}
                    <span>
                    {{ if $progress.Earned }}
                        {{ $i = inc $i }}
                        Earned {{ time $progress.Earned }}
                    {{ else if .Target }}
                        {{ $progress.Progress }} / {{ .Target }}
                    {{ else }}
                        Not yet earned
                    {{ end }}
                    </span>
                    <a href="/rankings/cheevos/{{ .ID }}">
                        {{ $progress.Count | comma }}
                        golfer{{ if ne $progress.Count 1 }}s{{ end }}
                        ({{ $progress.Percent }}%)
                    </a>
            </div>
        {{ end }}
        </div>
        <summary>[ {{ $i }} / {{ len $cheevos }} ] {{ $category }}</summary>
    </details>
{{ end }}
</main>

{{ template "footer" }}
