{{ template "header" . }}
{{ template "golfer" . }}

{{ $scorings := .Data.Scorings }}
{{ $scoringIndex := .Data.ScoringIndex }}
{{ $scoring := index $scorings $scoringIndex }}

<svg>
    {{ symbol "play-light" }}
{{ range .Data.Langs }}
    {{ symbol .ID }}
{{ end }}
</svg>

<main>
    <nav class=tabs>
    {{ range $scorings }}
        <a {{ if eq (index $scorings $scoringIndex) . }}
            class=on
        {{ else }}
            href="{{ . }}"
        {{ end }}>
            {{ title . }}
        </a>
    {{ end }}
    </nav>

{{ range .Data.Langs }}
    <input checked class={{ .ID }} id="{{ .ID }}Check" type=checkbox>
    <label for="{{ .ID }}Check" title="Toggle {{ .Name }}">
        <svg><use href="#{{ .ID }}"/></svg>
    </label>
{{ end }}

{{ range $i, $hole := .Data.Holes }}
    <h3 class=span>{{ .Name }}</h3>
    {{ range $j, $lang := $.Data.Langs }}
        {{ with index (index (index $.Data.Ranks $scoringIndex) $hole.ID) $lang.ID }}
            {{ $rank0 := index (index (index $.Data.Ranks 0) $hole.ID) $lang.ID }}
            {{ $rank1 := index (index (index $.Data.Ranks 1) $hole.ID) $lang.ID }}
            <a class="{{ $lang.ID }} {{ colour . }}"
                href="/scores/{{ $hole.ID }}/{{ $lang.ID }}/{{ $scoring }}"
                data-tooltip="{{ title (index $scorings 0) }} rank is {{ $rank0 }}{{ ord $rank0 }}, {{ title (index $scorings 1) }} rank is {{ $rank1 }}{{ ord $rank1 }}. View scores of {{ $hole.Name }} in {{ $lang.Name }}."
                data-wide-tooltip=true>
                <svg><use href="#{{ $lang.ID }}"/></svg>
                <span>{{ . }}<sup>{{ ord . }}</sup></span>
            </a>
        {{ else }}
            <a class="{{ $lang.ID }} grey"
                href="/{{ $hole.ID }}#{{ $lang.ID }}"
                data-tooltip="Play {{ $hole.Name }} in {{ $lang.Name }}."
                data-wide-tooltip=true>
                <svg><use href="#{{ $lang.ID }}"/></svg>
                <svg><use href="#play"/></svg>
            </a>
        {{ end }}
    {{ end }}
{{ end }}
</main>

{{ template "footer" }}
