{{ template "header" . }}
{{ template "golfer" . }}

<svg>
    {{ symbol "play-light" }}
{{ range .Data.Langs }}
    {{ symbol .ID }}
{{ end }}
</svg>

<main>
    <nav class=tabs>
    {{ range .Data.Scorings }}
        <a {{ if ne . $.Data.Scoring }} href="{{ . }}" {{ end }}>
            {{ title . }}
        </a>
    {{ end }}
    </nav>

{{ range .Data.Langs }}
    <input checked class={{ .ID }} id="{{ .ID }}Check" type=checkbox>
    <label for="{{ .ID }}Check" title="Toggle {{ .Name }}">
        <svg><use href="#{{ .ID }}"/></svg>
    </label>
{{ end }}

{{ range $i, $hole := .Data.Holes }}
    <h3 class=span>{{ .Name }}</h3>
    {{ range $j, $lang := $.Data.Langs }}
        {{ $bytes := index $.Data.Ranks (print $hole.ID $lang.ID "bytes") }}
        {{ $chars := index $.Data.Ranks (print $hole.ID $lang.ID "chars") }}

        {{ $rank := $bytes }}
        {{ if eq $.Data.Scoring "chars" }}{{ $rank = $chars }}{{ end }}
        
        {{ if $rank.Rank }}
            {{ with $rank }}
                <a class="{{ $lang.ID }} {{ colourRank .Rank }} {{ if .IsDiamond }}isDiamond{{ end }}"
                    href="/rankings/holes/{{ $hole.ID }}/{{ $lang.ID }}/{{ $.Data.Scoring }}"
                    data-tooltip="Bytes rank is {{ if $bytes.IsDiamond }}untied {{ end }}{{ $bytes.Rank }}{{ ord $bytes.Rank }}{{ if $chars }}, Chars rank is {{ if $chars.IsDiamond }}untied {{ end }}{{ $chars.Rank }}{{ ord $chars.Rank }}{{ end }}. View rankings of {{ $hole.Name }} in {{ $lang.Name }}."
                    data-wide-tooltip=true>
                    <svg><use href="#{{ $lang.ID }}"/></svg>
                    <span>{{ .Rank }}<sup>{{ ord .Rank }}</sup></span>
                </a>
            {{ end }}
        {{ else }}
            <a class="{{ $lang.ID }} grey"
                href="/{{ $hole.ID }}#{{ $lang.ID }}"
                data-tooltip="Play {{ $hole.Name }} in {{ $lang.Name }}."
                data-wide-tooltip=true>
                <svg><use href="#{{ $lang.ID }}"/></svg>
                <svg><use href="#play"/></svg>
            </a>
        {{ end }}
    {{ end }}
{{ end }}
</main>

{{ template "footer" }}
