{{ template "header" . }}
{{ template "golfer" . }}

<svg>{{ symbol "play-light" }}</svg>

<main>
    <nav class=tabs>
        <div>
        {{ range .Data.Displays }}
            <a {{ if ne . $.Data.Display }}
                href="../../{{ . }}/{{ $.Data.Scope }}/{{ $.Data.Scoring }}"
            {{ end }}>
                {{ title . }}
            </a>
        {{ end }}
        </div>
        <div>
        {{ range .Data.Scopes }}
            <a {{ if ne . $.Data.Scope }}
                href="../{{ . }}/{{ $.Data.Scoring }}"
            {{ end }}>
                {{ title . }}
            </a>
        {{ end }}
        </div>
        <div>
        {{ range .Data.Scorings }}
            <a {{ if ne . $.Data.Scoring }} href="{{ . }}" {{ end }}>
                {{ title . }}
            </a>
        {{ end }}
        </div>
    </nav>

    <div id=holes-wrapper>
        <div id=holes style="--langs: {{ len .Data.LangsUsed }}">
            <div></div>
            {{ range .Data.Langs }}
                {{ if (index $.Data.LangsUsed .ID) }}
                    <div class=lang title="{{ .Name }}">{{ svg .ID }}</div>
                {{ end }}
            {{ end }}

        {{ range $i, $hole := .Data.Holes }}
            {{ $holeRanks := index $.Data.Rankings $hole.ID }}
            {{ if not $holeRanks }}{{ continue }}{{ end }}

            <div class=hole>{{ .Name }}</div>
            {{ range $j, $lang := $.Data.Langs }}
                {{ if not (index $.Data.LangsUsed $lang.ID) }}
                    {{ continue }}
                {{ end }}

                {{ with (index $holeRanks $lang.ID) }}
                    <a class="{{ $lang.ID }} {{ colour .Rank .Points $.Data.Display }}"
                        href="/rankings/holes/{{ $hole.ID }}/{{ $lang.ID }}/{{ $.Data.Scoring }}"
                        data-tooltip="{{ comma .Rank }}{{ ord .Rank }} of {{ comma .Golfers }} golfers"
                        data-wide-tooltip>
                    {{ if eq $.Data.Display "points" }}
                        <span> {{ .Points }} </span>
                    {{ else if .Diamond }}
                        💎
                    {{ else }}
                        <span>{{ comma .Rank }}<sup>{{ ord .Rank }}</sup></span>
                    {{ end }}
                    </a>
                {{ else }}
                    <a class="{{ $lang.ID }} grey"
                        href="/{{ $hole.ID }}#{{ $lang.ID }}">
                        <svg><use href="#play"/></svg>
                    </a>
                {{ end }}
            {{ end }}
        {{ end }}
        </div>
        <div>{{/* Absolutely positioned top left black cell */}}</div>
    </div>
</main>

{{ template "footer" }}
