{{ template "header" . }}

<!-- TODO Implement "flash" messages in session
<div class=success>
    {{ svg "check-circle" }}
    Settings updated successfully.
</div>
-->

{{ template "golfer" . }}

<main>
    <form method=post>
        <label for=time_zone>Time Zone</label>
        <select id=time_zone name=time_zone>
        {{ $tz := .Golfer.TimeZone }}
        {{ range .Data.TimeZones }}
            <option value="{{ .Name }}" {{ if eq .Name $tz }}selected{{ end }}>
                {{ . }}
        {{ end }}
        </select>

        <label for=keymap>Keybindings</label>
        <select id=keymap name=keymap>
        {{ $keymap := .Golfer.KeymapPreference }}
        {{ range .Data.KeymapPreferences }}
            <option value="{{ . }}" {{ if eq . $keymap }}selected{{ end }}>
                {{ . }}
            </option>
        {{ end }}
        </select>
        <p>
            <button class="btn green">Save Changes</button>
    </form>
    <hr>
{{ if .Golfer.Delete.Valid }}
    <form action=/golfer/cancel-delete method=post>
        <p><button class="btn green">Cancel Deletion</button>
    </form>
{{ else }}
    <form action=/golfer/delete method=post>
        <p><button class="btn red">Delete Account</button>
    </form>
{{ end }}
</main>

{{ template "footer" }}
