{{ template "header" . }}

<!-- TODO Implement "flash" messages in session
<div class=success>
    {{ svg "check-circle" }}
    Settings updated successfully.
</div>
-->

{{ template "golfer" . }}

<main>
    <form method=post>
        <h2>Connections</h2>

        Will eventually allow for logging in with any supported OAuth
        connection.

        <ol id=connections>
        {{ range .Data.Connections }}
            <li>
                {{ svg .Connection }}
                <h3>
                    <span>{{ .Connection }}/</span>
                    {{- .Username -}}
                {{- if .Discriminator.Valid -}}
                    <span>{{ printf "#%04d" .Discriminator.Value }}</span>
                {{- end -}}
                </h3>
                <div>
                {{ if ne .Connection "github" }}
                    <a class="btn red" href="disconnect/{{ .Connection }}">
                        {{ svg "trash" }}<span class=wide>Remove</span>
                    </a>
                {{ end }}
                </div>
                <label>
                    <input name="show_{{ .Connection }}" type=checkbox
                        {{ if .Public }}checked{{ end }}>
                    Show this connection publicly?
                </label>
        {{ end }}
        </ol>

{{ if ne (len .Data.Connections) (len .Data.OAuthProviders) }}
        <div id=missingConnections>
    {{ range $id, $conn := .Data.OAuthProviders }}
        {{ $missing := true }}

        {{ range $.Data.Connections }}
            {{ if eq $id .Connection }}
                {{ $missing = false }}
                {{break}}
            {{ end }}
        {{ end }}

        {{ if $missing }}
            <a class="btn blue" href="{{ $conn.AuthCodeURL $.Data.OAuthState }}">
                {{ svg $id }} Add {{ $conn.Name }}
            </a>
        {{ end }}
    {{ end }}
        </div>
{{ end }}

        <h2>Country</h2>

        Will eventually be used in aggregate on the statistics page.
        Showing it publicly will put a little flag next to your name.

        <select name=country>
            <option value>Rather not say
        {{ $country := "" }}
        {{ with .Golfer.Country.Country }}{{ $country = .ID }}{{ end }}
        {{- range $continent, $countries := .Data.Countries -}}
            <optgroup label="{{ $continent }}">
            {{- range $countries -}}
                <option value="{{ .ID }}"
                    {{- if eq .ID $country }} selected{{ end }}>
                    {{- .Flag }}&ensp;{{ .Name -}}
            {{- end -}}
        {{- end -}}
        </select>

        <label>
            <input name=show_country type=checkbox
                {{ if .Golfer.ShowCountry }}checked{{ end }}>
            Show my country publicly?
        </label>
        
        <h2>Keymap</h2>

        Preferred keyboard mapping for the solution editor.

        <div role=group>
        {{- range .Data.Keymaps -}}
            <label>
                <input name=keymap type=radio value="{{ . }}"
                    {{- if eq . $.Golfer.Keymap }} checked{{ end }}>
                    {{- title . -}}
            </label>
        {{- end -}}
        </div>

        <h2>Layout</h2>

        Preferred layout for the hole page.

        <div role=group>
        {{- range .Data.Layouts -}}
            <label>
                <input name=layout type=radio value="{{ . }}"
                    {{- if eq . $.Golfer.Layout }} checked{{ end }}>
                    {{- title . }} {{ if eq . "tabs" }}(WIP){{ end -}}
            </label>
        {{- end -}}
        </div>

        <h2>Referrer</h2>

        Which golfer referred you to Code Golf?
        They will earn a badge for their profile from this.

        <datalist id=golfers></datalist>
        <input autocomplete=off data-ignore="{{ .Golfer.Name }}" list=golfers
            name=referrer value="{{ .Golfer.Referrer }}">

        <h2>Theme</h2>

        Preferred set of colors for the user interface.

        <div role=group>
            {{- range .Data.Themes -}}
                <label>
                    <input name=theme type=radio value="{{ . }}"
                        {{- if eq . $.Golfer.Theme }} checked{{ end }}>
                        {{- title . -}}
                </label>
            {{- end -}}
        </div>

        <h2>Time Zone</h2>

        Affects how times are displayed and might eventually affect when date
        specific achievements are awarded.

        {{ $tz := "" }}
        {{ with $.Golfer.TimeZone }}{{ $tz = .String }}{{ end }}
        <select name=time_zone>
            <option value>Rather not say
        {{- range .Data.TimeZones -}}
            <option value="{{ .Name }}"
                {{- if eq .Name $tz }} selected{{ end }}>
                {{- . -}}
        {{- end -}}
        </select>

        <p><button class="btn green">Save Changes</button>
    </form>

    <form>
        <h2>Export Data</h2>

        <p>You can export your data <a href=export>here</a>.
    </form>

{{ if .Golfer.Delete.Valid }}
    <form action=/golfer/cancel-delete method=post>
        <h2>Cancel Deletion</h2>

        Will cancel the scheduled permanent deletion of this account and all
        its data.

        <p><button class="btn green">Cancel Deletion</button>
    </form>
{{ else }}
    <form action=/golfer/delete method=post>
        <h2>Delete Account</h2>

        Will schedule this account and all its data to be permanently deleted
        in 14 days. Inside this window the schedule can be cancelled.

        <p><button class="btn red">Delete Account</button>
    </form>
{{ end }}
</main>

{{ template "footer" }}
