{{ template "header" . }}
{{ template "golfer" . }}

<main>
    <form method=post>
        <label for=default_lang>Default Language</label>
        <select id=default_lang name=default_lang>
        {{ range .Data.Langs }}
            <option value="{{ .ID }}" {{ if eq .ID "python" }}selected{{ end }}>
                {{ .Name }}
        {{ end }}
        </select>

        <label for=time_zone>Time Zone</label>
        <select id=time_zone name=time_zone>
        {{ range .Data.TimeZones }}
            <option value="{{ .Name }}" {{ if eq .Name "UTC" }}selected{{ end }}>
                {{ . }}
        {{ end }}
        </select>
        <p>
            <button class="btn green">Save Changes</button>
    </form>
</main>
