{{ template "header" . }}
{{ template "golfer" . }}

<main>
    <h1>{{ .Data.Hole.Name }} in {{ .Data.Lang.Name }}</h1>

{{ if .Data.Failing }}
    <p>Status: <span class=text-red>Failing</span>
{{ else }}
    <p>Status: Passing

    <!--<form method=post>
        <button class="btn blue" name=rejudge>Rejudge</button>
    </form>-->
{{ end }}
    <div>
        <table>
            <thead>
                <tr>
                    <th class=right>Bytes
                    <th class=right>Chars
                    <th class=right>Submitted
            <tbody>
            {{ range .Data.Log }}
                <tr>
                    <td class=right>{{ comma .Bytes }}
                    <td class=right>{{ comma .Chars }}
                    <td class=right>{{ time .Submitted }}
            {{ end }}
        </table>
    </div>
</main>

{{ template "footer" }}
