{{ template "header" . }}
{{ template "golfer" . }}

<main>
{{ range .Data.Trophies }}
    <div class="trophy {{ if not .Earned.Valid }} locked {{ end }}">
        <div>{{ .Trophy.Emoji }}</div>
        <h2>{{ .Trophy.Name }}</h2>
        <p>{{ .Trophy.Description }}
        <p>
            Won by {{ comma .Count }} golfer{{ if ne .Count 1 }}s{{ end }}
            ({{ .Percent }}%)
            <progress value="{{ .Count }}" max="{{ $.Data.Max }}"></progress>
        {{ if .Earned.Valid }}
            Won {{ time .Earned.Value }}
        {{ else }}
            <span>Not yet won</span>
        {{ end }}
    </div>
{{ end }}
</main>

{{ template "footer" }}
