{{ template "header" . }}
{{ template "golfer" . }}

<main>
{{ range $category, $trophies := .Data.Trophies }}
    <details open>
        <div>
        {{ $i := 0 }}
        {{ range $trophies }}
            {{ $earned := index $.Data.Earned .ID }}

            <div class="trophy {{ if $earned.Earned.Valid }} earned {{ end }}">
                <div>{{ .Emoji }}</div>
                <h3>{{ .Name }}</h3>
                <p>{{ .Description }}
                <p>
                    <span>
                    {{ if $earned.Earned.Valid }}
                        {{ $i = inc $i }}
                        Earned {{ time $earned.Earned.Value }}
                    {{ else }}
                        Not yet earned
                    {{ end }}
                    </span>
                    <a href="/rankings/cheevos/{{ .ID }}">
                        {{ $earned.Count | comma }}
                        golfer{{ if ne $earned.Count 1 }}s{{ end }}
                        ({{ $earned.Percent }}%)
                    </a>
            </div>
        {{ end }}
        </div>
        <summary>[ {{ $i }} / {{ len $trophies }} ] {{ $category }}</summary>
    </details>
{{ end }}
</main>

{{ template "footer" }}
