{{ template "header" . }}
{{ template "golfer" . }}

<main>
    <div id=wall>
{{ $lastDay := "" }}
{{ range .Data.Wall }}
    {{ $day := .Date.Format "Mon 2 Jan 2006" }}
    {{ if ne $day $lastDay }}
        <time>{{ $day }}</time>
        {{ $lastDay = $day }}
    {{ end }}
        <div>
            <a href="/golfers/{{ .Golfer }}">
                <img loading=lazy
                    src="//avatars.githubusercontent.com/{{ .Golfer }}?s=64">
            </a>
            <p>
                <a href="/golfers/{{ .Golfer }}">{{ .Golfer }}</a>
            {{ with .Cheevo }}
                earned the {{ .Emoji }} <a href="/rankings/cheevos/{{ .ID }}">
                    {{ .Name }}</a> achievement.
            {{ else }}
                solved <a href="/{{ .Hole.ID }}#{{ .Lang.ID }}">
                    {{ .Hole.Name }} in {{ .Lang.Name }}</a>.
            {{ end }}
        </div>
{{ end }}
    </div>

    <aside>
    {{ with len .Data.Trophies }}
        <section id=trophies>
            <h2>{{ . }} Language Troph{{ if gt . 1 }}ies{{ else }}y{{ end }}</h2>
    {{ range $.Data.Langs }}
        {{ $trophy := index $.Data.Trophies .ID }}
        {{ if $trophy }}
            {{ $bytes := index $trophy "bytes" }}
            {{ $chars := index $trophy "chars" }}

            {{ $rank    := $bytes }}
            {{ $scoring := "bytes" }}
            {{ $title   := "" }}

            {{ if eq $bytes $chars }}
                {{ $title = "Bytes & Chars" }}
            {{ else if and $bytes (or (not $chars) (lt $bytes $chars)) }}
                {{ $title = "Bytes" }}
            {{ else }}
                {{ $rank    = $chars  }}
                {{ $scoring = "chars" }}
                {{ $title   = "Chars" }}
            {{ end }}

            <a class="rank-{{ $rank }}"
                href="/rankings/holes/all/{{ .ID }}/{{ $scoring }}"
               title="{{ $rank }}{{ ord $rank }} in {{ .Name }} in {{ $title }}">
                {{ svg .ID }}
            </a>
        {{ end }}
    {{ end }}
        </section>
    {{ end }}

        <section id=cheevos>
            <h2>
                {{ len .GolferInfo.Cheevos }} / {{ .GolferInfo.CheevosTotal }}
                Achievements
            </h2>
    {{ range $category, $cheevos := .Cheevos }}
        {{ range $cheevos }}
            <div {{ if $.GolferInfo.Earned .ID }} class="earned" {{ end }}
                title="{{ .Name }} - {{ .Description }}">{{ .Emoji }}</div>
        {{ end }}
    {{ end }}
        </section>
    </aside>
</main>

{{ template "footer" }}
