main {
    align-items: start;
    grid-template-columns: 1fr 1fr 1fr;

    > div {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    > table:first-of-type {
        grid-column: 1 / -1;
    }
}

tr > :not(:first-child) { text-align: right }

.flag { margin: 0 .5rem 0 0 }

@media (max-width: 34rem) { main { grid-template-columns: 1fr } }
