@import "../_terminal.css";

code { white-space: normal }

main > form {
    align-items: center;
    display: grid;
    grid-template-columns: min-content 1fr;
    margin: auto;
}

main > form > div {
    align-items: center;
    display: flex;
    grid-column: span 2;
    justify-content: flex-end;
}

main > form > span {
    align-items: center;
    display: flex;
    gap: .25rem;
}

table {
    display: none;
    margin: auto;
}

td {
    vertical-align: top;
    white-space: nowrap;

    > code {
        display: block;
        max-height: 10rem;
        overflow: scroll;
    }

    > span {
        border: 1px solid var(--color);
        font-family: monospace;
        font-size: .75rem;
        font-weight: bold;
        padding: .2rem .35rem;
    }
}

tr > :nth-child(4) { text-align: right }

#status {
    font-variant: tabular-nums;
    margin-right: 1rem;
}

#stop { display: none }
