services:
  app:
    ports:
      - 80:80
      - 443:443
  assets:
    image: node:24.2.0-alpine3.22
    command:
      - ./esbuild
      - --watch=forever
    stop_signal: SIGKILL
    user: 1000:1000
    volumes:
      - ..:/code-golf
    working_dir: /code-golf
  db:
    ports:
      - 5432:5432
