{{ template "header" . }}
{{ template "golfer" . }}

{{ $show := setting .Golfer "golfer/cheevos" "show-cheevos" }}

<main>
{{ range $category, $cheevos := .Cheevos }}
    <details open>
        <div>
        {{ $i := 0 }}
        {{ range $cheevos }}
            {{ $progress := index $.Data .ID }}

            {{ if or (and      $progress.Earned  (eq $show "unearned"))
                     (and (not $progress.Earned) (eq $show "earned")) }}
                {{ continue }}
            {{ end }}

            <section class="cheevo {{ if $progress.Earned }} earned {{ end }}">
                <div class=emoji>{{ .Emoji }}</div>
                <h3>{{ .Name }}</h3>
                <p>{{ .Description }}
                <footer>
                {{ if and (not $progress.Earned) .Target }}
                    <progress max="{{ .Target }}"
                            value="{{ $progress.Progress }}"></progress>
                {{ end }}
                    <span>
                    {{ if $progress.Earned }}
                        {{ $i = inc $i }}
                        Earned {{ time ($progress.Earned.In $.Location) }}
                    {{ else if .Target }}
                        {{ comma $progress.Progress }} / {{ comma .Target }}
                    {{ else }}
                        Not yet earned
                    {{ end }}
                    </span>
                    <a href="/rankings/cheevos/{{ .ID }}">
                        {{ amount $progress.Count "golfer" }}
                        ({{ $progress.Percent }}%)
                    </a>
                </footer>
            </section>
        {{ end }}
        </div>
        <summary>
            {{ if eq $show "all" }}[ {{ $i }} / {{ len $cheevos }} ]{{ end }}
            {{ $category }}
        </summary>
    </details>
{{ end }}
</main>

{{ template "settings-dialog" . }}
{{ template "footer" }}
