{{ template "header" . }}
{{ template "golfer" . }}

<main>
    <form id=search>
        <fieldset>
            <input id=searchInput autofocus>
            <label>
                <input id=isRegexInput type=checkbox checked>
                Regex
            </label>
        </fieldset>
        <fieldset>
            <select id=holeInput><option>All Holes</option></select>
            <select id=languageInput><option>All Languages</option></select>
        </fieldset>
    </form>
    <div id=resultsOverview></div>
    <div id=results></div>
</main>

{{ template "footer" }}
