{{ template "header" . }}
{{ template "golfer" . }}

<main>
    <form id=search>
        <fieldset>
            <input name=q autocomplete=off autofocus>
            <label>
                <input name=regex type=checkbox checked>
                Regex
            </label>
        </fieldset>
        <fieldset>
            <select name=hole><option>All Holes</option></select>
            <select name=lang><option>All Languages</option></select>
        </fieldset>
    </form>
    <div id=resultsOverview></div>
    <div id=results></div>
</main>

{{ template "footer" }}
