#pagination {
    display: flex;
    font-variant: tabular-nums;
    gap: .5rem;

    > span {
        display: flex;
        gap: .5rem;

        &:first-child { justify-content: flex-end }

        &:not(:nth-child(2)) { flex: 1 }
    }
}
