@font-face {
    font-family: emoji;
    src: local('Apple Color Emoji'),
         local('Noto Color Emoji'),
         local('Segoe UI Emoji'),
         local('Twemoji Mozilla'),
         url(twemojiWoff2);
    unicode-range: U+2300-23FF,   /* Miscellaneous Technical */
                   U+2600-26FF,   /* Miscellaneous Symbols */
                   U+2700-27BF,   /* Dingbats */
                   U+2B00-2BFF,   /* Miscellaneous Symbols and Arrows */
                   U+1F1E6-1F1FF, /* Regional Indicator Symbols */
                   U+1F300-1F5FF, /* Miscellaneous Symbols and Pictographs */
                   U+1F600-1F64F, /* Emoticons */
                   U+1F680-1F6FF, /* Transport and Map Symbols */
                   U+1F900-1F9FF; /* Supplemental Symbols and Pictographs */
}

@font-face {
    font-family: font;
    src: url(fontWoff2);
    unicode-range: U+F???;
}

:root {
    --background: #FDFDFD;
    --color:      #343A40;
    /* https://flatuicolors.com */
    --red:        #FC5C65BB;
    --orange:     #FD9644BB;
    --yellow:     #FED330BB;
    --green:      #26DE81BB;
    --blue:       #45AAF2BB;
    --purple:     #8C7AE6BB;
    --grey:       #ECF0F1BB;
}

* {
    box-sizing: border-box;
    margin: 0;
}

a { color: #0366d6 }

a:not(:hover) { text-decoration: none }
a:not([href]) { cursor: auto }

blockquote {
    margin-left: 1rem;
    white-space: pre;
}

body {
    background: var(--background);
    color: var(--color);
    font: 16px emoji, font, system-ui, -apple-system, sans-serif;
}

body > #alert, header nav, main {
    margin: auto;
    max-width: 1280px;
    width: 100%;
}

body > #alert { margin: 1rem auto 0 }

details .grid { padding-top: 1rem }

h1 { font-size: 1.75rem }
h2 { font-size: 1.50rem }
h3 { font-size: 1.25rem }

header {
    background: var(--color);
    position: sticky;
    top: 0;
    z-index: 9;
}

header a {
    align-items: center;
    display: flex;
    fill: var(--background);
    height: 2.75rem;
    justify-content: center;
    width: 2.75rem;
}

header a:hover,
header a:not([href]) {
    background: var(--background);
    fill: var(--color);
}

header img {
    border-radius: 50%;
    height: 1.75rem;
    width: 1.75rem;
}

header div { flex: 1 }
header nav { display: flex }

header svg {
    height: 1.5rem;
    width: 1.5rem;
}

main {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: minmax(0, 1fr);
    padding: 1rem;
}

summary {
    background: var(--color);
    border: 1px solid var(--color);
    color: var(--background);
    cursor: pointer;
    display: block !important;
    line-height: 2rem;
    padding: 0 .5rem;
}

summary:before {
    content: '▶';
    margin-right: .5rem;
}

summary:focus { outline: none }

summary:hover {
    background: inherit !important;
    color: inherit !important;
}

details[open] summary:before { content: '▼' }

summary::-webkit-details-marker, #symbols { display: none }

sup {
    font-size: .75em;
    line-height: 0;
}

table {
    border-spacing: 0;
    font-variant: tabular-nums;
}

tbody > :nth-child(even) { background: #eee }

tbody th { text-align: right }

tbody tr > :first-child { border-left: 1px solid var(--color) }
tbody tr > :last-child { border-right: 1px solid var(--color) }

td, th {
    border-bottom: 1px solid var(--color);
    line-height: 2rem;
    padding: 0 .5rem;
    text-align: left;
}

td img {
    border-radius: 50%;
    height: 1.5rem;
    margin-right: .5rem;
    vertical-align: middle;
    width: 1.5rem !important;
}

thead th {
    background: var(--background);
    border-bottom-width: 2px;
}

.bold { font-weight: bold }

.btn {
    border: solid 1px var(--color);
    color: var(--color);
    display: flex;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1;
    padding: .5rem;
    user-select: none;
    white-space: nowrap;
}

.btn:hover {
    background: none;
    color: var(--color);
    cursor: pointer;
    text-decoration: none;
}

.btn svg {
    height: 1rem;
    margin-right: .25rem;
}

.card {
    align-items: end;
    border: 2px solid var(--color);
    color: var(--color);
    display: grid;
    grid-gap: .5rem;
    grid-template: min-content / 1fr min-content;
    height: 100%;
    padding: .5rem;
    text-decoration: none;
    white-space: nowrap;
}

.card:hover { background: none !important }

.card h2 {
    font-size: 1.25rem;
    grid-column: 1 / -1;
    line-height: 1.25;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card p {
    align-self: start;
    white-space: normal;
}

.color:nth-of-type(6n+1), .red    { background: var(--red)    }
.color:nth-of-type(6n+2), .orange { background: var(--orange) }
.color:nth-of-type(6n+3), .yellow { background: var(--yellow) }
.color:nth-of-type(6n+4), .green  { background: var(--green)  }
.color:nth-of-type(6n+5), .blue   { background: var(--blue)   }
.color:nth-of-type(6n+6), .purple { background: var(--purple) }

.grey { background: var(--grey) }

.grid {
    align-items: center;
    display: grid;
    grid-gap: 1rem;
}

/* TODO Need a dark version */
.me { background: var(--blue) !important }

.nav > * {
    color: inherit;
    display: inline-block;
    height: 2rem;
    line-height: 2rem;
    padding: 0 .5rem;
    text-decoration: none;
    white-space: nowrap;
}

.nav > .on,
.nav > :hover,
.nav > :not([href]) {
    background: var(--color);
    color: var(--background);
}

.right { text-align: right }

.scores a { color: var(--color) }

.scores td { white-space: nowrap }

.scores tr :nth-child(2) {
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.span { grid-column: 1 / -1 }

.sticky th {
    position: sticky;
    top: 2.75rem;
}

#alert {
    background: var(--yellow);
    border: solid 1px var(--color);
    display: grid;
    grid-template-columns: min-content 1fr;
    padding: 1rem;
}

#alert:before { content: '⚠' }

#error h1 { text-align: center }

#ideas, #index         { grid-template-columns: repeat(auto-fit, minmax(230px, 1fr)) }
#scores > :first-child { grid-template-columns: 1fr min-content }

#index > .grid {
    border: 2px solid var(--color);
    padding: 1rem;
}

#index .nav {
    display: flex;
    justify-content: flex-end;
}

#me {
    position: relative;
    top: -50vh;
}

#recent, #scores { max-width: 42rem }

#recent tr :nth-child(1),
#recent tr :nth-child(2) {
    max-width: 1.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 50%;
}

#tabs {
    background: var(--background);
    border-bottom: 2px solid var(--color);
    display: flex;
    font-weight: bold;
    margin-top: -1rem;
    padding: 1rem 1rem 0;
    position: sticky;
    top: 2.75rem;
    z-index: 1;
}

@media (max-width: 34rem) {
    .wide { display: none }

    #about  td:nth-child(2),
    #scores td:nth-child(4) {
        border-right: 1px solid var(--color);
    }
}

/* TODO https://github.com/code-golf/code-golf/issues/119

@media (prefers-color-scheme: dark) {
    :root {
        --background: #343a40;
        --color: #fdfdfd;
    }

    a { color: #45aaf2 }

    tbody > :nth-child(even) { background: #444a50 }
}*/
