main > header {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
}

main > header a { white-space: nowrap }

main > header nav {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
}

main .info {
    display: none;
    margin: 0;
    padding: .5rem;
}

section {
    display: grid;
    grid-template-columns: minmax(0, 1fr) 15rem;
}

section > header {
    align-items: center;
    display: flex;
    gap: .5rem;
    justify-content: space-between;
    padding-right: .5rem;
}

select {
    border: 0;
    border-radius: 0;
    color: var(--background);
    margin-bottom: -2px;
    padding: calc(.25rem + 1px) 1.25rem calc(.25rem + 1px) 1.75rem;
    width: initial;
}

.cm-editor { height: 100% }
.cm-gutter { min-width: 1.75rem }

.tabs a {
    margin-bottom: -2px;
    padding: calc(.5rem - 1px) .5rem;
}

#editor, #rankings {
    border: 1px solid var(--color);
    border-top: 2px solid var(--color);
    /* 15 rows of 2rem, 1px border under each, 2px border at the top */
    height: calc((2rem + 1px) * 15 + 2px);
}

#editor { border-right-width: 0 }

#rankings td { border-width: 1px 0 !important }

#rankings tr:last-child td { border-bottom: 0 }

#run {
    align-items: center;
    display: flex;
    justify-content: flex-end;
}

#run > span { margin: 0 1rem }

#status {
    display: none;
    grid-template-columns: 1fr auto;
    padding: 1rem;
}

#status h2 {
    grid-column: span 2;
    margin-bottom: 1rem;
}

#status .cm-editor {
    background: var(--background);
    border: 1px solid var(--color);
    border-top-width: 2px;
    grid-column: span 2;
    height: 20rem;
}

#thirdParty {
    align-items: center;
    display: flex;
}

@media (max-width: 34rem) {
    section { grid-template-columns: minmax(0, 1fr) }

    section > :nth-child(even) { display: none }

    #editor {
        border-right-width: 1px;
        height: auto;
    }
}
