/**
 * NOTE: These includes are hardcoded in render.go, not inlined automatically
 * from comments like the *.js `include`s
 */

/* include vendor/codemirror.css        */
/* include vendor/codemirror-dialog.css */

.term-fg31 { color: #c00 }
.term-fg32 { color: #490 }
.term-fg33 { color: #ca0 }

aside {
    border-left: 2rem solid var(--color);
    margin-top: 1rem;
    position: relative;
}

pre {
    font-family: emoji, 'SFMono-Regular', Menlo, Consolas, 'Liberation Mono', Courier, monospace;
}

aside > div {
    background: var(--background);
    border: 1px solid var(--color);
    border-left: 0;
    font-family: emoji, 'SFMono-Regular', Menlo, Consolas, 'Liberation Mono', Courier, monospace;
    font-variant-ligatures: none;
    height: 140px;
    overflow: auto;
    padding: 5px;
}

h3 {
    bottom: -1.5rem;
    color: var(--background);
    left: -2rem;
    line-height: 2rem;
    position: absolute;
    transform-origin: 0 0;
    transform: rotate(-90deg);
}

main .info {
    display: none;
    margin: 0;
    padding: .5rem;
}

.text-red { color: var(--red) }

#all { float: right }

#arg, #err { display: none }

#exp, #out { white-space: pre }

#arg span {
    background: #eee;
    border-radius: 10px;
    font-family: emoji, 'SFMono-Regular', Menlo, Consolas, 'Liberation Mono', Courier, monospace;
    line-height: 30px;
    padding: 3px 7px;
    white-space: pre;
}

#chars {
    border-bottom: 1px solid var(--color);
    font-weight: bold;
    line-height: 2rem;
}

#editor {
    border: 1px solid var(--color);
    min-height: 200px;
    overflow-x: hidden;
}

#emojify {
    display: grid;
    gap: .5rem;
    grid-template-columns: repeat(auto-fill, minmax(4.5rem, 1fr));
}

#emojify div {
    align-items: center;
    background: #eee;
    border: 1px solid var(--color);
    display: flex;
    justify-content: space-between;
    padding: .25rem .4rem;
}

/* TODO Replace margins with gap 1rem https://caniuse.com#feat=flexbox-gap */
#header {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: -.5rem;
}

#header > * { margin: .5rem }

#header a { white-space: nowrap }

#header nav {
    display: flex;
    flex-wrap: wrap;
}

#header span { margin: 0 .5rem }

#header .purple { margin: 0 1rem }

#run {
    align-items: center;
    display: flex;
    justify-content: flex-end;
}

#run > span { margin: 0 1rem }

#scores { grid-row: span 2 }

#scores td { border-left: 0 }

#status {
    display: none;
    padding: 1rem;
}

/* TODO Generalise the hole mapping table CSS, lose the specific IDs. */
                            #colors, #morse, #states { columns: 4 }
@media (max-width: 54rem) { #colors, #morse, #states { columns: 2 } }
@media (max-width: 30rem) { #colors, #morse, #states { columns: 1 } }

#colors svg {
    align-self: center;
    border: 1px solid var(--color);
    height: 1rem;
    margin-right: .5rem;
    width: 1rem;
}

#colors table, #morse table, #states table { break-inside: avoid-column }

#colors td:first-child { display: flex }

#colors td:last-child {
    text-align-last: justify;
    text-justify: inter-character;
}

#colors th:first-child,
#morse  td:last-child,
#states td:first-child {
    width: 100%;
}

#wrapper {
    display: grid;
    grid-template-columns: 1fr 16rem;
    grid-template-rows: min-content 1fr;
}

@media (max-width: 34rem) { #wrapper { grid-template-columns: 1fr } }
