/* TODO Stop having "thin" pages, make everything consistent. */
body { max-width: 50rem }

form {
    display: grid;
    gap: .5rem;
    grid-template-columns: auto auto 1fr;
}

h1 { margin: 1rem 1rem 0 }

h2 {
    font-size: 1rem;
    text-decoration: underline;
    width: 100%;
}

h2:not(:first-child) { margin-top: 1rem }

input { margin-right: .5rem }

label { display: flex }

main {
    display: grid;
    gap: 1rem 2rem;
    grid-template: min-content 1fr / min-content 1fr;
}

main nav {
    align-content: flex-start;
    border-right: 2px solid var(--color);
    display: flex;
    flex-wrap: wrap;
    gap: .25rem .75rem;
    grid-row: span 2;
    justify-content: flex-end;
    max-width: 15rem;
    min-width: 15rem;
    padding: .5rem .5rem .5rem 0;
}

main nav > * {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    white-space: nowrap;
}

main nav a:hover { text-decoration: none }

main nav a[href]:hover span:first-child { text-decoration: underline }

main nav a:not([href]) {
    color: var(--color);
    font-weight: bold;
}

main nav span:nth-child(2) { margin-left: .5rem }

select { grid-column: 1 / -1 }

table { flex: 1 }

td > a { text-decoration: none }

td > a > span:nth-of-type(1) { flex: 1 }

td > a:hover > span:first-of-type { text-decoration: underline }

#pagination { display: flex }

#pagination > :first-child { text-align: right }

#pagination > :not(:nth-child(2)) { flex: 1 }

#pagination > :nth-child(2) {
    font-variant: tabular-nums;
    margin: 0 .5rem;
}

@media (max-width: 34rem) {
    main { grid-template-columns: 1fr }
}
