/* TODO Stop having "thin" pages, make everything consistent. */
body { max-width: 47rem }

/* TODO Replace margins with gap 1rem https://caniuse.com#feat=flexbox-gap */
h1 {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin: -.5rem;
}

h1 > :first-child { flex: 1 }

h1 > * { margin: .5rem }

main > nav { display: flex }

td > a { text-decoration: none }

td > a > span:nth-of-type(1) { flex: 1 }

td > a:hover > span:first-of-type { text-decoration: underline }

@media (max-width: 34rem) {
    td:nth-child(5), td:nth-child(7) { border-right: 1px solid var(--color) }
}
