['><>']
size    = '4.98 MiB'
version = '4808a6c'
website = 'https://github.com/primo-ppcg/fish-jit'
example = '''
\ printing
> "!dlroW ,olleH" ooooooooooooo ao 03.
  looping
> 0 v
    >:nao 1+ :9)?v
v               ~<
  accessing arguments
> i : ?!v : 0) ?v ~;
        a
        o       o
        ~
^       <       <
'''

[Assembly]
size    = '79.9 MiB'
version = 'DefAssembler 2.2.0'
website = 'https://www.npmjs.com/package/@defasm/core'
example = '''
SYS_WRITE = 1
SYS_EXIT = 60
STDOUT_FILENO = 1

# Printing
.data
buffer: .string "Hello, World!\n"
bufferLen = . - buffer

.text
mov $SYS_WRITE, %eax
mov $STDOUT_FILENO, %edi
mov $buffer, %esi
mov $bufferLen, %edx
syscall

# Looping
.data
digit: .byte   '0', '\n'

.text
mov $10, %bl
numberLoop:
    mov $SYS_WRITE, %eax
    mov $STDOUT_FILENO, %edi
    mov $digit, %esi
    mov $2, %edx
    syscall

    incb (%rsi)
    dec %bl
    jnz numberLoop

# Accessing arguments
pop %rbx
pop %rax

argLoop:
    dec %rbx
    jz endArgLoop

    pop %rsi
    mov %rsi, %rdi

    mov $-1, %ecx
    xor %al, %al
    repnz scasb

    not %ecx
    movb $'\n', -1(%rsi, %rcx)

    mov %ecx, %edx
    mov $SYS_WRITE, %eax
    mov $STDOUT_FILENO, %edi
    syscall

    jmp argLoop
endArgLoop:

mov $SYS_EXIT, %eax
mov $0, %edi
syscall
'''

[Bash]
size    = '1.19 MiB'
version = '5.1.16'
website = 'https://www.gnu.org/software/bash/'
example = '''
# Printing
echo Hello, World!

# Looping
for i in {0..9}; do
    echo $i;
done

# Accessing arguments
for arg; do
    echo $arg;
done
'''

[brainfuck]
size    = '4.56 MiB'
version = 'c68db6c'
website = 'https://github.com/primo-ppcg/bf-jit'
example = '''
>>Printing
+[-->-[>>+>-----<<]<--<---]>-.>>>+.>>..+++[.>]<<<<.+++.------.<<-.>>>>+.[<->-]<-.>

>>Looping
++++++++[>++++++<-]
++++++++++[>.+>++++++++++.[-]<<-]

>>Accessing arguments
,[
    [
        .[-],
    ]
    ++++++++++.
    [-],
]
'''

[C]
size    = '1.61 MiB'
version = 'Tiny C Compiler 0.9.27'
website = 'https://bellard.org/tcc/'
example = '''
#include <stdio.h>

int main(int argc, char* argv[]) {
    // Printing
    puts("Hello, World!");

    // Looping
    for (int i = 0; i < 10; i++)
        printf("%d\n", i);

    // Accessing arguments
    for (int i = 1; i < argc; i++)
        puts(argv[i]);

    return 0;
}
'''

['C#']
size    = '145 MiB'
version = 'C# 10.0 on .NET 6.0.4'
website = 'https://docs.microsoft.com/dotnet/csharp/'
example = '''
// Printing
Console.WriteLine("Hello, World!");

// Looping
for (int i = 0; i < 10; i++)
    Console.WriteLine(i);

// Accessing arguments
foreach (String arg in args)
    Console.WriteLine(arg);
'''

['C++']
size    = '115 MiB'
version = '13.0.0'
website = 'https://clang.llvm.org'
example = '''
#include <iostream>

int main(int argc, char* argv[]) {
    // Printing
    std::cout<<"Hello, World!"<<std::endl;

    // Looping
    for (int i = 0; i < 10; i++)
        std::cout<<i<<std::endl;

    // Accessing arguments
    for (int i = 1; i < argc; i++)
        std::cout<<argv[i]<<std::endl;

    return 0;
}
'''

[COBOL]
size    = '4.1 MiB'
version = 'GnuCOBOL 3.1.2.0'
website = 'https://gnucobol.sourceforge.io'
example = '''
program-id.example.

data division.
local-storage section.
1 n pic 99 value 0.
1 i pic 9999.
1 a pic X(99).
procedure division.

*> Printing
display "Hello, World!"

*> Looping
perform 10 times
display n(2- function log10(n):)
add 1 to n
end-perform.

*> Accessing arguments
accept i from argument-number
perform i times
accept a from argument-value
display a
end-perform.
end-program.
'''

[Crystal]
size    = '221 MiB'
version = '1.4.1'
website = 'https://crystal-lang.org'
example = '''
# Printing
puts "Hello, World!"

# Looping
(0..9).each do |i|
    puts i
end

# Accessing arguments
ARGV.each do |arg|
    puts arg
end
'''

[D]
size    = '253 MiB'
version = 'D 2.098.0 on LDC 1.28.0'
website = 'https://dlang.org'
example = '''
import std.stdio;

void main(string[] argv) {
    // Printing
    writeln("Hello, World!");

    // Looping
    foreach (i; 0 .. 10) {
        writeln(i);
    }

    // Accessing arguments
    foreach (arg; argv[1 .. $]) {
        writeln(arg);
    }
}
'''

[Elixir]
size    = '277 MiB'
version = '1.13.4'
website = 'https://elixir-lang.org'
example = '''
# Printing
IO.puts 'Hello, World!'

# Looping
for i <- 0..9, do: IO.puts i

# Accessing arguments
for arg <- System.argv, do: IO.puts arg
'''

['F#']
size    = '140 MiB'
version = 'F# 6.0 on .NET 6.0.4'
website = 'https://fsharp.org'
example = '''
[<EntryPoint>]
let main args =
    // Printing
    printfn "Hello, World!"

    // Looping
    for i in 0..9 do
        printfn "%d" i

    // Accessing arguments
    for arg in args do
        printfn "%s" arg

    0
'''

[Fortran]
size    = '80.2 MiB'
version = 'GNU Fortran 11.2.0'
website = 'https://gcc.gnu.org/fortran/'
example = '''
character(len=32) :: s
integer :: i

! Printing
print "(a)", "Hello, World!"

! Looping
do i = 0, 9
    print "(i0)", i
end do

! Accessing arguments
! (NOTE: getarg() and iargc() are GNU Fortran extensions)
do i = 1, iargc()
    call getarg(i,s)
    print "(a)", s
end do

end
'''

[Go]
size    = '145 MiB'
version = '1.18.2'
website = 'https://go.dev'
example = '''
package main

import (
    "fmt"
    "os"
)

func main() {
    // Printing
    fmt.Println("Hello, World!")

    // Looping
    for i := 0; i < 10; i++ {
        fmt.Println(i)
    }

    // Accessing arguments
    for _, arg := range os.Args[1:] {
        fmt.Println(arg)
    }
}
'''

[Haskell]
size    = '309 MiB'
version = 'Glasgow Haskell Compiler 9.0.1'
website = 'https://www.haskell.org/ghc/'
example = '''
import System.Environment

main = do
  -- Printing
  putStrLn "Hello, World!"

  -- Looping
  mapM print [0..9]

  -- Accessing arguments
  args <- tail <$> getArgs
  mapM putStrLn args
'''

[Hexagony]
size    = '63.2 MiB'
version = '4b30f58'
website = 'https://github.com/SirBogman/Hexagony'
example = '''
          \ P r i n t i n g .
         \ H ; e ; l ; ; o ; \
        / o ; W ; 0 P ; 2 Q < .
       . > ; r ; l ; d ; P 1 ; \
      > * . . . . . . . . . . < .
     . . . . . . . . . . . . . . .
    . . L o o p i n g . . . . . . .
   \ 1 0 ; " $ / } ! ) " ; \ . . . .
  . . . . . . . > . - " = < . . . . .
 . / . . . . . < . . . . . . . . . . .
  . . . . . . . . . . . . . . . . . .
   . . . A c c e s s i n g . . . . .
    . . . A r g u m e n t s . . . .
     . . . . . . > \ . @ . . . . .
      . > $ > , < \ ) < . . . . .
       . . \ . ; / $ 0 / . . . .
        . . . . . . . . . . . .
         . . . . . . . . . . .
          . . . . . . . . . .
'''

[J]
size    = '4.84 MiB'
version = '9.02.08'
website = 'https://www.jsoftware.com'
example = '''
NB.Printing
echo'Hello, World!'

NB.Looping
echo i.10 1

NB.Accessing arguments
echo each 2}.ARGV
'''

[Java]
size    = '51.1 MiB'
version = '17.0.1'
website = 'https://openjdk.java.net'
example = '''
class Main {
    public static void main(String[] args) {
        // Printing
        System.out.println("Hello, World!");

        // Looping
        for (int i = 0; i < 10; i++)
            System.out.println(i);

        // Accessing arguments
        for (String arg : args)
            System.out.println(arg);
    }
}
'''

[JavaScript]
size    = '21.5 MiB'
version = 'V8 9.9.115.8'
website = 'https://v8.dev'
example = '''
// Printing
print("Hello, World!");

// Looping
for (let i = 0; i < 10; i++)
    print(i);

// Accessing arguments
for (let arg of arguments)
    print(arg);
'''

[Julia]
size    = '278 MiB'
version = '1.7.2'
website = 'https://julialang.org'
example = '''
# Printing
println("Hello, World!")

# Looping
for i=0:9
    println(i)
end

# Accessing arguments
for arg in ARGS
    println(arg)
end
'''

[K]
size    = '262 KiB'
version = '7508b9ae11'
website = 'https://codeberg.org/ngn/k'
example = '''
/Printing
`0:"Hello, World!"

/Looping
`0:$!10

/Accessing arguments
`0:x
'''

[Lisp]
size    = '33.6 MiB'
version = 'GNU CLISP 2.49.92'
website = 'https://clisp.sourceforge.io'
example = '''
; Printing
(write-line "Hello, World!")

; Looping
(loop for i from 0 to 9
    do (format t "~d~%" i)
)

; Accessing Arguments
(loop for arg in *args*
    do (write-line arg)
)
'''

[Lua]
size    = '342 KiB'
version = '5.4.4'
website = 'https://www.lua.org'
example = '''
-- Printing
print("Hello, World!")

-- Looping
for i = 0, 9 do
    print(i)
end

-- Accessing arguments
for i = 1, #arg do
    print(arg[i])
end
'''

[Nim]
size    = '13.5 MiB'
version = '1.6.6'
website = 'https://nim-lang.org'
example = '''
import os

# Printing
echo "Hello, World!"

# Looping
for i in 0 .. 9:
    echo i

# Accessing arguments
for arg in commandLineParams():
    echo arg
'''

[Pascal]
size    = '31.2 MiB'
version = '3.2.2'
website = 'https://freepascal.org'
example = '''
var
    i: integer;
begin
    { Printing }
    writeLn('Hello, World!');

    { Looping }
    for i := 0 to 9 do
        writeLn(i);

    { Accessing arguments }
    for i := 1 to argc - 1 do
        writeLn(argv[i]);
end.
'''

[Perl]
size    = '4.32 MiB'
version = '5.34.1'
website = 'https://www.perl.org'
example = '''
# Printing
say 'Hello, World!';

# Looping
say for 0..9;

# Accessing arguments
say for @ARGV;
'''

[PHP]
size    = '10.5 MiB'
version = '7.4.29'
website = 'https://www.php.net'
example = '''
# Printing
echo "Hello, World!\n";

# Looping
for ($i = 0; $i < 10; $i++)
    echo "$i\n";

# Accessing arguments
for ($i = 1; $i < $argc; $i++)
    echo "$argv[$i]\n";
'''

[PowerShell]
size    = '177 MiB'
version = 'PowerShell 7.2.3 on .NET 6.0.4'
website = 'https://docs.microsoft.com/powershell/scripting/overview'
example = '''
# Printing
Write-Host 'Hello, World!'

# Looping
ForEach ($i in 0..9) {
    Write-Host $i
}

# Accessing arguments
ForEach ($arg in $args) {
    Write-Host $arg
}
'''

[Prolog]
size    = '31.7 MiB'
version = 'SWI-Prolog 8.4.1'
website = 'https://www.swi-prolog.org'
example = '''
% Printing
:- writeln("Hello, World!").

% Looping
:- numlist(0, 9, List),
   maplist(writeln, List).

% Accessing arguments
:- prolog_flag(argv, Args),
   maplist(writeln, Args).
'''

[Python]
size    = '57.8 MiB'
version = '3.10.4'
website = 'https://www.python.org'
example = '''
import sys

# Printing
print('Hello, World!')

# Looping
for i in range(10):
    print(i)

# Accessing arguments
for arg in sys.argv[1:]:
    print(arg)
'''

[Raku]
size    = '57.4 MiB'
version = 'Raku 6.d on Rakudo 2022.04'
website = 'https://raku.org'
example = '''
# Printing
say 'Hello, World!';

# Looping
.say for ^10;

# Accessing arguments
.say for @*ARGS;
'''

[Ruby]
size    = '24.3 MiB'
version = '3.1.2'
website = 'https://www.ruby-lang.org'
example = '''
# Printing
puts 'Hello, World!'

# Looping
(0..9).each do |i|
    puts i
end

# Accessing arguments
ARGV.each do |arg|
    puts arg
end
'''

[Rust]
size    = '511 MiB'
version = '1.60.0'
website = 'https://www.rust-lang.org'
example = '''
fn main() {
    // Printing
    println!("Hello, World!");

    // Looping
    for i in 0..10 {
        println!("{i}");
    }

    // Accessing arguments
    for arg in std::env::args().skip(1) {
        println!("{arg}");
    }
}
'''

[sed]
size    = '228 KiB'
version = '4.8'
website = 'https://www.gnu.org/software/sed/'
example = '''
# Printing
1i Hello, World!

# Looping
2,$ b

h
s/.*/0/
:loop
p
y/012345678/123456789/
/9/ !b loop
G

# Accessing arguments
# (... automatic, one per line ...)
'''

[SQL]
size    = '1.09 MiB'
version = '3.38.5'
website = 'https://sqlite.org'
example = '''
-- Printing
SELECT 'Hello, World!'

UNION ALL

SELECT * FROM (
    -- Looping
    WITH loop(i) AS (
        SELECT 0
        UNION ALL
        SELECT i+1 FROM loop
        WHERE i<9
    )
    SELECT i FROM loop
)

UNION ALL

-- Accessing arguments
SELECT arg FROM argv
'''

[Swift]
size    = '561 MiB'
version = '5.6.1'
website = 'https://swift.org'
example = '''
// Printing
print("Hello, World!")

// Looping
for i in 0...9 {
    print(i)
}

// Accessing arguments
for arg in CommandLine.arguments[1...] {
    print(arg)
}
'''

[V]
size    = '38.1 MiB'
version = '0.2.4'
website = 'https://vlang.io'
example = '''
import os

// Printing
println('Hello, World!')

// Looping
for i in 0..10 {
    println(i)
}

// Accessing arguments
for arg in os.args[1..] {
    println(arg)
}
'''

[VimL]
size    = '21.3 MiB'
version = '8.2'
website = 'https://www.vim.org'
example = '''
" Printing
i
Hello, World!
.

" Looping
for i in range(10)
    pu=i
endfo

" Accessing arguments
for a in args
    pu=a
endfo

" Make sure to save the file when you're done!
w
'''

[Zig]
size    = '262 MiB'
version = '0.9.1'
website = 'https://ziglang.org'
example = '''
// Notice: use spaces as indentation, since tab causes a compile-time error

const std = @import("std");

pub fn main() !void {
    const stdout = std.io.getStdOut().writer();

    // Printing
    try stdout.print("Hello, World!\n", .{});

    // Looping
    var i: i32 = 0;
    while (i < 10) : (i += 1)
        try stdout.print("{}\n", .{i});

    // Accessing arguments
    for (std.os.argv) |arg, index|
        if (index > 0)
            try stdout.print("{s}\n", .{arg});
}
'''
