body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    margin: 50px 0 0;
}

body > ul {
    display: table;
    margin: auto;
    padding: 7px 0 0;
}

body > ul li {
    display: inline;
}

body > ul li::before {
    content: '■';
    font-size: 24px;
    line-height: 24px;
    margin: 0 5px;
}

body > ul li:first-child::before {
    color: #3d8b3d;
    margin-left: 0;
}

body > ul li:nth-child(2)::before {
    color: #df8a13;
}

body > ul li:nth-child(3)::before {
    color: #b52b27;
}

div a, table a {
    color: #000;
    text-decoration: none;
}

dd {
    margin: 20px;
}

dt {
    font-weight: bold;
}

header {
    background: #222;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}

label {
    display: block;
    margin-bottom: 10px;
}

main,
#status > div {
    margin: auto;
    max-width: 980px;
    padding: 10px;
}

header nav {
    font-size: 16px;
    margin: auto;
    max-width: 980px;
}

header nav a {
    background: 10px / 30px no-repeat;
    color: #999;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 10px;
    padding-left: 50px;
    text-decoration: none;
}

header nav a:first-child        { background-image: svg(home#999) }
header nav a:first-child:hover  { background-image: svg(home#fff) }
header nav a:nth-child(2)       { background-image: svg(question-circle#999) }
header nav a:nth-child(2):hover { background-image: svg(question-circle#fff) }
header nav a:nth-child(3)       { background-image: svg(list-ol#999) }
header nav a:nth-child(3):hover { background-image: svg(list-ol#fff) }
header nav a:nth-child(4)       { background-image: svg(chart-area#999) }
header nav a:nth-child(4):hover { background-image: svg(chart-area#fff) }

header nav a:nth-child(5), header nav a:nth-child(6) {
    float: right;
}

header nav a:hover {
    background-color: #000;
    color: #fff;
}

header nav img {
    border-radius: 50%;
    height: 30px;
    left: 10px;
    position: absolute;
    width: 30px;
}

pre,
.CodeMirror,
#hole table {
    font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
}

select {
    background: #eee;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 10px;
    width: calc(50% - 5px);
}

select:first-child {
    margin-right: 10px;
}

sup {
    font-size: 10px;
    line-height: 0;
}

table {
    border: 1px solid #ddd;
    border-collapse: collapse;
}

td, th {
    border-top: 1px solid #ddd;
    height: 20px;
    line-height: 20px;
    padding: 10px;
}

td[colspan] {
    text-align: center;
}

td a:hover {
    text-decoration: underline;
}

td img {
    border-radius: 50%;
    height: 26px;
    left: 7px;
    position: absolute;
    top: 7px;
    width: 26px;
}

th {
    text-align: right;
}

tr:first-child td {
    border: 0;
}

tr:nth-child(even) { background: #eee }
tr:nth-child(odd)  { background: #fff }
tr.me              { background: #5cf }

.Fast {
    background: #3d8b3d;
    border: 1px solid #3d8b3d;
}

.Fast > a:hover {
    background-color: #5cb85c !important;
}

.Medium {
    background: #df8a13;
    border: 1px solid #df8a13;
}

.Medium > a:hover {
    background-color: #f0ad4e !important;
}

.Slow {
    background: #b52b27;
    border: 1px solid #b52b27;
}

.Slow > a:hover {
    background-color: #d9534f !important;
}

.bash       { background: svg(bash#000)       center right 7px / 26px no-repeat }
.c          { background: svg(c#000)          center right 7px / 26px no-repeat }
.haskell    { background: svg(haskell#000)    center right 7px / 26px no-repeat }
.j          { background: svg(j#000)          center right 7px / 26px no-repeat }
.javascript { background: svg(javascript#000) center right 7px / 26px no-repeat }
.julia      { background: svg(julia#000)      center right 7px / 26px no-repeat }
.lisp       { background: svg(lisp#000)       center right 7px / 26px no-repeat }
.lua        { background: svg(lua#000)        center right 7px / 26px no-repeat }
.perl       { background: svg(perl#000)       center right 7px / 26px no-repeat }
.perl6      { background: svg(perl6#000)      center right 7px / 26px no-repeat }
.php        { background: svg(php#000)        center right 7px / 26px no-repeat }
.python     { background: svg(python#000)     center right 7px / 26px no-repeat }
.ruby       { background: svg(ruby#000)       center right 7px / 26px no-repeat }

.scores td {
    white-space: nowrap;
}

.scores td:nth-child(2) {
    overflow: hidden;
    padding-left: 45px;
    position: relative;
    text-overflow: ellipsis;
    width: 100%;
}

.scores td:nth-child(3) {
    padding-right: 40px;
    text-align: right;
}

.scores td:nth-child(3):not([class]) {
    padding-right: 5px;
}

.scores td:nth-child(4) {
    color: #999;
    font-size: 12px;
    font-style: italic;
    padding-left: 0;
}

.scores td:nth-child(5) {
    text-align: right;
}

#failing {
    background: #ff6961;
    border: 1px solid #b52b27;
    margin: 60px 10px 0;
    padding: 10px;
}

#failing a:hover {
    text-decoration: underline;
}

#home {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(32ch, 1fr));
    max-width: unset;
}

#home div {
    border-radius: 10px;
    overflow: hidden;
}

#home div > a {
    background: svg(external-link-square#fff) top 6px right 6px / 15px no-repeat;
    color: #fff;
    display: block;
    font-size: 26px;
    padding: 10px;
}

#home div > a:last-child {
    background: none;
    font-size: 10px;
    font-weight: bold;
    padding: 5px;
    text-align: center;
}

#home table {
    border: 0;
}

#login       { background-image: svg(sign-in#999) }
#login:hover { background-image: svg(sign-in#fff) }

#logout {
    background-image: svg(sign-out#999);
    padding: 10px;
    width: 30px;
}

#logout:hover { background-image: svg(sign-out#fff) }

#me {
    padding-left: 50px;
    position: relative;
}

#scores {
    max-width: 600px;
}

#versions a {
    background: svg(globe#000) center / 26px no-repeat;
    display: block;
    height: 26px;
    width: 26px;
}

#versions a:hover {
    background-image: svg(globe#3498db);
}

#versions th {
    padding-right: 50px;
}

@media(max-width: 580px) {
    header nav a:nth-child(1),
    header nav a:nth-child(2),
    header nav a:nth-child(3),
    header nav a:nth-child(4) {
        overflow: hidden;
        padding-right: 0;
        vertical-align: bottom;
        width: 0;
    }

    #matrix,
    .scores td:nth-child(n+4) {
        display: none;
    }
}
