/* include codemirror.css */

blockquote {
    white-space: pre;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    margin: 50px 0 0;
}

div a, table a {
    color: #000;
    text-decoration: none;
}

dd {
    margin: 20px;
}

dt {
    font-weight: bold;
}

header {
    background: #222;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

input {
    background: #3f8abf;
    border: 0 solid #326e99;
    border-bottom-width: 3px;
    border-radius: 6px;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, .1) inset;
    color: #fff;
    cursor: pointer;
    float: right;
    font-size: 18px;
    font-weight: bold;
    padding: 7px;
    transition: background .2s ease-in-out 0s;
}

input[type=checkbox] {
    float: left;
}

input:hover {
    background: #397cac;
}

label {
    display: block;
    margin-bottom: 10px;
}

li {
    display: inline;
}

li::before {
    content: '■';
    font-size: 24px;
    line-height: 24px;
    margin: 0 5px;
}

li:first-child::before {
    color: #3d8b3d;
    margin-left: 0;
}

li:nth-child(2)::before {
    color: #df8a13;
}

li:nth-child(3)::before {
    color: #b52b27;
}

main,
#status > div {
    margin: auto;
    max-width: 980px;
    padding: 10px;
}

nav {
    font-size: 16px;
    margin: auto;
    max-width: 980px;
}

nav a {
    background: 10px / 30px no-repeat;
    color: #999;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 10px;
    padding-left: 50px;
    text-decoration: none;
}

nav a:first-child        { background-image: svg(home#999) }
nav a:first-child:hover  { background-image: svg(home#fff) }
nav a:nth-child(2)       { background-image: svg(question-circle#999) }
nav a:nth-child(2):hover { background-image: svg(question-circle#fff) }
nav a:nth-child(3)       { background-image: svg(list-ol#999) }
nav a:nth-child(3):hover { background-image: svg(list-ol#fff) }

nav a:nth-child(4), nav a:nth-child(5) {
    float: right;
}

nav a:hover {
    background-color: #000;
    color: #fff;
}

nav img {
    border-radius: 50%;
    height: 30px;
    left: 10px;
    position: absolute;
    width: 30px;
}

pre,
.CodeMirror {
    font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
}

select {
    background: #eee;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 10px;
    width: calc(50% - 5px);
}

select:first-child {
    margin-right: 10px;
}

sup {
    font-size: 10px;
    line-height: 0;
}

table {
    border: 1px solid #ddd;
    border-collapse: collapse;
}

td, th {
    border-top: 1px solid #ddd;
    height: 20px;
    line-height: 20px;
    padding: 10px;
}

td[colspan] {
    text-align: center;
}

td a:hover {
    text-decoration: underline;
}

td img {
    border-radius: 50%;
    height: 26px;
    left: 7px;
    position: absolute;
    top: 7px;
    width: 26px;
}

th {
    padding-left: 20px;
    text-align: right;
}

tr:first-child td {
    border: 0;
}

tr:nth-child(even) { background: #eee }
tr:nth-child(odd)  { background: #fff }
tr.me              { background: #5cf }

ul {
    display: table;
    margin: auto;
    padding: 7px 0 0;
}

.CodeMirror {
    border: 1px solid #ddd;
    border-top: 0;
    box-shadow: 0 -4px 0 #222;
    width: 100%;
}

.Fast {
    background: #3d8b3d;
    border: 1px solid #3d8b3d;
}

.Fast > a:hover {
    background-color: #5cb85c !important;
}

.Medium {
    background: #df8a13;
    border: 1px solid #df8a13;
}

.Medium > a:hover {
    background-color: #f0ad4e !important;
}

.Slow {
    background: #b52b27;
    border: 1px solid #b52b27;
}

.Slow > a:hover {
    background-color: #d9534f !important;
}

.bash       { background: svg(bash#000)       center right 7px / 26px no-repeat }
.javascript { background: svg(javascript#000) center right 7px / 26px no-repeat }
.perl       { background: svg(perl#000)       center right 7px / 26px no-repeat }
.perl6      { background: svg(perl6#000)      center right 7px / 26px no-repeat }
.php        { background: svg(php#000)        center right 7px / 26px no-repeat }
.python     { background: svg(python#000)     center right 7px / 26px no-repeat }
.ruby       { background: svg(ruby#000)       center right 7px / 26px no-repeat }

.scores td {
    white-space: nowrap;
}

.scores td:nth-child(2) {
    overflow: hidden;
    padding-left: 45px;
    position: relative;
    text-overflow: ellipsis;
    width: 100%;
}

.scores td:nth-child(3) {
    padding-right: 40px;
    text-align: right;
}

.scores td:nth-child(3):not([class]) {
    padding-right: 5px;
}

.scores td:nth-child(4) {
    color: #999;
    font-size: 12px;
    font-style: italic;
    padding-left: 0;
}

.scores td:nth-child(5) {
    text-align: right;
}

.tab {
    color: #fff;
    display: inline-block;
    font-size: 18px;
    height: 40px;
    margin-right: 4px;
    padding: 4px;
    padding-left: 42px;
    position: relative;
    text-decoration: none;
    width: 70px;
}

.tab.on {
    cursor: default;
}

.tab.on,
.tab:hover {
    background-color: #222 !important;
}

.tab span {
    font-size: 10px;
    left: 42px;
    position: absolute;
    top: 28px;
}

.term-fg31 { color: #c00 } /* red */
.term-fg32 { color: #490 } /* green */
.term-fg33 { color: #ca0 } /* yellow */

#alert {
    background: #5cf;
    padding: 5px;
    border: 1px solid #222;
    color: #222;
    text-align: center;
}

#alert a {
    text-decoration: underline;
}

#home {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(32ch, 1fr));
    max-width: unset;
}

#home div {
    border-radius: 10px;
    overflow: hidden;
}

#home div > a {
    background: svg(external-link-square#fff) top 6px right 6px / 15px no-repeat;
    color: #fff;
    display: block;
    font-size: 26px;
    padding: 10px;
}

#home div > a:last-child {
    background: none;
    font-size: 10px;
    font-weight: bold;
    padding: 5px;
    text-align: center;
}

#home table {
    border: 0;
}

#login       { background-image: svg(sign-in#999) }
#login:hover { background-image: svg(sign-in#fff) }

#logout {
    background-image: svg(sign-out#999);
    padding: 10px;
    width: 30px;
}

#logout:hover { background-image: svg(sign-out#fff) }

#me {
    padding-left: 50px;
    position: relative;
}

#scores {
    max-width: 600px;
}

#status {
    background: #fdf3fa;
    border-bottom: 1px solid #e01a22;
    display: none;
}

#status pre {
    background: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
    margin: 0;
    max-height: 150px;
    overflow: auto;
    padding: 5px;
    width: 100%;
}

#status.pass {
    background: #e8f5e5;
    border-bottom: 1px solid #219a00;
}

[href="#bash"]       { background: #ccc svg(bash#fff)       7px / 26px no-repeat }
[href="#javascript"] { background: #ccc svg(javascript#fff) 7px / 26px no-repeat }
[href="#perl"]       { background: #ccc svg(perl#fff)       7px / 26px no-repeat }
[href="#perl6"]      { background: #ccc svg(perl6#fff)      7px / 26px no-repeat }
[href="#php"]        { background: #ccc svg(php#fff)        7px / 26px no-repeat }
[href="#python"]     { background: #ccc svg(python#fff)     7px / 26px no-repeat }
[href="#ruby"]       { background: #ccc svg(ruby#fff)       7px / 26px no-repeat }

@media(max-width: 580px) {
    nav a:first-child,
    nav a:nth-child(2),
    nav a:nth-child(3) {
        overflow: hidden;
        padding-right: 0;
        vertical-align: bottom;
        width: 0;
    }

    .scores td:nth-child(5) {
        display: none;
    }
}
