blockquote {
    white-space: pre;
}

button {
    background: #7c9;
    border: 1px solid transparent;
    color: #fff;
    cursor: pointer;
    float: right;
    font-size: 18px;
    height: 40px;
    margin: 10px 0;
    padding: 0 9px 0 39px;
    position: relative;
}

button:before {
    background: svg(play#fff) no-repeat;
    content: '';
    height: 20px;
    left: 9px;
    position: absolute;
    top: 9px;
    width: 20px;
}

button.on:before {
    animation: spin 2s linear infinite;
    background-image: svg(spinner#fff);
}

button:focus {
    outline: none;
}

button:hover {
    background: #2c4;
}

.term-fg31 { color: #c00 } /* red */
.term-fg32 { color: #490 } /* green */
.term-fg33 { color: #ca0 } /* yellow */

#alert {
    background: #5cf;
    padding: 5px;
    border: 1px solid #222;
    color: #222;
    text-align: center;
}

#alert a {
    text-decoration: underline;
}

#tabs {
    clear: both;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    position: relative;
       -moz-user-select: none;
        -ms-user-select: none;
    -webkit-user-select: none;
            user-select: none;
}

#tabs a {
    background: #ccc 9px / 26px no-repeat;
    font-size: 18px;
    height: 36px;
    overflow: hidden;
    padding: 4px;
    padding-left: 44px;
}

#tabs a.on {
    cursor: default;
}

#tabs a.on,
#tabs a:hover {
    background-color: #222 !important;
}

#tabs div {
    color: #fff;
    white-space: nowrap;
}

#tabs div:nth-child(2) {
    font-size: 10px;
}

#tabs a[href="#bash"]       { background-image: svg(bash#fff)       }
#tabs a[href="#javascript"] { background-image: svg(javascript#fff) }
#tabs a[href="#lisp"]       { background-image: svg(lisp#fff)       }
#tabs a[href="#lua"]        { background-image: svg(lua#fff)        }
#tabs a[href="#perl"]       { background-image: svg(perl#fff)       }
#tabs a[href="#perl6"]      { background-image: svg(perl6#fff)      }
#tabs a[href="#php"]        { background-image: svg(php#fff)        }
#tabs a[href="#python"]     { background-image: svg(python#fff)     }
#tabs a[href="#ruby"]       { background-image: svg(ruby#fff)       }

@keyframes spin { 100% { transform: rotate(1turn) } }

@media(max-width: 450px) { #tabs { grid-template-columns: repeat(4, 1fr) } }

@media(max-width: 970px) {
    #tabs a {
        background-position: center;
    }

    #tabs div {
        display: none;
    }
}

.code {
    border: 1px solid #ddd;
    border-top: 0;
    box-shadow: 0 -4px 0 #222;
    display: none;
    height: 250px;
    overflow: hidden;
    position: relative;
}

.code:before {
    background: #f7f7f7;
    border-right: 1px solid #ddd;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 3em;
    z-index: 1;
}

code, pre, textarea {
    font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    font-size: 16px;
    line-height: 1.5em;
}

pre, textarea {
    box-sizing:border-box;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    padding:0;
    border:none;
    background:transparent;
    white-space:pre-wrap;
    word-wrap: break-word;
}

textarea {
    background: transparent;
    border: none;
    outline: none;
    padding-left: 3.8em;
    resize: none;
    opacity: 0.4;
    margin: 0;
    z-index: 1;
    height: 100%;
    -webkit-overflow-scrolling: touch;
}

pre {
    z-index: 2;
    pointer-events: none;
    overflow-y: auto;
    margin: 0;
}

code, pre {
    overflow-wrap: break-word;
}

/* FIXME Our php class collides with Prism's */
.token.php { background: none }

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: slategray;
}

.token.punctuation {
    color: #999;
}

.namespace {
    opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
    color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
    color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
    color: #9a6e3a;
    background: hsla(0, 0%, 100%, .5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
    color: #07a;
}

.token.function,
.token.class-name {
    color: #DD4A68;
}

.token.regex,
.token.important,
.token.variable {
    color: #e90;
}

.token.important,
.token.bold {
    font-weight: bold;
}
.token.italic {
    font-style: italic;
}

pre[data-line] {
    position: relative;
    padding: 1em 0 1em 3em;
}

.line-highlight {
    position: absolute;
    left: 0;
    right: 0;
    padding: inherit 0;
    margin-top: 1em; /* Same as .prism’s padding-top */

    background: hsla(24, 20%, 50%,.08);
    background: linear-gradient(to right, hsla(24, 20%, 50%,.1) 70%, hsla(24, 20%, 50%,0));

    pointer-events: none;

    line-height: inherit;
    white-space: pre;
}

.line-highlight:before,
.line-highlight[data-end]:after {
    content: attr(data-start);
    position: absolute;
    top: .4em;
    left: .6em;
    min-width: 1em;
    padding: 0 .5em;
    background-color: hsla(24, 20%, 50%,.4);
    color: hsl(24, 20%, 95%);
    font: bold 65%/1.5 sans-serif;
    text-align: center;
    vertical-align: .3em;
    border-radius: 999px;
    text-shadow: none;
    box-shadow: 0 1px white;
}

.line-highlight[data-end]:after {
    content: attr(data-end);
    top: auto;
    bottom: .4em;
}

.line-numbers .line-highlight:before,
.line-numbers .line-highlight:after {
    content: none;
}

pre.line-numbers {
    position: relative;
    padding-left: 3.8em;
    counter-reset: linenumber;
}

pre.line-numbers > code {
    position: relative;
    white-space: inherit;
}

.line-numbers-rows {
    position: absolute;
    pointer-events: none;
    top: 0;
    font-size: 100%;
    left: -3.8em;
    width: 3em;
    letter-spacing: -1px;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    background: #f7f7f7;
    color: #000;
}

.line-numbers-rows > span {
    pointer-events: none;
    display: block;
    counter-increment: linenumber;
}

.line-numbers-rows > span:before {
    content: counter(linenumber);
    color: #999;
    display: block;
    padding-right: 0.8em;
    text-align: right;
}

#status {
    background: #fdd;
    display: none;
    margin-top: 75px;
    padding: 10px;
    position: relative;
}

#status:after {
    content: '';
    position: absolute;
    top: -20px;
    right: 32px;
    border: 20px solid transparent;
    border-bottom-color: #fdd;
    border-top: 0;
    border-right: 0;
}

#status.pass {
    background: #7c9;
}

#status.pass:after {
    border-bottom-color: #7c9;
}

#arg, #err {
    display: none;
}

#exp, #out {
    white-space: pre;
}

#arg span {
    background: #ddd;
    border-radius: 10px;
    line-height: 30px;
    padding: 3px 7px;
    white-space: nowrap;
}

aside {
    border-left: 30px solid #369;
    margin-top: 10px;
    position: relative;
}

aside > div {
    background: #fff;
    border: 2px solid #369;
    border-left: 0;
    font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    min-height: 50px;
    overflow-x: auto;
    padding: 5px;
}

h3 {
    bottom: -20px;
    color: #fff;
    font-size: 20px;
    left: -30px;
    line-height: 30px;
    margin: 0;
    position: absolute;
    transform-origin: 0 0;
    transform: rotate(-90deg);
}
