/* include codemirror.css */

aside {
    border-left: 30px solid #369;
    margin-top: 10px;
    position: relative;
}

aside > div {
    background: #fff;
    border: 2px solid #369;
    border-left: 0;
    font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    height: 140px;
    overflow: auto;
    padding: 5px;
}

blockquote {
    white-space: pre;
}

button {
    background: #7c9;
    border: 1px solid transparent;
    color: #fff;
    cursor: pointer;
    float: right;
    font-size: 18px;
    height: 40px;
    margin: 10px 0;
    padding: 0 9px 0 39px;
    position: relative;
}

button:before {
    background: svg(play#fff) no-repeat;
    content: '';
    height: 20px;
    left: 9px;
    position: absolute;
    top: 9px;
    width: 20px;
}

button.on:before {
    animation: spin 2s linear infinite;
    background-image: svg(spinner#fff);
}

button:focus {
    outline: none;
}

button:hover {
    background: #2c4;
}

h3 {
    bottom: -20px;
    color: #fff;
    font-size: 20px;
    left: -30px;
    line-height: 30px;
    margin: 0;
    position: absolute;
    transform-origin: 0 0;
    transform: rotate(-90deg);
}

.CodeMirror {
    border: 1px solid #ddd;
    border-top: 0;
    box-shadow: 0 -4px 0 #222;
}

.info {
    background: #fffbdd;
    display: none;
    padding: 5px;
    border: 1px solid #222;
    color: #222;
    margin-top: 10px;
}

.red { color: red }

.term-fg31 { color: #c00 } /* red */
.term-fg32 { color: #490 } /* green */
.term-fg33 { color: #ca0 } /* yellow */

#alert {
    background: #5cf;
    padding: 5px;
    border: 1px solid #222;
    color: #222;
    text-align: center;
}

#alert a {
    text-decoration: underline;
}

#arg, #err {
    display: none;
}

#exp, #out {
    white-space: pre;
}

#arg span {
    background: #ddd;
    border-radius: 10px;
    line-height: 30px;
    padding: 3px 7px;
    white-space: nowrap;
}

#status {
    background: #fdd;
    display: none;
    margin-top: 75px;
    padding: 10px;
    position: relative;
}

#status:after {
    content: '';
    position: absolute;
    top: -20px;
    right: 32px;
    border: 20px solid transparent;
    border-bottom-color: #fdd;
    border-top: 0;
    border-right: 0;
}

#status.pass {
    background: #7c9;
}

#status.pass:after {
    border-bottom-color: #7c9;
}

#tabs {
    clear: both;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    margin-top: 10px;
    position: relative;
       -moz-user-select: none;
        -ms-user-select: none;
    -webkit-user-select: none;
            user-select: none;
}

#tabs a {
    background: #ccc 9px / 26px no-repeat;
    color: #fff;
    font-size: 14px;
    height: 36px;
    overflow: hidden;
    padding: 4px;
    padding-left: 44px;
}

#tabs a.on {
    cursor: default;
}

#tabs a.on,
#tabs a:hover {
    background-color: #222 !important;
}

#tabs a[href="#bash"]       { background-image: svg(bash#fff)       }
#tabs a[href="#haskell"]    { background-image: svg(haskell#fff)    }
#tabs a[href="#javascript"] { background-image: svg(javascript#fff) }
#tabs a[href="#lisp"]       { background-image: svg(lisp#fff)       }
#tabs a[href="#lua"]        { background-image: svg(lua#fff)        }
#tabs a[href="#perl"]       { background-image: svg(perl#fff)       }
#tabs a[href="#perl6"]      { background-image: svg(perl6#fff)      }
#tabs a[href="#php"]        { background-image: svg(php#fff)        }
#tabs a[href="#python"]     { background-image: svg(python#fff)     }
#tabs a[href="#ruby"]       { background-image: svg(ruby#fff)       }

@keyframes spin { 100% { transform: rotate(1turn) } }

@media(max-width: 450px) { #tabs { grid-template-columns: repeat(6, 1fr) } }

@media(max-width: 970px) {
    #tabs a {
        background-position: center;
        font-size: 0;
    }
}
