main img {
    border-radius: 25%;
    float: left;
    height: 100px;
    margin-right: 10px;
    width: 100px;
}

h1 {
    margin: 10px 0;
}

hr {
    border: 0;
    border-top: 1px solid #999;
}

table {
    border: 0;
    color: #999;
}

td {
    border: 0;
    padding: 0;
}

td:first-child {
    padding-right: 4px;
    text-align: right;
}

tr {
    background: none !important;
}

#matrix td a {
    align-items: center;
    color: #222;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
}

#matrix td a:hover {
    background: #222;
    color: #fff;
    text-decoration: none;
}

#matrix td {
    border: 1px solid #222;
    padding: 0;
    width: 40px;
}

#matrix th a {
    color: #fff;
}

#matrix th a:hover {
    color: #222;
    background: #fff;
    text-decoration: none;
}

#matrix th {
    background: #222 center / 30px no-repeat;
    border: 1px solid #222;
    color: #fff;
    padding: 10px;
}

#matrix tr:first-child th:nth-child(2) { background-image: svg(bash#fff)       }
#matrix tr:first-child th:nth-child(3) { background-image: svg(javascript#fff) }
#matrix tr:first-child th:nth-child(4) { background-image: svg(lua#fff)        }
#matrix tr:first-child th:nth-child(5) { background-image: svg(perl#fff)       }
#matrix tr:first-child th:nth-child(6) { background-image: svg(perl6#fff)      }
#matrix tr:first-child th:nth-child(7) { background-image: svg(php#fff)        }
#matrix tr:first-child th:nth-child(8) { background-image: svg(python#fff)     }
#matrix tr:first-child th:nth-child(9) { background-image: svg(ruby#fff)       }
