main img {
    border-radius: 25%;
    float: left;
    height: 100px;
    margin-right: 10px;
    width: 100px;
}

h1 {
    margin: 10px 0;
}

hr {
    border: 0;
    border-top: 1px solid #999;
}

table {
    border: 0;
    color: #999;
}

td {
    border: 0;
    padding: 0;
}

td:first-child {
    padding-right: 4px;
    text-align: right;
}

tr {
    background: none !important;
}

#matrix {
    table-layout: fixed;
    width: 100%;
}

#matrix a {
    align-items: center;
    color: #222;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
}

#matrix td {
    border: 1px solid #222;
    height: 40px;
    padding: 0;
    width: 40px;
}

#matrix td a {
    background: #b4ecb4;
}

#matrix td a:empty {
    background: #ff6961;
}

#matrix td a:empty::before {
    content: "▶";
}

#matrix td a:hover {
    background: #222;
    color: #fff;
    text-decoration: none;
}

#matrix th {
    background: #ddd center / 30px no-repeat;
    border: 1px solid #222;
    color: #fff;
    height: 40px;
    padding: 0;
}

#matrix th a {
    box-sizing: border-box;
    justify-content: flex-end;
    padding: 10px;
}

#matrix th a:hover {
    background: #222;
    color: #fff;
    text-decoration: none;
}

#matrix tr:first-child th:first-child {
    border: 0;
    visibility: hidden;
    width: 220px;
}

#matrix tr:first-child th:nth-child(2)  { background-image: svg(bash#222)       }
#matrix tr:first-child th:nth-child(3)  { background-image: svg(javascript#222) }
#matrix tr:first-child th:nth-child(4)  { background-image: svg(lisp#222)       }
#matrix tr:first-child th:nth-child(5)  { background-image: svg(lua#222)        }
#matrix tr:first-child th:nth-child(6)  { background-image: svg(perl#222)       }
#matrix tr:first-child th:nth-child(7)  { background-image: svg(perl6#222)      }
#matrix tr:first-child th:nth-child(8)  { background-image: svg(php#222)        }
#matrix tr:first-child th:nth-child(9)  { background-image: svg(python#222)     }
#matrix tr:first-child th:nth-child(10) { background-image: svg(ruby#222)       }
