article img {
    border-radius: 25%;
    float: left;
    height: 100px;
    margin-right: 10px;
    width: 100px;
}

h1 {
    margin: 10px 0;
}

hr {
    border: 0;
    border-top: 1px solid #999;
}

table {
    border: 0;
    color: #999;
}

td {
    border: 0;
    padding: 0;
}

td:first-child {
    padding-right: 4px;
    text-align: right;
}

tr {
    background: none !important;
}
