<header id=page-header>
{{ with .Data.Authors }}
    <dialog id=authors-dialog>
        <div>
            <h1>{{ $.Data.Hole.Name }} Authors</h1>
            <ul>
            {{ range . }}
                <li>
                    <a href="/golfers/{{ . }}">
                        <img src="/golfers/{{ . }}/avatar/48">
                        {{ . }}
                    </a>
            {{ end }}
            </ul>
        </div>
    </dialog>
    <button data-dialog=authors-dialog id=authors-btn>
    {{ range . }}
        <img src="/golfers/{{ . }}/avatar/72">
    {{ end }}
    </button>
{{ end }}
    <h1>{{ .Data.Hole.Name }}</h1>
    <nav>
    {{ with .Data.PrevHole }}
        <a class="btn orange" href="{{ .ID }}" title="{{ .Name }}">
            {{ svg "chevron-double-left-light" }} Prev
        </a>
    {{ end }}
        <a class="btn purple" href=random>
            {{ svg "dice-light" }} Random
        </a>
    {{ with .Data.NextHole }}
        <a class="btn orange" href="{{ .ID }}" title="{{ .Name }}">
            {{ svg "chevron-double-right-light" }} Next
        </a>
    {{ end }}
    {{ if .Golfer }}
        <button class="btn blue" data-dialog=settings-dialog title=Settings>
            {{ svg "gear-fill" }}
            Page Settings
        </button>
    {{ end }}
    </nav>
</header>
