<script id=keymap type=application/json>
    {{ setting .Golfer "hole" "editor-keymap" }}
</script>

<script id=case-fold type=application/json>{{ .Data.Hole.CaseFold }}</script>
<script id=languages type=application/json>{{ .Data.Langs         }}</script>
<script id=solutions type=application/json>{{ .Data.Solutions     }}</script>

<script id=has-notes type=application/json>
    {{ with .Golfer }}{{ .HasNotes }}{{ else }}false{{ end }}
</script>

<script id=sponsor type=application/json>
    {{ with .Golfer }}{{ .SponsorOrAdmin }}{{ else }}false{{ end }}
</script>
