{{ template "header" . }}

{{ if not .Golfer }}
    <div class=info>
        {{ svg "info-circle" }}
        <p>
            Code Golf is a game designed to let you show off your code-fu by
            solving problems in the least number of characters.
        <p>
            Since this is your first time here, we suggest starting with
            something simple like the <a href=tutorial>Tutorial hole</a>.
        <p>
            Also visit <a href=//discord.gg/eVCTkYQ>our Discord server</a>
            for some advice.
    </div>
{{ end }}

{{ $show := setting .Golfer .Name "with-solution" }}

<main id=home>
{{ if .Golfer }}
    <div class=span>
        <form action=/golfer/settings/save class=tabs method=post>
            <input name=page type=hidden value="{{ .Name }}">
            <input name=path type=hidden value="{{ .Path }}">

    {{ range $setting := .Settings }}
        {{ if ne .ID "with-solution" }}
            <input name="{{ .ID }}" type=hidden
                value="{{ index $.Golfer.Settings $.Name .ID }}">
            {{ continue }}
        {{ end }}
        {{ range $setting.Options }}
            <button name="{{ $setting.ID }}" value="{{ .ID }}"
                {{ if eq $show .ID }} disabled {{ end }}>
                {{ .Name }}
            </button>
        {{ end }}
    {{ end }}
        </form>
        <nav>
            {{ template "page-settings" . }}
        </nav>
    </div>
{{ end }}
{{ range .Data }}
    <a class="card {{ .Hole.CategoryColor }}"
    {{ if $.Golfer }}
        {{ $lang    := index $.Golfer.Settings $.Name "points-for" }}
        {{ $scoring := index $.Golfer.Settings $.Name "scoring"    }}
        {{ if eq (index $.Golfer.Settings $.Name "navigate-to") "rankings" }}
            href="rankings/holes/{{ .Hole.ID }}/{{ $lang }}/{{ $scoring }}"
        {{ else }}
            href='{{ .Hole.ID }}{{ if ne $lang "all" }}#{{ $lang }}{{ end }}'
        {{ end }}
    {{ else }}
        href="{{ .Hole.ID }}"
    {{ end }}
        title="{{ .Hole.Name }} ({{ .Hole.Category }})">
        <h2>{{ .Hole.Name }}</h2>
        {{ svg .Hole.CategoryIcon }}
    {{ if .Lang }}
        <span title="{{ comma .Points }} points in {{ .Lang.Name }}">
            {{ comma .Points }}
            {{ svg .Lang.ID }}
        </span>
    {{ end }}
    </a>
{{ end }}
</main>

{{ template "footer" }}
