{{ template "header" . }}

<svg>
    {{ svg "thumbs-up-light" }}
    {{ svg "thumbs-down-light" }}
</svg>

{{ define "ideaGrid" }}{{ range . }}
{{ with .Hole }}
    <a class="card {{ .CategoryColor }}" href="/{{ .ID }}" title="{{ .Name }} ({{ .Category }})">
{{ else }}
    {{ $class := "red" }}
    {{ if eq .Category "cheeevo" }}
        {{ $class = "green" }}
    {{ else if eq .Category "hole" }}
        {{ $class = "purple" }}
    {{ else if eq .Category "lang" }}
        {{ $class = "yellow" }}
    {{ end }}

    <a class="card {{ $class }}" href="//github.com/code-golf/code-golf/issues/{{ .ID }}" title="{{ .Title }}">
{{ end }}
        <h2 class=span>
            {{ with .Lang }}{{ svg .ID }}{{ end }}
            <span>{{ .Title }}</span>
        </h2>
        <svg><use href="#thumbs-up"/></svg>
        {{ .ThumbsUp }}

        {{ with .Hole }}{{ svg .CategoryIcon }}{{ else }}<span></span>{{ end }}

        <svg><use href="#thumbs-down"/></svg>
        {{ .ThumbsDown }}
    </a>
{{ end }}{{ end }}

<main id=ideas>
{{ with .Data.Holes }}
    <h1 class=span>Experimental Holes ({{ len . }})</h1>
    {{ template "ideaGrid" . }}
{{ end }}
{{ with .Data.Langs }}
    <h1 class=span>Experimental Languages ({{ len . }})</h1>
    {{ template "ideaGrid" . }}
{{ end }}
{{ with .Data.Ideas }}
    <h1 class=span>Other Ideas ({{ len . }})</h1>
    {{ template "ideaGrid" . }}
{{ end }}
    <p class="right span">
        <a href="//github.com/code-golf/code-golf/issues/new/choose">
            Add an Idea
        </a>
</main>

{{ template "footer" }}
