<h1>
    <span>{{ .Title }}</span>

{{ $history := eq .Name "rankings/history" }}

{{ if and (or (eq .Name "rankings/holes") (eq .Name "rankings/medals") $history) .Data.Hole }}
    <nav>
        <a class="btn orange"
            href="/{{ .Name }}{{ if $history }}/{{ .Data.Type }}{{ end }}/{{ .Data.PrevHole.ID }}/{{ .Data.LangID }}/{{ .Data.Scoring }}"
           title="{{ .Data.PrevHole.Name }}">
            {{ svg "chevron-double-left-light" }} Prev Hole
        </a>
        <a class="btn purple"
            href='/{{ .Data.Hole.ID }}{{ if ne .Data.LangID "all" }}#{{ .Data.LangID }}{{ end }}'>
            {{ svg "play" }} Play Hole
        </a>
        <a class="btn orange"
            href="/{{ .Name }}{{ if $history }}/{{ .Data.Type }}{{ end }}/{{ .Data.NextHole.ID }}/{{ .Data.LangID }}/{{ .Data.Scoring }}"
           title="{{ .Data.NextHole.Name }}">
            {{ svg "chevron-double-right-light" }} Next Hole
        </a>
    </nav>
{{ end }}
</h1>

<p>{{ .Description }}

<nav class=tabs>
    <a {{ if hasPrefix .Path "/rankings/cheevos/" }} class=on {{ end }}
        href=/rankings/cheevos/all>
        <span class=wide>Achievements</span>
        <span class=thin>Cheevos</span>
    </a>

    <a {{ if hasPrefix .Path "/rankings/holes/" }} class=on {{ end }}
        href=/rankings/holes/all/all/bytes>
        Holes
    </a>

    <a {{ if hasPrefix .Path "/rankings/langs/" }} class=on {{ end }}
        href=/rankings/langs/all/bytes>
        Lang<span class=wide>uage</span>s
    </a>

    <a {{ if hasPrefix .Path "/rankings/medals/" }} class=on {{ end }}
        href=/rankings/medals/overall/all/all/all>
        Medals
    </a>
    <a {{ if hasPrefix .Path "/rankings/history/" }} class=on {{ end }}
        href=/rankings/history/diamond-deltas/all/all/all>
        History
    </a>
    <a {{ if hasPrefix .Path "/rankings/misc/" }} class=on {{ end }}
        href=/rankings/misc/followers>
        Misc<span class=wide>ellaneous</span>
    </a>
</nav>
