<h1>
    <span>{{ .Title }}</span>

{{ if and (eq .Name "recent/solutions") .Data.Hole }}
    <nav>
        <a class="btn orange"
            href="/{{ .Name }}/{{ .Data.PrevHole.ID }}/{{ .Data.LangID }}/{{ .Data.Scoring }}"
           title="{{ .Data.PrevHole.Name }}">
            {{ svg "chevron-double-left-light" }} Prev Hole
        </a>
        <a class="btn purple"
            href='/{{ .Data.Hole.ID }}{{ if ne .Data.LangID "all" }}#{{ .Data.LangID }}{{ end }}'>
            {{ svg "play" }} Play Hole
        </a>
        <a class="btn orange"
            href="/{{ .Name }}/{{ .Data.NextHole.ID }}/{{ .Data.LangID }}/{{ .Data.Scoring }}"
           title="{{ .Data.NextHole.Name }}">
            {{ svg "chevron-double-right-light" }} Next Hole
        </a>
    </nav>
{{ end }}
</h1>

<nav class=tabs>
    <a {{ if hasPrefix .Path "/recent/cheevos/" }} class=on {{ end }}
        href=/recent/cheevos/all>
        <span class=wide>Achievements</span>
        <span class=thin>Cheevos</span>
    </a>

    <a {{ if eq .Path "/recent/golfers" }} class=on {{ end }}
        href=/recent/golfers>
        Golfers
    </a>

    <a {{ if hasPrefix .Path "/recent/solutions/" }} class=on {{ end }}
        href=/recent/solutions/all/all/bytes>
        Solutions
    </a>
</nav>
