{{ $name := $.Name }}
{{ if eq $name "hole-tabs" }}{{ $name = "hole" }}{{ end }}

{{ range $i, $setting := .Settings }}
    {{ $value := index $.Golfer.Settings $name .ID }}

{{ if .Checkbox }}
    <fieldset>
        <label>
            <input name="{{ .ID }}" type=checkbox>{{ .Name }}
        </label>
    </fieldset>
{{ else }}
    {{ with .Name }}<label>{{ . }}{{ end }}

    {{ if gt (len .Options) 3 }}
        <select name="{{ .ID }}">
        {{ range .Options }}
            {{ if .Group }}
                <optgroup label="{{ .Name }}">
            {{ else }}
                <option value="{{ .ID }}" {{ if eq $value .ID }} selected {{ end }}>
                    {{ .Name }}
            {{ end }}
        {{ end }}
        </select>
    {{ else if eq (len .Options) 0 }}
        <input name="{{ .ID }}" type=checkbox {{ if $value }} checked {{ end }}>
    {{ else }}
        <fieldset>
        {{ range .Options }}
            <label>
                <input name="{{ $setting.ID }}" type=radio value="{{ .ID }}"
                    {{ if eq $value .ID }} checked {{ end }}>
                {{ .Name }}
            </label>
        {{ end }}
        </fieldset>
    {{ end }}
    {{ if .Name }}</label>{{ end }}
{{ end }}
{{ end }}
