{{ template "header" . }}

<header id=page-header>
    <h1>{{ .Data.Title }}</h1>

{{ with .Data.Name }}
    {{ $slug := urlquery . }}
    {{ if eq . "><>" }}
        {{ $slug = "Fish" }}
    {{ else if eq . "C++" }}
        {{ $slug = "Cpp" }}
    {{ end }}
    <nav>
        GitHub:
        <a href="//github.com/code-golf/code-golf/wiki/{{ $slug }}/_edit">edit</a>
        |
        <a href="//github.com/code-golf/code-golf/wiki/{{ $slug }}">view</a>
    </nav>
{{ end }}
</header>

<main id=two-pane>
    {{ template "nav" . }}

    <article>{{ .Data.HTML }}</article>
</main>

{{ template "footer" }}
