{{ template "header" . }}

<h1>{{ .Data.Title }}</h1>

<main id=two-pane>
    {{ template "nav" . }}

    <article>
    {{ with .Data.HTML }}
        {{ . }}
    {{ else }}
        <p>Welcome to the Code Golf wiki.

        <p>
            This is a work-in-progress read-only mirror of the
            <a href=//github.com/code-golf/code-golf/wiki>
                GitHub Code Golf wiki
            </a>. All edits should continue to be done there for now.
    {{ end }}
    </article>
</main>

{{ template "footer" }}
