a { color: var(--color) }

main {
    align-items: start;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

td { white-space: nowrap }

tr > :not(:first-child) { text-align: right }

#tabs { grid-column: span 2 }
