/* TODO Stop having "wide" pages, make everything consistent. */
body { max-width: 100% }

main {
    gap: .25rem;
    grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
}

main > a {
    align-items: center;
    border: 1px solid var(--color);
    color: var(--color);
    display: flex;
    padding: .25rem;
    text-decoration: none;
}

main > a:hover { background: var(--background) }

main > a :last-child {
    flex: 1;
    text-align: center;
}

main nav {
    grid-column: 1 / -1;
    justify-content: flex-end;
    margin-bottom: .75rem;
}

h3 { padding: .25rem 0 }

/* When adding a new language, update grid-template-columns below. */
input,
input.assembly:not(:checked)   ~ .assembly,
input.bash:not(:checked)       ~ .bash,
input.brainfuck:not(:checked)  ~ .brainfuck,
input.c-sharp:not(:checked)    ~ .c-sharp,
input.c:not(:checked)          ~ .c,
input.cobol:not(:checked)      ~ .cobol,
input.crystal:not(:checked)    ~ .crystal,
input.cpp:not(:checked)        ~ .cpp,
input.d:not(:checked)          ~ .d,
input.elixir:not(:checked)     ~ .elixir,
input.f-sharp:not(:checked)    ~ .f-sharp,
input.fish:not(:checked)       ~ .fish,
input.fortran:not(:checked)    ~ .fortran,
input.go:not(:checked)         ~ .go,
input.haskell:not(:checked)    ~ .haskell,
input.hexagony:not(:checked)   ~ .hexagony,
input.j:not(:checked)          ~ .j,
input.java:not(:checked)       ~ .java,
input.javascript:not(:checked) ~ .javascript,
input.julia:not(:checked)      ~ .julia,
input.k:not(:checked)          ~ .k,
input.lisp:not(:checked)       ~ .lisp,
input.lua:not(:checked)        ~ .lua,
input.nim:not(:checked)        ~ .nim,
input.pascal:not(:checked)     ~ .pascal,
input.perl:not(:checked)       ~ .perl,
input.php:not(:checked)        ~ .php,
input.powershell:not(:checked) ~ .powershell,
input.prolog:not(:checked)     ~ .prolog,
input.python:not(:checked)     ~ .python,
input.raku:not(:checked)       ~ .raku,
input.ruby:not(:checked)       ~ .ruby,
input.rust:not(:checked)       ~ .rust,
input.sed:not(:checked)        ~ .sed,
input.sql:not(:checked)        ~ .sql,
input.swift:not(:checked)      ~ .swift,
input.v:not(:checked)          ~ .v,
input.viml:not(:checked)       ~ .viml,
input.zig:not(:checked)        ~ .zig { display: none }

input:checked + label {
    background: var(--color);
    color: var(--background);
}

label {
    cursor: pointer;
    padding: .25rem;
    text-align: center;
}

main svg {
    height: 1.5rem;
    width: 2rem;
}

main svg:nth-of-type(2) {
    height: 1rem;
    width: 1rem;
}

@media (min-width: 95rem) {
    /* Increase this number when adding a language. */
    main { grid-template-columns: 4fr repeat(39, 1fr) }

    main a { height: 1.9rem }

    main a svg:first-of-type { display: none }

    main .span {
        grid-column: 1/2;
        overflow: hidden;
        text-align: right;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    input:checked + label { grid-column: 2/3 }

    input:not(:checked) + label {
        grid-column: 2/3;
        order: -1;
    }

    input:checked + label ~ input:checked + label,
    input:not(:checked) + label ~ input:not(:checked) + label {
        grid-column: auto;
    }
}

main a.isDiamond:not(:hover) {
    box-shadow: inset 0 0 12px 2px gold, 0 0 10px 2px var(--diamond-outglow);
    font-weight: var(--diamond-weight);
    z-index: 1;
}

main a.grey:not(:hover) {
    border: none;
    color: var(--play-color)
}
