#search {
    display: flex;
    align-items: center;
    gap: .5rem;

    label {
        margin-left: .25rem;
    }
}

#searchInput {
    flex-grow: 1;
}

#results {
    a {
        margin-top: .5rem;
        border: 2px solid var(--color);
        color: var(--color);
        padding: 1rem;
        display: block;
    }

    a:hover {
        background: var(--color);
        color: var(--background);
        text-decoration: none;
    }
}