#search {
    display: flex;
    align-items: center;
    gap: .5rem;

    label {
        margin-left: .25rem;
    }
}

#searchInput {
    flex-grow: 1;
}

#results {
    h2 {
        margin-bottom: .5rem;
    }

    a {
        margin-top: .5rem;
        border: 2px solid var(--color);
        color: var(--color);
        padding: 1rem;
        display: block;
    }

    code {
        white-space: pre;
        background-color: var(--light-grey);
        border-radius: .25rem;
        padding: .25rem;
        .match {
            background-color: var(--yellow);
        }
    }

    a:hover {
        background: var(--color);
        color: var(--background);
        text-decoration: none;

        code {
            background-color: var(--grey);
        }
    }
}
