@import "./_golfer.css";

h2 { font-size: 1.25rem }

#banners {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    > div { margin: 0 }
}

#connections {
    display: grid;
    gap: 1rem;
    padding: 0;
}

#connections div {
    align-items: flex-start;
    display: flex;
    gap: .5rem;
    grid-row: span 2;
}

#connections h3 {
    overflow: hidden;
    text-overflow: ellipsis;
}

#connections h3 span { font-weight: normal }

#connections li {
    column-gap: .5rem;
    display: grid;
    grid-template-columns: min-content 1fr min-content;
}

#connections li > :is(img, svg) {
    background: var(--color);
    border-radius: .75rem;
    color: var(--background);
    grid-row: span 2;
    height: 3rem;
    width: 3rem;
}

#missingConnections {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
}
