{{ template "header" . }}
{{ template "recent" . }}

<main>
    <table class="nowrap-first-second-third sticky">
        <thead>
            <tr>
                <th>Golfer
                <th>Languages
                <th class=wide>Cheevos
                <th class=right>Date
        <tbody>
        {{ $name := "" }}
        {{ with .Golfer }}{{ $name = .Name }}{{ end }}

        {{ range .Data }}
            <tr {{ if eq $name .Name }} class=me {{ end }}>
                <td>{{ template "golfer-link" . }}
                <td>
                    <div>
                    {{ range .Langs }}{{ svg .ID "title" .Name }}{{ end }}
                    </div>
                <td class=wide>
                    <div>
                    {{ range .Cheevos }}
                        <span title="{{ .Name }} - {{ .Description }}">
                            {{ .Emoji }}
                        </span>
                    {{ end }}
                    </div>
                <td class=right>{{ time (.Date.In $.Location) }}
        {{ end }}
    </table>
</main>

{{ template "footer" }}
