a {
    text-decoration: none;
}

article,
#status > div {
    margin: auto;
    max-width: 980px;
    padding: 10px;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    margin: 50px 0 0;
}

del {
    background: #fdf3fa;
    color: #e01a22;
    text-decoration: none;
}

header {
    background: #222;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

input,
.tab {
    border: 0 solid #fff;
    border-bottom-width: 3px;
    border-radius: 6px;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, .1) inset;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    padding: 13px 27px 12px;
    transition: background .2s ease-in-out 0s;
}

input {
    background: #3f8abf;
    border-color: #326e99;
    float: right;
}

input:hover {
    background: #397cac;
}

ins {
    background: #e8f5e5;
    color: #219a00;
    text-decoration: none;
}

nav {
    font-size: 16px;
    margin: auto;
    max-width: 980px;
}

nav a, nav div {
    background: 10px / 30px no-repeat;
    color: #999;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 10px;
}

nav a {
    padding-left: 50px;
}

nav a:last-of-type {
    float: right;
}

nav a:nth-child(1) {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512'><path d='M488 312.7V456c0 13.3-10.7 24-24 24H348c-6.6 0-12-5.4-12-12V356c0-6.6-5.4-12-12-12h-72c-6.6 0-12 5.4-12 12v112c0 6.6-5.4 12-12 12H112c-13.3 0-24-10.7-24-24V312.7c0-3.6 1.6-7 4.4-9.3l188-154.8c4.4-3.6 10.8-3.6 15.3 0l188 154.8c2.7 2.3 4.3 5.7 4.3 9.3zm83.6-60.9L488 182.9V44.4c0-6.6-5.4-12-12-12h-56c-6.6 0-12 5.4-12 12V117l-89.5-73.7c-17.7-14.6-43.3-14.6-61 0L4.4 251.8c-5.1 4.2-5.8 11.8-1.6 16.9l25.5 31c4.2 5.1 11.8 5.8 16.9 1.6l235.2-193.7c4.4-3.6 10.8-3.6 15.3 0l235.2 193.7c5.1 4.2 12.7 3.5 16.9-1.6l25.5-31c4.2-5.2 3.4-12.7-1.7-16.9z' fill='%23999'/></svg>");
}

nav a:nth-child(1):hover {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512'><path d='M488 312.7V456c0 13.3-10.7 24-24 24H348c-6.6 0-12-5.4-12-12V356c0-6.6-5.4-12-12-12h-72c-6.6 0-12 5.4-12 12v112c0 6.6-5.4 12-12 12H112c-13.3 0-24-10.7-24-24V312.7c0-3.6 1.6-7 4.4-9.3l188-154.8c4.4-3.6 10.8-3.6 15.3 0l188 154.8c2.7 2.3 4.3 5.7 4.3 9.3zm83.6-60.9L488 182.9V44.4c0-6.6-5.4-12-12-12h-56c-6.6 0-12 5.4-12 12V117l-89.5-73.7c-17.7-14.6-43.3-14.6-61 0L4.4 251.8c-5.1 4.2-5.8 11.8-1.6 16.9l25.5 31c4.2 5.1 11.8 5.8 16.9 1.6l235.2-193.7c4.4-3.6 10.8-3.6 15.3 0l235.2 193.7c5.1 4.2 12.7 3.5 16.9-1.6l25.5-31c4.2-5.2 3.4-12.7-1.7-16.9z' fill='%23fff'/></svg>");
}

nav a:nth-child(2) {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'><path d='M504 256c0 136.997-111.043 248-248 248S8 392.997 8 256C8 119.083 119.043 8 256 8s248 111.083 248 248zM262.655 90c-54.497 0-89.255 22.957-116.549 63.758-3.536 5.286-2.353 12.415 2.715 16.258l34.699 26.31c5.205 3.947 12.621 3.008 16.665-2.122 17.864-22.658 30.113-35.797 57.303-35.797 20.429 0 45.698 13.148 45.698 32.958 0 14.976-12.363 22.667-32.534 33.976C247.128 238.528 216 254.941 216 296v4c0 6.627 5.373 12 12 12h56c6.627 0 12-5.373 12-12v-1.333c0-28.462 83.186-29.647 83.186-106.667 0-58.002-60.165-102-116.531-102zM256 338c-25.365 0-46 20.635-46 46 0 25.364 20.635 46 46 46s46-20.636 46-46c0-25.365-20.635-46-46-46z' fill='%23999'/></svg>");
}

nav a:nth-child(2):hover {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'><path d='M504 256c0 136.997-111.043 248-248 248S8 392.997 8 256C8 119.083 119.043 8 256 8s248 111.083 248 248zM262.655 90c-54.497 0-89.255 22.957-116.549 63.758-3.536 5.286-2.353 12.415 2.715 16.258l34.699 26.31c5.205 3.947 12.621 3.008 16.665-2.122 17.864-22.658 30.113-35.797 57.303-35.797 20.429 0 45.698 13.148 45.698 32.958 0 14.976-12.363 22.667-32.534 33.976C247.128 238.528 216 254.941 216 296v4c0 6.627 5.373 12 12 12h56c6.627 0 12-5.373 12-12v-1.333c0-28.462 83.186-29.647 83.186-106.667 0-58.002-60.165-102-116.531-102zM256 338c-25.365 0-46 20.635-46 46 0 25.364 20.635 46 46 46s46-20.636 46-46c0-25.365-20.635-46-46-46z' fill='%23fff'/></svg>");
}

nav a:nth-child(3) {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'><path d='M3.263 139.527c0-7.477 3.917-11.572 11.573-11.572h15.131V88.078c0-5.163.534-10.503.534-10.503h-.356s-1.779 2.67-2.848 3.738c-4.451 4.273-10.504 4.451-15.666-1.068l-5.518-6.231c-5.342-5.341-4.984-11.216.534-16.379l21.72-19.938C32.815 33.602 36.732 32 42.785 32H54.89c7.656 0 11.749 3.916 11.749 11.572v84.384h15.488c7.655 0 11.572 4.094 11.572 11.572v8.901c0 7.477-3.917 11.572-11.572 11.572H14.836c-7.656 0-11.573-4.095-11.573-11.572v-8.902zM2.211 304.591c0-47.278 50.955-56.383 50.955-69.165 0-7.18-5.954-8.755-9.28-8.755-3.153 0-6.479 1.051-9.455 3.852-5.079 4.903-10.507 7.004-16.111 2.451l-8.579-6.829c-5.779-4.553-7.18-9.805-2.803-15.409C13.592 201.981 26.025 192 47.387 192c19.437 0 44.476 10.506 44.476 39.573 0 38.347-46.753 46.402-48.679 56.909h39.049c7.529 0 11.557 4.027 11.557 11.382v8.755c0 7.354-4.028 11.382-11.557 11.382h-67.94c-7.005 0-12.083-4.028-12.083-11.382v-4.028zM5.654 454.61l5.603-9.28c3.853-6.654 9.105-7.004 15.584-3.152 4.903 2.101 9.63 3.152 14.359 3.152 10.155 0 14.358-3.502 14.358-8.23 0-6.654-5.604-9.106-15.934-9.106h-4.728c-5.954 0-9.28-2.101-12.258-7.88l-1.05-1.926c-2.451-4.728-1.226-9.806 2.801-14.884l5.604-7.004c6.829-8.405 12.257-13.483 12.257-13.483v-.35s-4.203 1.051-12.608 1.051H16.685c-7.53 0-11.383-4.028-11.383-11.382v-8.755c0-7.53 3.853-11.382 11.383-11.382h58.484c7.529 0 11.382 4.027 11.382 11.382v3.327c0 5.778-1.401 9.806-5.079 14.183l-17.509 20.137c19.611 5.078 28.716 20.487 28.716 34.845 0 21.363-14.358 44.126-48.503 44.126-16.636 0-28.192-4.728-35.896-9.455-5.779-4.202-6.304-9.805-2.626-15.934zM144 132h352c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H144c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h352c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H144c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h352c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H144c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z' fill='%23999'/></svg>");
}

nav a:nth-child(3):hover {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'><path d='M3.263 139.527c0-7.477 3.917-11.572 11.573-11.572h15.131V88.078c0-5.163.534-10.503.534-10.503h-.356s-1.779 2.67-2.848 3.738c-4.451 4.273-10.504 4.451-15.666-1.068l-5.518-6.231c-5.342-5.341-4.984-11.216.534-16.379l21.72-19.938C32.815 33.602 36.732 32 42.785 32H54.89c7.656 0 11.749 3.916 11.749 11.572v84.384h15.488c7.655 0 11.572 4.094 11.572 11.572v8.901c0 7.477-3.917 11.572-11.572 11.572H14.836c-7.656 0-11.573-4.095-11.573-11.572v-8.902zM2.211 304.591c0-47.278 50.955-56.383 50.955-69.165 0-7.18-5.954-8.755-9.28-8.755-3.153 0-6.479 1.051-9.455 3.852-5.079 4.903-10.507 7.004-16.111 2.451l-8.579-6.829c-5.779-4.553-7.18-9.805-2.803-15.409C13.592 201.981 26.025 192 47.387 192c19.437 0 44.476 10.506 44.476 39.573 0 38.347-46.753 46.402-48.679 56.909h39.049c7.529 0 11.557 4.027 11.557 11.382v8.755c0 7.354-4.028 11.382-11.557 11.382h-67.94c-7.005 0-12.083-4.028-12.083-11.382v-4.028zM5.654 454.61l5.603-9.28c3.853-6.654 9.105-7.004 15.584-3.152 4.903 2.101 9.63 3.152 14.359 3.152 10.155 0 14.358-3.502 14.358-8.23 0-6.654-5.604-9.106-15.934-9.106h-4.728c-5.954 0-9.28-2.101-12.258-7.88l-1.05-1.926c-2.451-4.728-1.226-9.806 2.801-14.884l5.604-7.004c6.829-8.405 12.257-13.483 12.257-13.483v-.35s-4.203 1.051-12.608 1.051H16.685c-7.53 0-11.383-4.028-11.383-11.382v-8.755c0-7.53 3.853-11.382 11.383-11.382h58.484c7.529 0 11.382 4.027 11.382 11.382v3.327c0 5.778-1.401 9.806-5.079 14.183l-17.509 20.137c19.611 5.078 28.716 20.487 28.716 34.845 0 21.363-14.358 44.126-48.503 44.126-16.636 0-28.192-4.728-35.896-9.455-5.779-4.202-6.304-9.805-2.626-15.934zM144 132h352c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H144c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h352c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H144c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h352c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H144c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z' fill='%23fff'/></svg>");
}

nav a:hover {
    background-color: #000;
    color: #fff;
}

nav div {
    float: right;
    padding-left: 50px;
    position: relative;
}

nav img {
    border-radius: 50%;
    left: 10px;
    position: absolute;
}

pre,
textarea,
.CodeMirror {
    font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}

td {
    border-top: 1px solid #ddd;
    height: 20px;
    line-height: 20px;
    padding: 10px;
}

td:first-child {
    text-align: center;
    width: 20px;
}

td:last-child {
    padding-left: 45px;
    position: relative;
    white-space: nowrap;
}

td:nth-child(2) {
    padding-left: 45px;
    width: 40px;
}

td a {
    color: #000;
}

td a:hover {
    text-decoration: underline;
}

td img {
    border-radius: 50%;
    height: 26px;
    left: 7px;
    position: absolute;
    top: 7px;
    width: 26px;
}

textarea {
    border-radius: 5px;
    resize: none;
    width: 100%;
}

tr:nth-child(even) {
    background: #eee;
}

tr:nth-child(odd) {
    background: #fff;
}

.adv {
    background: #b52b27;
    border: 1px solid #b52b27;
}

.adv > a:hover {
    background-color: #d9534f;
}

.beg {
    background: #3d8b3d;
    border: 1px solid #3d8b3d;
}

.beg > a:hover {
    background-color: #5cb85c;
}

.CodeMirror {
    border: 1px solid #000;
    margin: 10px 0;
    width: 100%;
}

.hole {
    border-radius: 10px;
    overflow: hidden;
}

.hole > a {
    background: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'><path d='M448 80v352c0 26.51-21.49 48-48 48H48c-26.51 0-48-21.49-48-48V80c0-26.51 21.49-48 48-48h352c26.51 0 48 21.49 48 48zm-64 47.111C384 109.929 370.071 96 352.889 96H220.667c-12.887 0-23.333 10.447-23.333 23.334v14.904c0 13.138 10.843 23.686 23.976 23.324l56.002-1.588L69.908 361.908c-7.858 7.802-7.88 20.504-.05 28.334l19.899 19.899c7.83 7.83 20.532 7.808 28.334-.05l205.935-207.404-1.588 56.003c-.362 13.133 10.186 23.976 23.324 23.976h14.904c12.887 0 23.334-10.447 23.334-23.333V127.111z' fill='%23fff'/></svg>") top 6px right 6px / 15px no-repeat;
    color: #fff;
    display: block;
    font-size: 26px;
    height: 76px;
    padding: 10px;
}

.hole p {
    font-size: 16px;
    margin: 10px 0 0;
}

.int {
    background: #df8a13;
    border: 1px solid #df8a13;
}

.int > a:hover {
    background-color: #f0ad4e;
}

.javascript {
    background: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 100'><path d='M57.537 44.892c-2.836.225-5.214 1.245-6.984 3.001-1.823 1.808-2.693 4.013-2.693 6.812 0 4.186 1.718 7.112 5.551 9.43.975.585 2.303 1.223 4.599 2.213 3.128 1.343 4.291 1.98 5.034 2.776.915.983 1.17 2.551.593 3.751-.113.233-.405.623-.668.885-.885.893-2.281 1.365-4.013 1.365-2.926 0-5.109-1.2-6.864-3.796-.24-.345-.458-.63-.488-.63-.068 0-5.776 3.293-5.896 3.406-.075.068-.015.225.278.705 2.281 3.841 5.844 6.091 10.66 6.737 1.26.173 3.623.165 4.831 0 3.031-.428 5.304-1.433 7.067-3.143 1.875-1.808 2.798-4.149 2.798-7.082 0-1.875-.308-3.338-1.005-4.786-.48-.99-.96-1.658-1.785-2.498-1.583-1.605-3.631-2.821-7.719-4.576-3.091-1.328-4.126-1.898-4.809-2.626-.653-.698-.93-1.515-.87-2.536.053-.81.278-1.358.773-1.89.713-.773 1.538-1.095 2.813-1.088 1.448 0 2.386.375 3.338 1.335.338.33.773.863.975 1.185.233.368.405.57.465.548.195-.083 5.649-3.608 5.649-3.661 0-.03-.278-.465-.615-.975-.72-1.08-2.018-2.431-2.911-3.023-1.65-1.095-3.413-1.658-5.739-1.83-1.142-.091-1.292-.091-2.365-.009zM34.184 58.523l-.023 13.263-.165.623c-.218.818-.473 1.305-.923 1.755-.63.63-1.44.893-2.791.9-1.928.008-3.083-.81-4.426-3.106-.218-.36-.413-.653-.435-.645-.03.015-1.388.833-3.016 1.815l-2.963 1.8.225.45c1.343 2.678 3.668 4.704 6.467 5.634 2.956.983 6.752.893 9.535-.225 3.338-1.35 5.296-4.141 5.814-8.29.045-.42.075-5.109.075-13.931V45.268h-7.344l-.03 13.255zM8.858 12.252h62.284a6.604 6.604 0 0 1 6.619 6.619v62.284a6.604 6.604 0 0 1-6.619 6.619H8.858a6.604 6.604 0 0 1-6.619-6.619V18.871a6.604 6.604 0 0 1 6.619-6.619z'/></svg>") 7px / 26px no-repeat;
}

.perl {
    background: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 93.65 100'><path fill-rule='evenodd' d='M62.586.013c-.669.02-1.39.071-2.148.106-2.243.41-4.333 1.322-6.484 1.986-3.329 1.143-6.529 3.096-7.903 6.064-.344.658-1.853 2.791-2.634 3.76-1.464 1.494-3.321 2.72-5.188 3.793-2.318 1.207-4.209 2.8-6.484 5.462-2.3 2.766-2.5 5.17-3.648 8.298-1.768 1.636-3.165-.621-2.715-2.199 1.082-3.818 3.027-7.261 2.756-11.312-.672-5.334-3.184-12.456-10.417-12.872-1.617.004-2.076.228-3.891 1.667-1.215.963-2.024 1.29-4.012 1.737-2.374.51-4.906.157-7.133 1.064-1.065.546-2.35 2.21-2.634 3.405-.236.996.33 1.982 1.459 2.518 2.275.936 6.155.238 6.646 3.014-.773 2.94-2.878 4.972-2.756 7.908-.15 3.21.318 5.864.568 9.007.33 3.851 3.51 5.894 5.714 9.113 3.32 3.707 9.21 7.578 14.873 6.064 1.966-.556 2.753-.457 3.485.461.5.627.57 1.205.284 2.59-.348 1.688-.345 4.898 0 6.701.256 1.336.446 3.368.446 4.504 0 .928.21 2.09.486 3.05.18.626.211 1.281.284 3.404.049 1.433.135 2.834.203 3.12.23.972.178 1.764-.325 4.788-.212 1.28-.951 3.619-1.459 4.61-.274.535-1.1 1.785-1.702 2.801l.122.036c1.002-.08 2.558-.149 4.782-.284.28-1.23.508-2.526.567-3.44.058-.893.198-1.917.365-2.624.152-.64.303-1.708.365-2.376.145-1.57.285-2.026 1.135-3.617.386-.724.824-1.68.972-2.128.26-.783.267-.935.243-3.227-.02-2.084.033-2.511.244-3.617.417-2.195.61-2.85 1.418-4.29 1.099-1.96 1.192-2.26 1.297-4.043.123-2.08.512-3.158 1.337-3.901.465-.418.866-.638 1.621-.71.252-.023.553.001.892 0 1.43-.003 2.07.167 2.513.674.414.476.46 1.061.121 2.341a17.04 17.04 0 0 0-.405 2.305c-.14 1.517-.442 2.38-1.216 3.582-.986 1.53-1.012 1.665-1.013 4.22-.001 2.05.019 2.26.243 2.872.134.365.4.854.60esize: none;8 1.1.46.543 1.83 1.57 3.283 2.481 1.407.883 3.007 2.24 3.971 3.37 1.025 1.188 2.491 2.362 2.675 3.9.003 1.124-.745 2.542-1.823 3.475-.554.479-.933.703-2.027 1.17-1.506.644-2.074 1.062-2.188 1.596a.6.6 0 0 0 0 .32c2.66-.024 5.358-.01 8.065.07.311-.26.586-.581.81-.993.41-.752.727-1.13 1.135-1.099.408.03.874.482 1.5 1.312.302.403.6.734.891.993 1.095.062 2.17.133 3.242.213.397-.427.658-1.072.81-1.986.106-.628.102-.913-.04-1.631-.325-1.647-.772-2.288-2.107-3.263-.451-.329-.943-.757-1.094-.957-.402-.531-.528-1.235-.365-1.915.199-.829 1.124-2.298 2.188-3.546.954-1.118 1.455-1.817 2.23-3.12.29-.49.721-.969 1.377-1.56.526-.475 1.102-1.14 1.297-1.455l.324-.567v-3.227c-.013-2.3.14-4.531.487-6.809.288-2.732 1.395-4.887 2.918-7.234.87-1.574 1.28-2.021 2.026-2.021 1.001 0 1.61.97 1.905 3.014.337 2.007 1.453 3.723 2.148 5.638.424 1.364.726 1.978 1.702 3.688.926 1.624 1.706 3.434 1.945 4.54.127.584.162 1.396.162 3.085.001 2.488.096 3.48.446 4.751.267.967.397 3.739.284 5.603-.066 1.09-.091 1.233-.77 2.98-.996 2.56-1.225 3.31-1.419 4.61-.186 1.251-.312 1.554-.972 2.8-.04.076-.047.14-.081.213 3.439.491 5.476.855 6.646 1.064.145-.913-.141-1.848-.081-2.766.16-.226-.218-1.835-.851-3.546-1.007-2.721-1.085-3.156-.567-5 .09-.32.229-1.386.283-2.376.104-1.902.202-2.38.77-3.617.51-1.109.66-1.597.73-2.73.082-1.318-.096-2.09-.649-3.228-.547-1.124-.618-1.637-.364-2.837.274-1.298.273-4.346 0-5.319-.272-.967-.411-4.475-.365-8.972l.567-5.496c.874-2.974 1.407-4.043 2.108-4.043.642 0 1.246.92 1.661 2.59.254 1.547.126 3.137.446 4.68.414 2.13-.249 4.261-1.5 6.1-.742 1.138-.998 1.958-.81 2.553.15.474.703 1.004 1.135 1.099.187.041.422-.025.689-.142.33-.145.666-.508 1.823-2.021.785-1.026 1.532-2.11 1.662-2.412 1.08-4.14 1.123-7.197.527-11.277 0-2.65-.42-3.642-2.513-5.638-3.922-4.27-6.184-8.018-8.434-13.051-.776-1.128-1.906-2.496-2.756-3.333-1.323-1.303-2.113-2.594-2.837-4.54-1.043-2.315-1.936-5.051-3.485-7.056-1.459-1.43-2.819-3-4.945-3.724-2.019-.828-3.708-.945-5.714-.886zm-2.229 49.185c.16.01.31.092.486.213.498.343.617.728.892 3.333.144 1.36.33 3.065.446 3.795.512 3.22.593 4.229.446 5.319-.076.561-.153 1.719-.203 2.553-.14 2.35-.52 3.392-1.986 5.603-.447.675-.996 1.545-1.216 1.95-.438.806-.908 1.348-1.378 1.56-.46.21-1.064.171-1.661-.106-.822-.38-2.318-1.395-3.04-2.055-.77-.707-1.097-1.088-1.984-2.483-1.01-1.585-1.135-1.917-1.135-2.624-.001-.924.385-1.609 1.418-2.482.451-.381 1.428-1.228 2.148-1.88 1.491-1.348 1.531-1.416 1.905-3.333.339-1.737.346-1.766 1.743-3.546.5-.637.737-1.216 1.337-3.191.554-1.826.804-2.278 1.256-2.483.217-.098.367-.15.527-.142z'/></svg>") 7px / 26px no-repeat;
}

.perl6 {
    background: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='948' height='693' viewBox='22 40 948 693'><path d='M218.846 65.094c-54.538.034-106.1 22.855-138.578 67.123a4.493 4.493 0 0 0-.002.004c-57.616 78.706-32.397 194.755 55.472 259.03 31.221 22.871 66.294 36.212 101.121 40.376a177.51 177.51 0 0 0-22.06 13.83l.006-.002c-70.294 51.388-90.426 144.062-44.46 206.883 46.09 62.94 140.466 71.717 210.757 20.207 39.029-28.532 62.58-69.793 67.931-111.625a177.423 177.423 0 0 0 14.947 3.582v36.623a5.395 5.395 0 0 0 .776 2.785l20.5 34a5.395 5.395 0 0 0 4.619 2.61v-10.79h3.047l-18.152-30.105v-33.357a186.784 186.784 0 0 0 24.605 1.627c3.438 0 6.847-.104 10.23-.288v33.643a5.395 5.395 0 0 0 .776 2.785l20.5 34a5.395 5.395 0 0 0 4.619 2.61v-10.79h3.047l-18.152-30.105v-33.043c11.423-1.29 22.45-3.613 32.923-6.86 4.741 42.626 28.402 84.933 68.09 114.071a2.689 2.689 0 0 0 .006.002c70.29 51.385 164.664 42.61 210.754-20.33l.002-.002c46.091-62.82 25.962-155.616-44.205-207.006a178.523 178.523 0 0 0-16.504-10.744c29.329-5.866 58.392-18.312 84.709-37.588 87.24-63.9 112.333-179.078 54.97-257.404-32.197-43.991-83.437-66.69-137.636-66.76-42.155-.054-86.1 13.582-124.268 41.539a4.493 4.493 0 0 0-.004.004c-71.235 52.28-101.01 138.664-78.306 211.178a64.226 64.226 0 0 0-15.272 7.629 177.938 177.938 0 0 0-32.543-7.315c1.607-32.343-8.158-65.498 4.285-90.709a6.297 6.297 0 0 0 .16-.35l7.29-17.357 4.802 8.082-3.359.658 2.422 12.36 12.125-2.375a6.297 6.297 0 0 0 4.201-9.397l-15.75-26.5a6.297 6.297 0 0 0-5.195-3.076 6.297 6.297 0 0 0-6.024 3.856l-12.105 28.826c.049-.1.091-.201.14-.301l-.16.35.02-.05c-15.025 30.81-4.337 65.929-5.424 94.801-3.688-.219-7.41-.334-11.164-.334-4.008 0-7.98.132-11.912.381-1.111-28.897 9.477-64.034-5.553-94.85l.022.052-.16-.35c.048.1.09.2.138.299l-12.103-28.825a6.297 6.297 0 0 0-5.977-3.855 6.297 6.297 0 0 0-5.242 3.076l-15.75 26.5a6.297 6.297 0 0 0 4.201 9.397l12.125 2.375 2.422-12.36-3.36-.658 4.803-8.082 7.29 17.357a6.297 6.297 0 0 0 .16.35c12.462 25.25 2.778 58.45 4.416 90.809-12.746 1.688-24.956 4.692-36.436 8.804a64.279 64.279 0 0 0-18.158-9.437c27.25-74.383-2.253-165.36-76.38-219.586-38.44-28.175-82.657-41.935-125.075-41.908zm-10.397 34.935a13.48 13.48 0 0 1 1.342.114c20.43 2.74 39.973 4.99 58.79 13.375 18.815 8.384 36.002 23.289 50.226 48.011a13.48 13.48 0 0 1 1.713 8.223c-1.217 10.847.188 32.596-2.479 55.1-2.667 22.504-9.984 47.607-31.42 64.185a13.48 13.48 0 0 1-1.705 1.121l-49.525 27.492c25.948 15.144 54.119 30.01 79.08 46.631l-.254.381a158.916 158.916 0 0 1 4.885 3.123l-.237.356c12.31 8.511 19.448 18.726 16.135 24.359-3.323 5.844-16.627 4.527-30.664-2.566l-.188.28a122.18 122.18 0 0 0-4.185-2.663c-.325-.19-.64-.382-.96-.574-22.812-13.64-52.054-21.801-80.519-31.373-30.651-10.308-61.426-22.517-79.81-49.981a13.48 13.48 0 0 1-.014-.021c-10.985-16.478-27.151-36.517-37.566-58.264-5.208-10.873-9.08-22.377-9.377-34.578-.29-11.929 3.375-24.477 11.75-35.147 19.81-31.266 44.926-56.761 75.65-67.49 7.828-4.78 16.667-8.343 26.785-9.937a13.48 13.48 0 0 1 2.547-.157zm579.975 14.246c5.111-.01 10.26.152 15.412.496 20.608 1.378 41.163 5.965 58.865 15.852 17.702 9.887 32.484 25.669 39.174 47.264l-.084.025c5.812 12.909 6.664 24.144 1.209 27.963-6.789 4.674-20.61-3.255-32.646-18.104l-1.104.342a72.528 72.528 0 0 0-1.021-3.047A100.255 100.255 0 0 1 866 182c-3.655-5.166-6.59-10.392-8.795-15.365-3.273-3.41-6.967-6.177-11.053-8.498-10.453-5.938-23.95-8.63-38.6-8.504-29.298.252-62.722 12.46-78.55 23.064a13.48 13.48 0 0 1-.025.018 1294.2 1294.2 0 0 1-10.143 6.695l62.865 26.28a13.48 13.48 0 0 1 3.041 1.769c40.242 31.09 48.007 86.34 34.26 130.775a13.48 13.48 0 0 1-.006.022c-5.552 17.835-14.93 30.574-28.328 36.576-13.399 6.002-27.714 6.633-47.78 9.28-19.797 2.619-35.205 6.252-51.536 4.353-16.328-1.9-31.813-10.978-46.067-28.6-15.195-18.734-27.762-44-33.931-70.144-6.17-26.144-6.23-53.925 8.314-75.703 30.384-45.514 26.908-42.975 78.457-77.34 20.563-13.778 54.52-22.326 90.3-22.403zm-577.88 17.364A71.468 71.468 0 0 0 190.3 134.8c-5.065 3.535-9.745 8.13-14.615 13.789-10.452 12.14-20.757 28.836-34.58 45.762-5.945 7.35-8.07 12.484-8.63 15.964-.559 3.481-.057 6.056 2.079 10.323 4.272 8.533 16.54 21.147 28.898 39.617a13.48 13.48 0 0 1 .008.012c10.061 15.07 26.342 28.363 45.45 41.023l55.316-44.082a13.48 13.48 0 0 1 .154-.121c27.71-21.43 24.17-54.107 26.74-83.442-4.054-10.702-13.437-19.644-27.523-26.85-14.717-7.527-33.896-12.574-53.051-15.157zM334.58 153.86c14.778.73 29.007 5.782 40.795 15.514 32.375 26.5 34.25 77.625 4.125 114.25-25.952 31.684-67.243 42.032-98.873 27.094 25.628 1.21 52.882-10.534 71.873-33.719 30.125-36.625 28.25-87.875-4.125-114.375a67.256 67.256 0 0 0-13.795-8.764zm-115.83 4.764c29.75 0 53.875 23.625 53.875 52.875s-24.125 52.875-53.875 52.875-53.875-23.625-53.875-52.875S189 158.625 218.75 158.625zm6.932 35.79c-5.895-.067-11.815 1.843-16.682 5.835-11.25 9.125-12.75 25.75-3.375 37.125s26 13.125 37.125 4 12.625-25.75 3.25-37.125a26.536 26.536 0 0 0-20.318-9.836zm467.297 2.355c-13.452 9.87-16.222 15.869-36.133 45.697-9.31 13.99-11.528 29.865-8.373 46.945 3.154 17.08 12.032 34.983 24.494 50.348a13.48 13.48 0 0 1 .013.015c5.874 7.264 10.343 11.103 13.48 12.916 3.139 1.814 4.951 2.159 8.519 2.041 7.134-.234 20.947-5.091 42.76-7.968 20.384-2.69 32.22-4.811 37.714-7.836 5.494-3.025 8.385-6.838 12.918-21.526 4.597-14.904-.269-30.8-11.74-47.62-11.432-16.763-29.052-33.082-45.565-45.844l-38.48-26.602.393-.566zm117.44 1.88c24.046.384 48.968 12.053 66.706 33.725 29.875 36.375 28.125 87.25-4 113.625-16.273 13.36-37.196 17.822-57.766 14.258 11.217-2.04 21.855-6.736 31.016-14.258 32-26.375 33.875-77.25 4-113.625-14.8-18.02-34.602-29.097-54.723-32.49a74.107 74.107 0 0 1 14.768-1.235zM711.5 237.125c26.125 0 47.25 21.5 47.25 48.125s-21.125 48.125-47.25 48.125c-26.25 0-47.375-21.5-47.375-48.125s21.125-48.125 47.375-48.125zm-.547 28.953c-5.877-.083-11.765 1.805-16.578 5.797-11 9-12.375 25.625-3.125 36.875 9.25 11.375 25.75 13.125 36.875 4.125 11-9.125 12.375-25.625 3.125-37a26.786 26.786 0 0 0-20.297-9.797zm-310.828 69.844c28.606 0 51.703 22.989 51.703 51.578 0 28.45-23.114 51.578-51.703 51.578-28.59 0-51.578-23.11-51.578-51.578a51.425 51.425 0 0 1 51.578-51.578zm191.625 0a51.425 51.425 0 0 1 51.578 51.578c0 28.467-22.989 51.578-51.578 51.578-28.59 0-51.703-23.127-51.703-51.578 0-28.59 23.097-51.578 51.703-51.578zm-92.375.473c16.327 0 31.942 2.226 46.432 6.287-11.338 11.571-18.354 27.384-18.354 44.818 0 35.3 28.886 64.172 64.297 64.172 17.926 0 34.14-7.412 45.79-19.3a87.785 87.785 0 0 1 1.19 14.378c0 60.361-61.681 110.355-139.355 110.355-77.674 0-139.355-49.994-139.355-110.355 0-2.982.168-5.936.466-8.863 10.92 8.615 24.68 13.785 39.639 13.785 35.41 0 64.297-28.873 64.297-64.172 0-16.644-6.388-31.817-16.832-43.227 15.968-5.072 33.427-7.878 51.785-7.878zm-97.5 21.855c-16 0-29 13-29 29s13 29 29 29 28.875-13 28.875-29-12.875-29-28.875-29zm189.875.375c-16.125 0-29 12.875-29 28.875 0 15.875 12.875 28.875 29 28.875 16 0 28.875-13 28.875-28.875 0-16-12.875-28.875-28.875-28.875zm-249.887 55.691l.032.069c-.04-.007-.078-.017-.118-.024.03-.014.057-.03.086-.045zm481.078 28.854v1.66h5.176v12.92h1.983v-12.92h5.175v-1.66h-12.334zm14.141 0v14.58h1.914v-12.803l3.76 10h1.982l3.76-10v12.803h1.924v-14.58h-2.94l-3.74 9.922-3.72-9.922h-2.94zM442 476.34c-2.008 13.837 6.524 25.776 17.611 34.056 11.087 8.28 25.46 13.955 39.848 16.372 14.388 2.416 28.97 1.81 40.377-5.157 11.13-6.798 17.144-20.875 13.748-37.888v-2.848h-16.168v3.375a8.084 8.084 0 0 0 .2 1.78c2.97 13.165-.108 18.06-6.206 21.784-6.097 3.725-17.335 5.018-29.275 3.012-11.94-2.005-24.404-7.073-32.852-13.383-8.448-6.31-12.15-12.807-11.283-18.783l-16-2.32zm-146.738 7.974a79.1 79.1 0 0 1 2.484.01c15.87.312 31.129 5.41 43.645 15.676 33.25 27.375 34.375 81 2.375 119.875-31.875 39-84.75 48.375-118.125 21-33.25-27.375-34.375-81-2.5-120 19.375-23.538 46.402-36.261 72.12-36.56zm405.867.125c25.718.3 52.746 13.023 72.121 36.561 31.875 39 30.75 92.625-2.5 120-33.375 27.375-86.25 18-118.25-21-31.875-38.875-30.75-92.625 2.5-119.875 12.516-10.266 27.774-15.364 43.645-15.676.826-.016 1.654-.02 2.484-.01zM312.83 511.365c-13.989-.255-30.44 8.135-42.814 23.26-18 21.875-20.375 49.625-5.375 61.875 15 12.375 41.75 4.625 59.75-17.25 17.875-22 20.25-49.75 5.375-62-4.727-3.867-10.577-5.769-16.936-5.885zm366.34 3.621c-6.338.12-12.147 2.022-16.795 5.889-15.125 12.25-12.75 40 5.25 61.875C685.5 604.5 712.25 612.25 727.25 600c15-12.375 12.625-40.125-5.25-61.875-12.375-15.04-28.886-23.402-42.83-23.139z' fill-rule='evenodd'/></svg>") 7px / 26px no-repeat;
}

.php {
    background: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 100 100.62893'><path d='M47.378 16.616c-16.602.747-35.414 4.591-46.088 18.201-6.58 8.261-3.316 20.669 4.75 26.561 16.976 13.183 40.52 14.959 61.22 11.477 13.532-2.767 29.318-8.471 34.352-22.49 3.56-12.171-7.163-22.433-17.306-26.808-11.465-5.35-24.326-7.218-36.926-6.941zm1.45 7.064c15.229.157 32.378 2.537 43.373 14.191 5.71 5.943 2.346 15.178-3.98 19.096-16.958 11.447-39.134 12.367-58.52 7.99-9.644-2.739-22.054-7.089-24.802-17.924-.75-10.506 10.682-16.175 19.034-19.249 8.08-2.786 16.396-3.961 24.895-4.103z'/><path id='a' fill-rule='evenodd' d='M23.51 57.312L27.68 36.2h9.644c4.17.26 6.256 2.346 6.256 5.995 0 6.255-4.953 9.904-9.384 9.644h-4.691l-1.043 5.473H23.51zm7.037-9.383l1.304-7.82h3.388c1.825 0 3.128.783 3.128 2.346-.26 4.431-2.346 5.213-4.692 5.474h-3.128z'/><path d='M42.016 51.838l4.17-21.112h4.952L50.096 36.2h4.691c4.17.26 5.735 2.345 5.213 4.952l-1.824 10.686h-5.213l1.824-9.644c.261-1.303.261-2.085-1.563-2.085h-3.91l-2.346 11.729h-4.952z'/><use xlink:href='%23a' transform='translate(34.926)' height='160' width='300'/></svg>") 7px / 26px no-repeat;
}

.python {
    background: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 83.49 100'><path d='M41.44 0C20.243 0 21.567 9.626 21.567 9.626l.024 9.975h20.225v2.994h-28.26S-.003 20.986-.003 43.386c0 22.402 11.838 21.607 11.838 21.607h7.065V54.598s-.381-12.4 11.649-12.4h20.06s11.27.191 11.27-11.41V11.606S63.588-.002 41.44-.002zM30.286 6.705c2.012 0 3.639 1.704 3.639 3.812s-1.627 3.812-3.639 3.812-3.639-1.704-3.639-3.812 1.627-3.812 3.64-3.812z'/><path d='M42.05 87c21.194 0 19.87-9.629 19.87-9.629l-.024-9.974H41.671v-2.995h28.26s13.561 1.611 13.561-20.79c0-22.402-11.838-21.607-11.838-21.607H64.59V32.4s.38 12.4-11.65 12.4H32.88s-11.27-.191-11.27 11.41v19.182S19.9 87 42.05 87zM53.2 80.291c-2.012 0-3.639-1.704-3.639-3.812s1.627-3.812 3.64-3.812 3.638 1.704 3.638 3.812-1.627 3.812-3.639 3.812z'/></svg>") 7px / 26px no-repeat;
}

.ruby {
    background: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 87.449997 100'><path d='M22.27 84.479l.039.075.011-.082.333-.041-.002.033L79.2 86.707 2.28 87zM61.951 53.51l23.16 31.317-59.814-2.373zM87.442 84.427L63.56 52.13l20.62-38.597zM.066 76.917l2.735-26.244 4.75 4.07L0 78.334zM9 58.087l11.93 23.721L.874 84.34zM20.781 76.255L9.818 54.424l15.419-9.804zM59.893 51.543L22.82 80.823l4.944-36.01zM45.334 23.195l13.78 26.106-31.115-6.893zM47.85 23.168l32.705-8.752-18.779 35.105zM46.732 20.82l4.53-11.729 25.596 4.154zM83.856 12.065L56.513 7.266l21.844-7.1zM69.755 0L49.113 6.71l-3.737-1.005zM43.695 20.83L25.129 41.54 8.554 51.892l-4.69-4.017 6.645-12.378L26.21 17.971l14.992-10.47 6.934 1.864z'/></svg>") 7px / 26px no-repeat;
}

.tab {
    background: #c6ccd2;
    border-color: #aab3bb;
    display: inline-block;
    text-decoration: none;
}

.tab:hover {
    background: #b8bfC7;
}

.tab.on {
    background: #5fcf80;
    border-color: #3ac162;
}

.tab.on:hover {
    background: #4bc970;
}

#home {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

#login {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'><path d='M137.2 110.3l21.9-21.9c9.3-9.3 24.5-9.4 33.9-.1L344.9 239c9.5 9.4 9.5 24.7 0 34.1L193 423.7c-9.4 9.3-24.5 9.3-33.9-.1l-21.9-21.9c-9.7-9.7-9.3-25.4.8-34.7l77.6-71.1H24c-13.3 0-24-10.7-24-24v-32c0-13.3 10.7-24 24-24h191.5l-77.6-71.1c-10-9.1-10.4-24.9-.7-34.5zM512 352V160c0-53-43-96-96-96h-84c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h84c17.7 0 32 14.3 32 32v192c0 17.7-14.3 32-32 32h-84c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h84c53 0 96-43 96-96z' fill='%23999'/></svg>");
}

#login:hover {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'><path d='M137.2 110.3l21.9-21.9c9.3-9.3 24.5-9.4 33.9-.1L344.9 239c9.5 9.4 9.5 24.7 0 34.1L193 423.7c-9.4 9.3-24.5 9.3-33.9-.1l-21.9-21.9c-9.7-9.7-9.3-25.4.8-34.7l77.6-71.1H24c-13.3 0-24-10.7-24-24v-32c0-13.3 10.7-24 24-24h191.5l-77.6-71.1c-10-9.1-10.4-24.9-.7-34.5zM512 352V160c0-53-43-96-96-96h-84c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h84c17.7 0 32 14.3 32 32v192c0 17.7-14.3 32-32 32h-84c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h84c53 0 96-43 96-96z' fill='%23fff'/></svg>");
}

#logout {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'><path d='M180 448H96c-53 0-96-43-96-96V160c0-53 43-96 96-96h84c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12H96c-17.7 0-32 14.3-32 32v192c0 17.7 14.3 32 32 32h84c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12zm117.9-303.1l77.6 71.1H184c-13.3 0-24 10.7-24 24v32c0 13.3 10.7 24 24 24h191.5l-77.6 71.1c-10.1 9.2-10.4 25-.8 34.7l21.9 21.9c9.3 9.3 24.5 9.4 33.9.1l152-150.8c9.5-9.4 9.5-24.7 0-34.1L353 88.3c-9.4-9.3-24.5-9.3-33.9.1l-21.9 21.9c-9.7 9.6-9.3 25.4.7 34.6z' fill='%23999'/></svg>");
    padding: 10px;
    width: 30px;
}

#logout:hover {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'><path d='M180 448H96c-53 0-96-43-96-96V160c0-53 43-96 96-96h84c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12H96c-17.7 0-32 14.3-32 32v192c0 17.7 14.3 32 32 32h84c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12zm117.9-303.1l77.6 71.1H184c-13.3 0-24 10.7-24 24v32c0 13.3 10.7 24 24 24h191.5l-77.6 71.1c-10.1 9.2-10.4 25-.8 34.7l21.9 21.9c9.3 9.3 24.5 9.4 33.9.1l152-150.8c9.5-9.4 9.5-24.7 0-34.1L353 88.3c-9.4-9.3-24.5-9.3-33.9.1l-21.9 21.9c-9.7 9.6-9.3 25.4.7 34.6z' fill='%23fff'/></svg>")
}

#status {
    background: #fdf3fa;
    border-bottom: 1px solid #e01a22;
    display: none;
}

#status.pass {
    background: #e8f5e5;
    border-bottom: 1px solid #219a00;
}

@media(max-width: 580px) {
    nav a:nth-child(1),
    nav a:nth-child(2),
    nav a:nth-child(3) {
        overflow: hidden;
        padding-right: 0;
        vertical-align: bottom;
        width: 0;
    }
}
