@media (max-width: 34rem) {
    td:nth-child(4) { border-right: 1px solid var(--color) }

    tr > :nth-child(n+5) { display: none }
}

th:has(#chart-container) {
    padding: 0;
    position: initial;
}

th:has(#ai-filter) {
    position: initial;
}

#chart-container {
    position: relative;
}

#ai-filter {
    justify-content: center;
}
