{{ template "header"   . }}
{{ template "rankings" . }}

{{ $mostTiedGolds  := hasSuffix .Path "/most-tied-golds" }}
{{ $oldestDiamonds := hasSuffix .Path "/oldest-diamonds" }}
{{ $oldestUnicorns := hasSuffix .Path "/oldest-unicorns" }}

{{ $oldest         := or $oldestDiamonds $oldestUnicorns }}

{{ $hasGolfer    := not $mostTiedGolds }}

<main id=two-pane>
    {{ template "nav" . }}

    <table class="nowrap-second sticky">
        <thead>
            <tr>
                <th>#
            {{ if $hasGolfer }}
                <th>Golfer
            {{ end }}
                <th>Hole
            {{ if not $oldest }}
                <th class=right>Total
            {{ end }}
            {{ if $oldest }}
                <th class=right>Submitted
            {{ end }}
        <tbody>
        {{ $name := "" }}
        {{ with .Golfer }}{{ $name = .Name }}{{ end }}

        {{ range .Data.Rows }}
            <tr {{ if or .Me (and $hasGolfer (eq $name .Name)) }} class=me {{ end }}>
                <td>{{ comma .Rank }}<sup>{{ ord .Rank }}</sup>
            {{ if $hasGolfer }}
                <td>{{ template "golfer-link" . }}
            {{ end }}
                <td>
                    <a href="/rankings/holes/{{ .Hole.ID }}/{{ .Lang.ID }}/{{ .Scoring }}">
                        {{ svg .Lang.ID }}
                        {{ svg .Scoring }}
                        <span>{{ .Hole.Name }}</span>
                    </a>
            {{ if not $oldest }}
                <td class=right>{{ comma .Count }}
            {{ end }}
            {{ if $oldest }}
                <td class=right>{{ time (.Submitted.In $.Location) }}
            {{ end }}
        {{ end }}
    </table>

    {{ template "pagination" .Data.Pager }}
</main>

{{ template "footer" }}