{{ template "header"   . }}
{{ template "rankings" . }}

{{ $holesOfTheWeek := eq .Path "/rankings/misc/holes-of-the-week" }}
{{ $solutions      := eq .Path "/rankings/misc/solutions" }}

<main id=two-pane>
    {{ template "nav" . }}

    <table class="nowrap-second sticky">
        <thead>
            <tr>
                <th>#
                <th>Golfer
                <th class=right>Total
            {{ if $holesOfTheWeek }}
                <th class=right>Submitted
            {{ end }}
            {{ if $solutions }}
                <th class=right>Bytes
                <th class=right>Chars
            {{ end }}
        <tbody>
        {{ $name := "" }}
        {{ with .Golfer }}{{ $name = .Name }}{{ end }}

        {{ range .Data.Rows }}
            <tr {{ if or .Me (and (eq $name .Name)) }} class=me {{ end }}>
                <td>{{ comma .Rank }}<sup>{{ ord .Rank }}</sup>
                <td>{{ template "golfer-link" . }}
                <td class=right>{{ comma .Count }}
            {{ if $holesOfTheWeek }}
                <td class=right>{{ time (.Submitted.In $.Location) }}
            {{ end }}
            {{ if $solutions }}
                <td class=right>{{ comma .Bytes }}
                <td class=right>{{ comma .Chars }}
            {{ end }}
        {{ end }}
    </table>

    {{ template "pagination" .Data.Pager }}
</main>

{{ template "footer" }}
