{{ template "header"   . }}
{{ template "rankings" . }}

<main id=two-pane>
    {{ template "nav" . }}

    <table class="nowrap-second sticky">
        <thead>
            <tr>
                <th>#
                <th>Golfer
                <th class=right>Holes
                <th class=right>Points
                <th class=right>{{ title .Data.Scoring }}
                <th class=right>Time
        <tbody>
    {{ $name := "" }}
    {{ with .Golfer }}{{ $name = .Name }}{{ end }}

    {{ range .Data.Rows }}
        <tr {{ if eq $name .Name }} class=me {{ end }}>
            <td>{{ comma .Rank }}<sup>{{ ord .Rank }}</sup>
            <td>{{ template "golfer-link" . }}
            <td class=right>{{ .Holes }}
            <td class=right>{{ comma .Points }}
            <td class=right>{{ comma .Strokes }}
            <td class=right>{{ time (.Submitted.In $.Location) }}
    {{ end }}
    </table>

    {{ template "pagination" .Data.Pager }}
</main>

{{ template "footer" }}
