main nav {
    flex-direction: column;
    justify-content: flex-start;
}

@media (max-width: 34rem) {
    td:nth-child(3) { border-right: 1px solid var(--color) }

    tr > :nth-child(n+4) { display: none }
}
