@import "./_rankings.css";

@media (max-width: 34rem) {
    td:nth-child(4) { border-right: 1px solid var(--color) }

    tr > :nth-child(n+5) { display: none }
}

th:has(#chart-container) {
    max-width: 0;  /* Issue #2583 WebKit fix */
    padding: 0;
    position: initial;
}

#chart-container {
    position: relative;
}
