#matrix {
    display: grid;
    grid-gap: .25rem;
    grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
    padding: 1rem;
}

#matrix a {
    align-items: center;
    border: 1px solid var(--color);
    color: var(--color);
    display: flex;
    padding: .25rem;
    text-decoration: none;
}

#matrix a:hover { background: var(--background) }

#matrix h3 { padding: .25rem 0 }

/* When adding a new language, update grid-template-columns for #matrix below. */
#matrix input,
#matrix input.bash:not(:checked)       ~ .bash,
#matrix input.brainfuck:not(:checked)  ~ .brainfuck,
#matrix input.c:not(:checked)          ~ .c,
#matrix input.c-sharp:not(:checked)    ~ .c-sharp,
#matrix input.cobol:not(:checked)      ~ .cobol,
#matrix input.f-sharp:not(:checked)    ~ .f-sharp,
#matrix input.fortran:not(:checked)    ~ .fortran,
#matrix input.go:not(:checked)         ~ .go,
#matrix input.haskell:not(:checked)    ~ .haskell,
#matrix input.j:not(:checked)          ~ .j,
#matrix input.java:not(:checked)       ~ .java,
#matrix input.javascript:not(:checked) ~ .javascript,
#matrix input.julia:not(:checked)      ~ .julia,
#matrix input.lisp:not(:checked)       ~ .lisp,
#matrix input.lua:not(:checked)        ~ .lua,
#matrix input.nim:not(:checked)        ~ .nim,
#matrix input.perl:not(:checked)       ~ .perl,
#matrix input.php:not(:checked)        ~ .php,
#matrix input.powershell:not(:checked) ~ .powershell,
#matrix input.python:not(:checked)     ~ .python,
#matrix input.raku:not(:checked)       ~ .raku,
#matrix input.ruby:not(:checked)       ~ .ruby,
#matrix input.rust:not(:checked)       ~ .rust,
#matrix input.swift:not(:checked)      ~ .swift { display: none }

#matrix input:checked + label {
    background: var(--color);
    color: var(--background);
}

#matrix label {
    cursor: pointer;
    padding: .25rem;
    text-align: center;
}

#matrix svg {
    height: 1.5rem;
    width: 2rem;
}

#matrix a svg { margin-right: .5rem }

@media (min-width: 1280px) {
    /* Increase this number when adding a language. */
    #matrix { grid-template-columns: 4fr repeat(24, 1fr) }

    #matrix a {
        display: initial;
        height: 1.9rem;
        text-align: center;
    }

    #matrix a svg { display: none }

    #matrix .span {
        grid-column: 1/2;
        overflow: hidden;
        text-align: right;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    #matrix input:checked + label { grid-column: 2/3 }

    #matrix input:not(:checked) + label {
        grid-column: 2/3;
        order: -1;
    }

    #matrix input:checked + label ~ input:checked + label,
    #matrix input:not(:checked) + label ~ input:not(:checked) + label {
        grid-column: auto;
    }
}
