[role=group] {
    display: grid;
    gap: 1rem;
    grid-template-columns: min-content min-content 1fr;
}

form {
    display: grid;
    gap: 1rem;
    max-width: 30rem;
}

form + form {
    border-top: 1px solid var(--grey);
    padding-top: 1rem;
}

h2 { font-size: 1.25rem }

label {
    align-items: center;
    display: grid;
    gap: .5rem;
    grid-template-columns: min-content 1fr;
}

:root.dark select {
    background: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'><path d='M2 0L0 2h4zm0 5L0 3h4' fill='%23ebebeb'/></svg>") no-repeat right .5rem center/auto calc(100% - 1.25rem), var(--background);
    color: var(--color);
}

input[type=text] {
    background: var(--background);
    color: var(--color);
    font-size: 1rem;
    padding: 0.25rem;
    border-radius: 0.25rem;
}
