[role=group] {
    display: grid;
    gap: 1rem;
    grid-template-columns: min-content min-content 1fr;
}

form {
    display: grid;
    gap: 1rem;
    max-width: 30rem;
}

form + form {
    border-top: 1px solid var(--grey);
    padding-top: 1rem;
}

h2 { font-size: 1.25rem }

label {
    align-items: center;
    display: grid;
    gap: .5rem;
    grid-template-columns: min-content 1fr;
}

input[type=text] {
    background: var(--background);
    color: var(--color);
    font-size: 1rem;
    padding: 0.25rem;
    border-radius: 0.25rem;
}
