form {
    align-items: center;
    display: grid;
    grid-gap: .5rem;
    grid-template-columns: min-content 1fr;
    max-width: 40rem;
}

form > :last-child { grid-column: -2 / -1 }

input, select {
    background: var(--background);
    border: 1px solid var(--color);
    font: 16px emoji, font, system-ui, -apple-system, sans-serif;
    padding: .5rem;
    width: 100%;
}

label {
    font-weight: bold;
    text-align: right;
    white-space: nowrap;
}

@media (max-width: 34rem) {
    form { grid-template-columns: 1fr }

    label { text-align: left }
}
