{{ template "header"   . }}
{{ template "rankings" . }}

{{ $id := "" }}
{{ with $.Data.Cheevo }}{{ $id = .ID }}{{ end }}

<main>
    <form id=form-nav>
        <input name=base type=hidden value=/rankings/cheevos>

        <select name=cheevo>
            <option value>All
        {{ range $category, $cheevos := .Cheevos }}
            <optgroup label="{{ $category }}">
            {{ range $cheevos }}
                <option value="{{ .ID }}" {{ if eq $id .ID }} selected {{ end }}>
                    {{ .Emoji }}&ensp;{{ .Name }}
            {{ end }}
        {{ end }}
        </select>
    </form>

    <nav>
        <a {{ if $id }} href=/rankings/cheevos {{ end }}>
            <span>All</span>
        </a>
{{ range $category, $cheevos := .Cheevos }}
        <h2>{{ $category }}</h2>
    {{ range $cheevos }}
        <a {{ if ne $id .ID }}
            href="/rankings/cheevos/{{ .ID }}"
        {{ end }} title="{{ .Description }}">
            <span>{{ .Name }}</span>
            <span>{{ .Emoji }}</span>
        </a>
    {{ end }}
{{ end }}
    </nav>

    <table class="nowrap-second sticky">
        <thead>
            <tr>
                <th>#
                <th>Golfer
            {{ if not $.Data.Cheevo }}
                <th class=right>Count
            {{ end }}
                <th class=right>Earned
        <tbody>
        {{ $name := "" }}
        {{ with .Golfer }}{{ $name = .Name }}{{ end }}

        {{ range .Data.Rows }}
            <tr{{ if eq $name .Name }} class=me {{ end }}>
                <td>{{ comma .Rank }}<sup>{{ ord .Rank }}</sup>
                <td>{{ template "golfer-link" . }}
            {{ if not $.Data.Cheevo }}
                <td class=right>{{ .Count }} / {{ $.Data.Total }}
            {{ end }}
                <td class=right>{{ time (.Earned.In $.Location) }}
        {{ end }}
    </table>

    {{ template "pagination" .Data.Pager }}
</main>

{{ template "footer" }}
