{{ template "header"   . }}
{{ template "rankings" . }}

{{ $id := "" }}
{{ with $.Data.Cheevo }}{{ $id = .ID }}{{ end }}

<main>
    <form class=thin>
        <input type=hidden value=/rankings/cheevos>
        <select>
            <option value>All
        {{ range $category, $cheevos := .Data.Cheevos }}
            <optgroup label="{{ $category }}">
            {{ range $cheevos }}
                <option value="{{ .ID }}" {{ if eq $id .ID }} selected {{ end }}>
                    {{ .Emoji }}&ensp;{{ .Name }}
            {{ end }}
        {{ end }}
        </select>
    </form>

{{ with $.Data.Cheevo }}
    <p class=thin>{{ .Description }}
{{ end }}

    <nav class=wide>
        <a {{ if $id }} href=/rankings/cheevos {{ end }}>
            <span>All</span>
        </a>
{{ range $category, $cheevos := .Data.Cheevos }}
        <h2>{{ $category }}</h2>
    {{ range $cheevos }}
        <a {{ if ne $id .ID }}
            href="/rankings/cheevos/{{ .ID }}"
        {{ end }} title="{{ .Description }}">
            <span>{{ .Name }}</span>
            <span>{{ .Emoji }}</span>
        </a>
    {{ end }}
{{ end }}
    </nav>

    <table class="nowrap-second sticky">
        <thead>
            <tr>
                <th>#
                <th>Golfer
            {{ if not $.Data.Cheevo }}
                <th class=right>Count
            {{ end }}
                <th class=right>Earned
        <tbody>
        {{ $name := "" }}
        {{ with .Golfer }}{{ $name = .Name }}{{ end }}

        {{ range .Data.Rows }}
            <tr{{ if eq $name .Login }} class=me {{ end }}>
                <td>{{ comma .Rank }}<sup>{{ ord .Rank }}</sup>
                <td>
                    <a href="/golfers/{{ .Login }}">
                        <img loading=lazy src="//avatars.githubusercontent.com/{{ .Login }}?s=24">
                        <span>{{ .Login }}</span>
                    {{ with index $.Countries .Country }}
                        <span class=flag title="{{ .Name }}">{{ .Flag }}</span>
                    {{ end }}
                    </a>
            {{ if not $.Data.Cheevo }}
                <td class=right>{{ .Count }} / {{ $.Data.Total }}
            {{ end }}
                <td class=right>{{ time .Earned }}
        {{ end }}
    </table>
</main>

{{ template "footer" }}
