{{ template "header"   . }}
{{ template "rankings" . }}

<main id=two-pane>
    {{ template "nav" . }}

    <table class="nowrap-second sticky">
        <thead>
            <tr>
                <th>#
                <th>Golfer
            {{ if not $.Data.Cheevo }}
                <th class=right>Count
            {{ end }}
                <th class=right>Earned
        <tbody>
        {{ $name := "" }}
        {{ with .Golfer }}{{ $name = .Name }}{{ end }}

        {{ range .Data.Rows }}
            <tr{{ if eq $name .Name }} class=me {{ end }}>
                <td>{{ comma .Rank }}<sup>{{ ord .Rank }}</sup>
                <td>{{ template "golfer-link" . }}
            {{ if not $.Data.Cheevo }}
                <td class=right>{{ .Count }} / {{ $.Data.Total }}
            {{ end }}
                <td class=right>{{ time (.Earned.In $.Location) }}
        {{ end }}
    </table>

    {{ template "pagination" .Data.Pager }}
</main>

{{ template "footer" }}
