{{ template "header"   . }}
{{ template "rankings" . }}

{{ $oldestDiamonds := eq .Path "/rankings/misc/oldest-diamonds" }}
{{ $solutions      := eq .Path "/rankings/misc/solutions" }}

<main id=two-pane>
    {{ template "nav" . }}

    <table class="nowrap-second{{ if $oldestDiamonds }}-third{{ end }} sticky">
        <thead>
            <tr>
                <th>#
                <th>Golfer
            {{ if $oldestDiamonds }}
                <th>Hole
                <th class=right>Submitted
            {{ else }}
                <th class=right>Total
            {{ end }}
            {{ if $solutions }}
                <th class=right>Bytes
                <th class=right>Chars
            {{ end }}
        <tbody>
        {{ $name := "" }}
        {{ with .Golfer }}{{ $name = .Name }}{{ end }}

        {{ range .Data.Rows }}
            <tr{{ if eq $name .Name }} class=me {{ end }}>
                <td>{{ comma .Rank }}<sup>{{ ord .Rank }}</sup>
                <td>{{ template "golfer-link" . }}
            {{ if $oldestDiamonds }}
                <td>
                    <a href="/rankings/holes/{{ .Hole }}/{{ .Lang }}/{{ .Scoring }}">
                        <svg><use href="#{{ .Lang }}"/></svg>
                        <svg><use href="#{{ .Scoring }}"/></svg>
                        <span>{{ (index $.Holes .Hole).Name }}</span>
                    </a>
                <td class=right>{{ time .Submitted }}
            {{ else }}
                <td class=right>{{ comma .Count }}
            {{ end }}
            {{ if $solutions }}
                <td class=right>{{ comma .Bytes }}
                <td class=right>{{ comma .Chars }}
            {{ end }}
        {{ end }}
    </table>

    {{ template "pagination" .Data.Pager }}
</main>

<svg>
    {{ symbol "bytes" }}
    {{ symbol "chars" }}
{{ range .Langs }}
    {{ symbol .ID }}
{{ end }}
</svg>

{{ template "footer" }}
