{{ template "header"   . }}
{{ template "rankings" . }}

<main id=two-pane>
    {{ template "nav" . }}

    <table class="nowrap-second sticky {{ if eq .Data.HoleID "all" }}all-holes{{ else }}one-hole{{ end }}">
        <thead>
            <tr>
                <th>#
                <th>Golfer
                <th class=right>
                    {{ if eq .Data.HoleID "all" }}Holes{{ else }}Lang{{ end }}
                <th class=right>Points
                <th class=right>{{ title .Data.Scoring }}
                <th class=right>Time
        <tbody>
    {{ $name := "" }}
    {{ with .Golfer }}{{ $name = .Name }}{{ end }}

    {{ range .Data.Rows }}
        <tr{{ if eq $name .Name }} class=me {{ end }}>
            <td>{{ comma .Rank }}<sup>{{ ord .Rank }}</sup>
            <td>{{ template "golfer-link" . }}
            <td class=right>
            {{ if eq $.Data.HoleID "all" }}
                {{ .Holes }}
            {{ else }}
                {{ .Lang.Name }}
            {{ end }}
            <td class=right>{{ comma .Points }}
            <td class=right>
            {{ if eq $.Data.HoleID "all" }}
                {{ comma .Strokes }}
            {{ else }}
                <a href="/golfers/{{ .Name }}/{{ $.Data.HoleID }}/{{ .Lang.ID }}/{{ $.Data.Scoring }}"
                {{ if .OtherStrokes }}
                   data-tooltip="{{ title $.Data.Scoring }} solution is {{ comma .Strokes }} {{ $.Data.Scoring }}, {{ comma .OtherStrokes }} {{ $.Data.OtherScoring }}."
                {{ end }}>
                   {{ comma .Strokes }}
                </a>
            {{ end }}
            <td class=right>{{ time (.Submitted.In $.Location) }}
    {{ end }}
    </table>

    {{ template "pagination" .Data.Pager }}
</main>

{{ template "footer" }}
