{{ template "header"   . }}
{{ template "rankings" . }}

<main>
    <table class="nowrap-second sticky">
        <thead>
            <tr>
                <th>#
                <th>Golfer
                <th>Count
                <th class=right>Bytes
                <th class=right>Chars
                <th class=right>Submitted
        <tbody>
        {{ $name := "" }}
        {{ with .Golfer }}{{ $name = .Name }}{{ end }}

        {{ range .Data }}
            <tr{{ if eq $name .Login }} class=me {{ end }}>
                <td>{{ comma .Rank }}<sup>{{ ord .Rank }}</sup>
                <td>
                    <a href="/golfers/{{ .Login }}">
                        <img loading=lazy src="//avatars.githubusercontent.com/{{ .Login }}?s=24">
                        <span>{{ .Login }}</span>
                    {{ with index $.Countries .Country }}
                        <span class=flag title="{{ .Name }}">{{ .Flag }}</span>
                    {{ end }}
                    </a>
                <td class=right>{{ comma .Count }}
                <td class=right>{{ comma .Bytes }}
                <td class=right>{{ comma .Chars }}
                <td class=right>{{ time .Submitted }}
        {{ end }}
    </table>
</main>

{{ template "footer" }}
