name: Lint & Test
on:
  pull_request:
  push:
    branches: [master]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-go@v4
        with:
          go-version: '1.21.0-rc.3'

      - uses: actions/setup-node@v3
        with:
          node-version: latest

      - run: npm install
      - run: make lint
      - run: make test
      - run: go install filippo.io/mkcert@latest
      - run: make cert
      - run: make e2e
