name: Lint & Test
on:
  - pull_request
  - push
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-go@v2
        with:
          go-version: 1.18

      - uses: actions/setup-node@v2
        with:
          node-version: 16

      - run: npm install
      - run: make lint
      - run: make test
      - run: go get filippo.io/mkcert
      - run: make cert
      - run: make e2e
